// Payment
//
// Markup: atoms.payment.hbs
//
// Styleguide: atoms.payment

.payment{
    padding: 45px 0 36px;
    background: $_rgbWhite;
    position: relative;
    z-index: 1;
}


.payment__headline{
    margin-bottom: 23px;
    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbApple;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
}

.payment__methods{
    @include limitWidth(700px);
    width: 100%;
    text-align: center;
}

.payment__method{
    display: inline-block;
    width: 33.333%;
    height: 50px;

    vertical-align: middle;
    padding: 0 !important;
    text-align: center;

    &:before{
        position: static !important;
        margin: 0 !important;
    }

    path{
        fill: $_rgbSilverChalice;
    }
}

.payment__method__paypal{
    svg{
        height: 18px;
        width: auto; //72px);
    }
}

.payment__method__visa{
    svg{
        height: 17px;
        width: auto; //54px);
    }
}

.payment__method__mastercard{
    svg{
        height: 33px;
        width: auto; //57px);
    }
}

.payment__method__klarna{
    svg{
        height: 24px;
        width: auto; //87px);
    }
}

.payment__method__sepa{
    svg{
        height: 21px;
        width: auto; //78px);
    }
}

.payment__method__sofort{
    svg{
        height: 36px;
        width: auto; //111px);
    }
}

.payment__method__vorkasse{
    svg{
        height: 29px;
        width: auto; //82px);
    }
}


@media (min-width: 700px){
    .payment__methods{
        display: flex;
    }

    .payment__method{
        flex-grow: 1;
        width: auto;
    }
}

@media (max-width: 400px){
    .payment__method{
        width: 50%;
    }
}