// Payment
//
// Markup: atoms.payment.hbs
//
// Styleguide: atoms.payment

.payment{
    padding: 45px 0 36px;
    background: $_rgbWhite;
    position: relative;
    z-index: 1;
}


.payment__headline{
    margin-bottom: 23px;
    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbApple;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
}

.payment__methods{
    height: 36px;
    color: $_rgbSilverChalice;
    @include limitWidth(700px);
    width: 100%;
    display: table;
    text-align: center;
}

.payment__method{
    width: 33.333%;
    height: 50px;

    vertical-align: middle;
    padding: 0 !important;
    text-align: center;

    &:before{
        position: static !important;
        margin: 0 !important;
    }
}

.payment__method__paypal{
    @include pdif('paypal', 18px, 72px);
}

.payment__method__visa{
    @include pdif('visa', 17px, 54px);
}

.payment__method__mastercard{
    @include pdif('mastercard', 33px, 57px);
}

.payment__method__klarna{
    @include pdif('klarna', 24px, 87px);
}

.payment__method__sepa{
    @include pdif('sepa', 21px, 78px);
}

.payment__method__sofort{
    @include pdif('sofort', 36px, 111px);
}

.payment__method__vorkasse{
    @include pdif('vorkasse', 29px, 82px);
}


@media (min-width: 700px){
    .payment__method{
        display: table-cell !important;
        width: auto;
        float: none;
    }
}