<div class="payment">
   <h2 class="payment__headline">Accepted Payments</h2>
   <div class="payment__methods">
       <div class="payment__method payment__method__paypal"></div>
       <div class="payment__method payment__method__visa"></div>
       <div class="payment__method payment__method__mastercard"></div>
       <div class="payment__method payment__method__klarna"></div>
       <div class="payment__method payment__method__sepa"></div>
       <div class="payment__method payment__method__sofort"></div>
   </div>
</div>