.product {
    display: flex;
    flex-grow: 1;


    &:hover {
        .product__container {
            background: #fff;
            box-shadow: 0 10px 10px $shadow-gray;
            transition: box-shadow .2s ease;
        }
    }

    &__container {
        width: 100%;
        padding-bottom: 4rem;
        background: $bg-gray;
    }

    &__action {
        position: absolute;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        margin: auto;
    }

    &.slick-slide {
        display: flex;
        height: auto;
    }

    .thumbnail {
        box-shadow: none;
        border: none;
        &:hover {
            box-shadow: none;
        }
    }

    .product-group {
        display: none;
    }

    .catalog-price__price-value {
        font-weight: bold;
    }

    .product__action {
        left: 1rem;
        right: unset;

        .button {
            background-color: transparent;
            color: #000;
            padding: 0.2rem 0;
            &:hover {
                color: $font-gray;
            }
        }

    }
}

