// Message
//
// Markup: atoms.message.hbs
//
// .message--valid    - Lorem
// .message--invalid   - Lorem
//
// Styleguide: atoms.message
//
// Weight: -1

.messages{
    position: fixed;
    z-index: 999;
    @include pageWidth;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    top: 50px;
    left: 0;
    text-align: center;
}

.message{
    display: block;
    position: relative;
    padding: 25px 25px 25px 80px;

    border-radius: $_defaultBorderRadius;
    @include cardShadow;

    font-size: 20px;
    color: $_rgbWhite;
    cursor: pointer;
    text-align: left;

    a{
        text-decoration: none;
        font-family: $_ffBrandonGrotesque-Bold;
        color: $_rgbWhite;
    }

    &:after{
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -12px;

        width: 24px;
        height: 24px;

        border-radius: 50%;
        border: 2px solid $_rgbWhite;
    }

    &:before{
        position: absolute;
        top: 50%;
        margin-top: -12px;

        z-index: 1;
        width: 24px;

        line-height: 24px;
        text-align: center;
        color: $_rgbWhite;
        font-family: $_ffPetsDeliIcons;
    }

    &:after, &:before{
        left: 30px;
    }

    & + .message{
        margin-top: 10px;
    }
}

.message--valid{
    background: $_rgbApple;

    &:before{
        content: '\E00F';
        font-size: 8px;
    }
}

.message--invalid{
    background: $_rgbCarnation;

    &:before{
        content: '\E010';
        font-size: 12px;
    }
}


.message--cart{
    display: inline-block;
    padding-left: 40px;

    &:before{
        content: '\E003';
        left: 20px;
        font-size: 20px;
    }

    &:after{
        content: none;
    }
}


@media (min-width: $_wMedium) {
    .message{
        padding: 18px 30px 18px 80px;
    }

    .message--cart{
        padding-left: 60px;
    }
}


@media (min-width: $_wLarge) {
    .message{
        padding: 28px 70px 28px 150px;

        &:after, &:before{
            left: 75px;
        }
    }

    .message--cart{
        padding-left: 120px;

        &:before{
            left: 75px;
        }
    }
}