// Message
//
// Markup: atoms.message.hbs
//
// .message--valid    - Lorem
// .message--invalid   - Lorem
//
// Styleguide: atoms.message
//
// Weight: -1

.message{
    @include pageWidth;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 26px 30px 26px 30px;
    background: $_rgbWhite;
    @include cardShadow;

    border: 2px solid $_rgbWhite;
    border-radius: $_defaultBorderRadius;

    font-size: 20px;
    color: $_rgbSilverChalice;

    a{
        text-decoration: none;
        font-family: $_ffBrandonGrotesque-Bold;
        color: $_rgbSilverChalice;
    }

    &:after{
        position: absolute;
        top: 50%;
        left: 30px;
        margin-top: -12px;
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    &:before{
        position: absolute;
        z-index: 1;
        left: 30px !important;
        width: 24px;
        text-align: center;
        color: $_rgbWhite !important;
    }
}

.message--valid{
    border-color: $_rgbApple;

    @include pdif('check', 8px, 80px);
    display: block;

    &:after{
        background: $_rgbApple;
    }
}

.message--invalid{
    border-color: $_rgbCarnation;

    @include pdif('exclamation', 12px, 80px);
    display: block;

    &:after{
        background: $_rgbCarnation;
    }
}


@media (min-width: $_wMedium) {
    .message{
        padding: 26px 70px 26px 110px;

        &:after{
            left: 110px;
        }

        &:before{
            left: 110px !important;
        }
    }

    .message--valid, .message--invalid{
        padding-left: 150px;
    }
}