<div class="password-input">
    <a class="password-input__forgot" href="/password/forgot">Vergessen?</a>

    {% include '@application/layout/common/forms/input.twig'%}

    <button type="button" class="password-input__toggle">Passwort anzeigen</button>
</div>