{% set type = type | default('password') %}
{% set forgot = forgot | default(false) %}

<div class="password-input">

    {% if forgot %}
        <a class="password-input__forgot" href="/password/forgot/">Vergessen?</a>
    {% endif %}

    {% include '@application/layout/common/forms/input.twig'%}

    <button type="button" class="password-input__toggle">Passwort anzeigen</button>
</div>