/**
 *
 * Demoshop 2.0 prototype
 * @author: Alessandro Bellini - ilmente <hello@ilmente.it>
 *
 */

.__aside {
    position: fixed;
    top: 0;
    right: -$__aside-width;
    width: $__aside-width;
    height: 100%;
    padding: $__aside-closing-bar-height $global-padding $global-padding $global-padding;
    background-color: $body-background;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;

    @include slide();

    &:focus,
    &:hover {
        @include slide(-$__aside-width);

        + .__aside-closing-bar {
            @include slide(-$__aside-width);

            + .__page {
                @include slide(-$__aside-width);
            }
        }
    }
}

.__aside-closing-bar {
    position: fixed;
    top: 0;
    right: -$__aside-width;
    width: $__aside-width;
    min-height: $__aside-closing-bar-height;
    padding: $global-padding;
    background-color: $body-background;
    z-index: 3;

    @include slide();
}

.__page {
    position: relative;
    z-index: 1;
    
    @include slide();
}

.__home-banner {
    background:url(/assets/default/img/home-banner.jpg) center no-repeat;

    .row {
        height: 300px;
    }

    h1 {
        color: $white;
    }
}

