header {
    .header--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .callout {
        width: 100%;
    }
    .nav {
        background: $bg-gray;
        &--left {
            order: 1;
            max-width: 30%;
        }
        &--right {
            order: 2;
            max-width: 70%;
        }
    }
    .logo {
        display: block;
        max-width: 220px;
    }
}

@media screen and (max-width: 1024px){
    header .nav {

        &--left, &--right {
            max-width: 100%;
        }

    }
}
