{% extends '@Cms/layout/full.twig' %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <!-- CMS_PLACEHOLDER : "title" -->
    <div class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h1>{{ spyCms('title') | raw }}</h1>
                {{ spyCmsBlock('quotes_2')}}
                {{ spyCmsBlock('quotes_1')}}
                {{ spyCmsBlock('quotes_3')}}
            </div>
        </div>
    </div>
{% endblock %}

