{% block content %}
    <!-- CMS_PLACEHOLDER : "header" -->
    <!-- CMS_PLACEHOLDER : "body" -->
        <h1>{{ spyCms('header') | raw }}</h1>
        <p>
            {{ spyCms('body') | raw }}
        </p>
{% endblock %}
