.catalog {
  background: #f3f3f5;

  h1.section-title {

  }

  .block {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin: 0 5% 10px;

    .block-title {
      color: #777;
      text-transform: uppercase;
      padding: 15px 0;
      font-size: 24px;
    }
  }

  input.js-filter-category {
    display: none;
  }

  .sidebar {

    ul {
      padding: 0;

      li {
        margin: 0;
        list-style-type: none;

        label {
          font-weight: 300;
        }
      }
    }
  }

  .product-name {
    color: #22242B;
    font-size: 19px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .product-price {
    color: #E2694A;
    font-size: 22px;
    font-weight: normal;

    span {
      color: #777;
      font-size: 16px;
      font-weight: normal;
      text-decoration: line-through;
    }
  }
}

.header-category-listing {

  .product-count {
    line-height: 35px;
  }

  .filter-small {
    font-size: 70%;
  }

  .filter-middle {
    font-size: 85%;
  }

  .filter-large {
    font-size: 100%;
  }

  .group-round {
    button {
      border-radius: 25px;
    }
  }

  .btn-group {
    margin-right: 10px;
  }
}

.site-categories {

  li {

    &.active {
      a {
        font-weight: bold;
      }
    }

    a {
      color: #000;

      span {
        color: #757c8c;

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }
      }
    }
  }
}

#price-range {
  margin: 5px 0 10px;
}
.price-range-display {
  width: 30px;
  text-align: center;
}

.header-category-listing {
  margin: 20px 0;
}

.product-thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @media (max-width: $screen-xs-max) {
    max-height: 300px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    max-height: 400px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    max-height: 300px;
  }
  @media (min-width: $screen-lg-min) {
    max-height: 500px;
  }
}


