.cms-page {
  @media (max-width: $screen-xs-max) {
    padding: 20px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: 20px 50px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    padding: 20px 50px;
  }
  @media (min-width: $screen-lg-min) {
    padding: 20px 100px;
  }
}
