.main-footer {
  background: $footer-background;
  color: $footer-color;
  padding: 20px 0;
  text-align: center;

  a {
    color: $footer-color;
    text-transform: uppercase;

    &:after {
      content: "|";
      padding: 0 6.5px;
    }

    &:last-of-type::after {
      content: "";
      padding: 0;
    }
  }
}
