$font-family: Fira Sans, sans-serif;
$base-font-size: 16px;

$body-font-size: $base-font-size;
$body-line-height: $step;
$body-font-weight: 300;

$bold-font-weight: 600;

body {
  color: $text-color;
  background-color: $light-color;
  font-family: $font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

h1, h2, p, ul, input {
  margin: 0 0 $step;
}

h2, h3 {
  margin: 0;
}

h1, h2, h3 {
  color: $heading-color;
  text-transform: uppercase;
  font-weight: $bold-font-weight;
}

h1 {
  font-size: $step*2;
  line-height: 1;
}

h2 {
  font-size: $body-font-size;
  line-height: $step;

}

