
*[data-viewer-id],
*[data-viewer-default] {
  display: none;

  &.__is-shown {
    display: block;
  }
}

.__image-viewer-block [data-viewer-id] {
  &.__is-shown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 10;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

.__image-viewer-inline {
  display: inline-block;
  position: relative;
  width: 100%;

  & [data-viewer-id] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &.__is-shown {
      position: relative;
      z-index: 0;
    }
  }
}

input.__toggler {
  &:checked ~ .__toggler-target {
    display: block;
  }

  ~ .__toggler-target {
    display: none;
  }
}

input.__toggler.__inverted {
  &:checked ~ .__toggler-target {
    display: none;
  }

  ~ .__toggler-target {
    display: block;
  }
}

.__preview-image {
  position: relative;
  width: 100%;
  height: 10rem;

  &--small {
    height: 5rem;
  }

  &--large {
    height: 25rem;
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
  }
}
