<div class="messages">
    <div class="message {{modifier_class}}">
       The e-mail you entered is already registered please <a href="#">log in</a> or continue as a <a href="#">new user</a> with a different e-mail address
    </div>
</div>