.suggestions {
  position: relative;
  font-size: 80%;

  &__input {
    position: relative;
    z-index: 3;

    &,
    &:hover,
    &:focus {
      background-color: transparent;
    }

    &--query {
      &:not(.is-active) {
        background-color: rgba(#000, 0.1);
        opacity: 0.3;
      }
    }

    &--shadow {
      position: absolute;
      height: 100%;
      border-color: transparent;
      color: #ccc;
      z-index: 1;
    }
  }

  &__submit {
    position: relative;
    z-index: 3;
  }

  &__panel-container {
    position: absolute;
    width: 100%;
    margin-top: -1px;
    z-index: 2;
  }
}
