
a:active, a:focus {
  outline: none;
}

body {
  margin-top: 65px;
  background-color: #fdfdfd;
  color: #22242b;
  font-family: Fira Sans,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

