.cart-tooltip {
  background: #757C8C;
  color: #fdfdfd;
  width: 350px;
  border-radius: 0;
  font-size: 14px;

  a {
    color: #fff;
  }
}

.cart-tooltip {
  position: absolute;
  top: 65px;
  right: 0;
}

.header-cart-items {

  .quantity-container {
    margin: 0 auto 20px;
    text-align: center;
    overflow: hidden;
    width: 130px;

    > div {
      float: left;
    }

    .quantity-modifier {
      border: 1px solid #fdfdfd;
      color: #fdfdfd;
      width: 20px;
      height: 20px;
      line-height: 20px;

      a {
        color: #fdfdfd;
      }

      &.left {
        border-radius: 10px;
      }

      &.right {
        border-radius: 10px;
      }

      i {
        line-height: 16px;
        padding-top: 0;
        font-size: 12px;
        margin-top: -5px;
      }
    }

    .quantity-input {
      width: 26px;
      height: 26px;

      input {
        text-align: center;
        border: 0;
        font-size: 13px;
        line-height: 22px;
        font-weight: 300;
      }

    }
  }
}

.header-cart-totals {
  margin: 0 10px;
  border-top: 1px solid #ccc;
}
