$header-placeholder-width: 275px;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$footer-background: #393c44;
$footer-color: #fdfdfd;

@import "mixins";
@import "fonts";
@import "base";
@import "header";
@import "footer";
@import "product";
