/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

.active-filters {
  &__label {
    margin: .3rem .1rem;
    font-weight: bold;
  }

  &__filter {
    padding: .3rem;
    margin: .3rem .1rem;
  }
}
