// Featured products
//
// Markup: organisms.featured-products.hbs
//
// Styleguide: organisms.featured-products

.featured-products{
    padding: 95px 0 85px;
    background: $_rgbAlabaster;
    @include sectionShadow;
}

.featured-products__inner{
    @include pageWidth;
}

.featured-products__intro{
    width: 100%;
    text-align: center;
}

.featured-products__headline{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbApple;
    font-size: $_fsLarge;
    text-align: center;
}

.featured-products__description{
    margin-bottom: 100px;

    color: $_rgbSilverChalice;
    text-align: center;
}


.featured-products__products{
    clear: both;
    overflow: hidden;
    text-align: center;
}


@media (min-width: $_wMedium) {
    .featured-products{
        .product-card{
            display: inline-block;
            width: 50%;
            min-width: 360px;
        }
    }
}

@media (min-width: $_wLarge) {
    .featured-products{
        background-size: contain !important;
        background-repeat: no-repeat !important;

        .product-card{
            width: 33.333%;
        }
    }
}