// Featured products
//
// Markup: organisms.featured-products.hbs
//
// Styleguide: organisms.featured-products

.featured-products{
    overflow: hidden;
    position: relative;
    padding: 95px 0 85px;
    background: #F9F9F9;
    min-height: 900px;
}

.featured-products__inner{
    @include pageWidth;
    position: relative;
    z-index: 1;
}

.featured-products__background{
    position: absolute;
    top: 50%;
    width: 50%;
    max-width: 320px;
    transform: translate(0, -50%);
}

.featured-products__background--left{
    left: 0;
}

.featured-products__background--right{
    right: 0
}


.featured-products__intro{
    width: 100%;
    text-align: center;
}

.featured-products__headline{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbApple;
    font-size: $_fsLarge;
    text-align: center;
}

.featured-products__facts{
    margin-bottom: 130px;
}

.featured-products__fact{
    @include pdif('check', 22px, 44px);
    margin: 0 22px;
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 30px;
    color: $_rgbTundora;

    &:before{
        color: $_rgbApple;
    }
}


.featured-products__products{
    clear: both;
    overflow: hidden;
    text-align: center;
}


@media (min-width: $_wMedium) {
    .featured-products{
        .product-card{
            display: inline-block;
            width: 50%;
            min-width: 360px;
        }
    }
}

@media (min-width: $_wLarge) {
    .featured-products{
        background-size: contain !important;
        background-repeat: no-repeat !important;

        .product-card{
            width: 33.333%;
        }
    }
}