<div class="featured-products">
    <div class="featured-products__inner">
        <div class="featured-products__intro">
            <h2 class="featured-products__headline">Unsere Starter Packete</h2>
            <p class="featured-products__description">Starten Sie jetzt die gesunde Ernährung Ihres Vierbeiners</p>
        </div>
        <div class="featured-products__products">
               {{> "molecules.product-card"}}
               {{> "molecules.product-card"}}
        </div>
    </div>
-</div> 		