<div class="header" style="background-image: url(../images/header/background.jpg)">
   <div class="header__inner">
       {{> "atoms.breadcrumbs" modifier_class="breadcrumbs--white"}}
       {{> "atoms.page-title" modifier_class="page-title--white" title="Packages"}}
       {{> "atoms.subtitle" modifier_class="subtitle--white"}}
   </div>
</div>