<phpunit>
    <testsuite name="ProjectA">
        <directory>../../vendor/project-a</directory>
    </testsuite>
    <php>
        <env name="APPLICATION_ENV" value="testing" />
        <server name="REQUEST_URI" value="http://zed.us.demoshop/" />
    </php>
</phpunit>
