<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         strict="true"
         bootstrap="phpunit.php">

    <testsuite name="Project Zed Test suite">
        <directory>../../tests/PhpUnit/Pyz/Zed/</directory>
    </testsuite>
    <php>
        <env name="APPLICATION_ENV" value="testing" />
        <server name="REQUEST_URI" value="" />
    </php>
</phpunit>
