<div class="primary col col33">
    <h3>{{ 'checkout.headline.payment'|trans }}</h3>
    <div class="row">
        {{ form_widget(form.payment.method, { label : 'checkout.payment.method' } ) }}
    </div>
</div>