{% extends "@application/layout/layout.twig" %}

{% block title %}
    <h3>{{ 'cart.cart'|trans }}</h3>
{% endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li>{{ 'cart.cart'|trans }}</li>
    {% include '@Checkout/checkout/partials/breadcrumb.twig' %}
{% endblock %}

{% block content %}
    {% if cart.items|length > 0 %}
        <div class="row">
            <div class="small-12 columns">
                {% for cartItem in cartItems %}
                     {% if cartItem.bundleProduct is defined %}
                         {% include '@cart/cart/parts/cart-item.twig' with {
                            cartItem: cartItem.bundleProduct,
                            bundleItems: cartItem.bundleItems
                         } %}
                     {% else %}
                         {% include '@cart/cart/parts/cart-item.twig' %}
                     {% endif %}
                {% endfor %}
            </div>

            {% include '@DiscountPromotion/discount-promotion/item-list.twig' %}

        </div>

        <div class="row">
            <div class="small-12 large-6 columns">
                {% include '@cart/cart/parts/voucher-form.twig' %}
            </div>

            <div class="small-12 large-6 columns">
                {% include '@cart/cart/parts/cart-summary.twig'  with {customer: customer} %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="small-12 columns">
                {% include '@cart/cart/parts/cart-empty.twig' %}
            </div>
        </div>
    {% endif %}

    {{ product_relation(
        "up-selling",
        { quote: cart },
        'You might also be interested in these products',
        '@ProductRelation/partial/product_relation_carousel.twig'
    ) }}
{% endblock %}

{% block footer %}{% endblock %}
