<div class="faq-card">
    <div class="faq-card__toggle">
        <div class="faq-card__plus">+</div>
        <div class="faq-card__minus">–</div>
    </div>
    <div class="faq-card__question">
        Darf ich Welpen mit rohem Fleisch ernähren?
    </div>
    <div class="faq-card__container">
       <div class="faq-card__answer">
            <strong>Selbstverständlich</strong>. Werden Welpen von Anfang an roh gefüttert, wachsen sie artgerecht und gesund auf und zeichnen sich durch eine natürliche Agilität aus, die wir alle an Jungtieren so lieben. Das liegt daran, dass mit rohem Fleisch, Obst, Gemüse, Kohlenhydraten und Knochen gefütterte Welpen <strong>alles erhalten, was sie für Wachstum und Entwicklung benötigen</strong>. Übrigens, wie all die Generationen von Welpen, die in der freien Wildbahn aufgezogen wurden und immer noch werden. Sie sollten deshalb den Welpen mit kleineren Portionen langsam heranführen.
       </div>
    </div>
</div>