.card {
    display: flex;
    flex-grow: 1;
    
    &__container {
        width: 100%;
        padding-bottom: 4rem;
    }

    &__action {
        position: absolute;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        margin: auto;
    }
}
