<ul class="cart">
    <li>
        <a href="{{ url('cart') }}">
            <span class="glyphicon glyphicon-shopping-cart"> </span><span class="text">{{ 'header.cart'|trans }} {% if cartItemCount > 0 %}(<span class="count">{{ cartItemCount }}</span>){% endif %}</span>
        </a>
    </li>
</ul>