<div id="navbar">
    <section class="transparent">
        <ul class="main">
            {% for category in categories %}
                <li><a href="{{ category['url'] }}">{{ category['name'] }}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
