<form action="/search" method="get" class="search-form">
    <input class="search fullWidth" type="text" placeholder="Find Your Product" name="q" required="true"/>
    <span class="glyphicon glyphicon-search search-button"></span>
</form>