// Checkout
//
// Markup: checkout.hbs
//
// Styleguide: checkout
//
// Weight: 908

// TODO: move into component
.checkout{
    background: $_rgbWhite;
}


.checkout__headline{
    position: relative;
    z-index: 1;
    padding: 6px 0;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 30px;
    color: $_rgbApple;
    text-align: center;
    background: $_rgbWhite;
}



.checkout__navigations{
    padding: 0 10px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    text-align: center;
    width: 100%;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.checkout__navigation{
    overflow: hidden;
    position: relative;
    display: table-cell;
    width: 1%;
    max-width: 33.333%;
    border-left: 1px solid #ECECEC;

    height: 60px;
    line-height: 60px;
    vertical-align: top;

    font-size: 22px;
    color: $_rgbSilverChalice;


    text-align: center;
    white-space: nowrap;

    cursor: pointer;
    transition: background-color $_tShort ease-in-out, color $_tShort ease-in-out;

    &:last-child{
        border-right: 1px solid #ECECEC;
    }
}

.checkout__navigation--done{
    line-height: 45px;
}


.checkout__navigation--active{
    background: $_rgbApple;
    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbWhite;
}

.checkout__navigation-option{
    margin-top: -7px;
    overflow: hidden;

    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 1em;
}


.checkout__contents{
    overflow: hidden;
    transition: transform $_tMedium ease-in-out;
    width: 300%;
}

.checkout__content{
    overflow: hidden;
    float: left;
    padding: 40px 0 10px;
    text-align: center;
    width: 33.333%;
}

.checkout__step-headline{
  position: relative;

  font-family: $_ffBrandonGrotesque-Black;
  font-size: 40px;
  color: $_rgbApple;

  @include decoratorStrip;

    &:after{
        bottom: 5px;
    }
}

.checkout__step-button{
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    clear: both;
}

.checkout__content--confirmation{
    .checkout__step-button{
        float: right;
        margin-right: 20px;
    }
}


.checkout__form{
    @include clearfix;
    max-width: 390px;
    margin: 0 auto;
    padding-bottom: 50px;

  .radio--checked, .checkbox--checked{
    & + .checkout__subform{
      display: block;
    }
  }

  .checkbox{
      margin-top: 30px;
  }

  .input__text{
      background: $_rgbAlabaster;
  }

  .dropdown__button{
      background: $_rgbAlabaster;
  }

}

.checkout__subform{
    position: relative;
    margin-top: 30px;
    display: none;

    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;

        border-top: 1px solid $_rgbSilver;
        border-bottom: 1px solid $_rgbSilver;
    }

    &:before{
        right: 100%;
    }

    &:after{
        left: 100%;
    }
}

.checkout__subform-inner{
    @include clearfix;
    padding: 10px 0 28px;

    border-top: 1px solid $_rgbSilver;
    border-bottom: 1px solid $_rgbSilver;

    text-align: left;
}


.checkout__addresses{
    @include clearfix;
    margin: 0 -5px 0px;
    padding: 0 5px 25px;
    border-bottom: 1px solid $_rgbSilver;

    .button{
        margin-top: 47px;
    }
}

.checkout__subform--rechnung{
    .checkout__lock{
        position: absolute;
        right: 28px;
        top: 90px;
    }
}

.checkout__subform--credit{
    .checkout__lock{
        position: absolute;
        right: 28px;
        bottom: 15px;
    }
}

.checkout__subform--sepa{
    .checkout__lock{
        position: absolute;
        right: 28px;
        bottom: 15px;
    }
}

// TODO: into separate component
.checkout__lock{
    padding-top: 55px;
    float: right;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 14px;
    color: $_rgbDustyGray;

    @include pdif('lock', 45px);

    &:before{
        top: 0;
        margin-top: 0;
        transform: none;
        width: 100%;
        text-align: center;
    }
}


.checkout__form--payment{
  & > .radio{
    margin-top: 35px;
    display: block;
  }
}


.checkout__cart{
    //@include pageWidth(0);
    margin-top: 30px;
    border-bottom: 1px solid $_rgbSilver;
}


.checkout__end{
    //@include pageWidth(0);
    margin-top: 30px;
}

.checkout__newsletter{
    overflow: hidden;
    text-align: right;
    padding: 0 20px;
}

.checkout__newsletter-headline{
    margin-bottom: 10px;
    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 14px;
    color: #535B6F;
}

.checkout__newsletter-checkboxes{
}



// TODO: unify padding
.checkout__terms{
    float: right;
    width: 100%;
    padding: 35px 20px 0 20px;
    margin-bottom: -20px;
    max-width: 660px;
}

.checkout__terms-info{
    float: right;
    width: 100%;
    padding: 27px 20px 0 20px;

    font-size: 12px;
    color: $_rgbOsloGray;
    text-align: right;
}


@media (max-width: 350px) {

    .checkout__navigation{
        font-size: 18px;
    }
}

@media (min-width: 550px){
    .checkout__navigation{
        display: inline-block;
        width: 33.333%;
    }
}

@media (min-width: 600px){
    .checkout__navigation{
        width: auto;
        padding: 0 50px;
    }
}

@media (min-width: $_wMedium){
    .checkout__terms{
        padding-top: 25px;
    }
}







// TODO: into separate component
.cart-position{
    display: table-row;
}

.cart__items{
    width: 100%;
}

.cart-position__left, .cart-position__right{
    overflow: hidden;
    display: table-cell;
    padding: 0 20px;
    border-top: 1px solid $_rgbSilver;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 14px;
    color: $_rgbOsloGray;
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
    min-height: 60px;
    line-height: 60px;
}

.cart-position__right{
    padding: 0 20px;
    border-left: 1px solid $_rgbSilver;
}

.cart-position__price{
    display: inline-block;
    width: 120px;
    height: 60px;

    font-size: 28px;
    text-transform: none;
    line-height: 60px;
    text-align: right;
}

.cart-position--voucher{
    display: inline-block;
    min-height: 60px;
    line-height: 60px;

    text-decoration: underline;
}

.cart-position--total{
    .cart-position__left{
        line-height: 1.5;
    }

    .cart-position__right{
        color: #6A6A6A;
    }
}


@media (max-width: $_wLarge) {
    .cart-position{
        display: block;

        .cart-position__left, .cart-position__right{
            display: block;
        }
    }

    .cart-position:not(.cart-position--total){
        .cart-position__left{
            display: none;
        }
    }
}

@media (max-width: $_wMedium) {
    .cart-position__left, .cart-position__right{
        text-align: left;
    }

    .cart-position__price{
        float: right;
    }
}




.checkout{
    .radio--adyen-payment-method-german-bank-transfer{
      .radio__image{
        width: 88px;
      }
    }

    .radio--rechnung{
      .radio__image{
        width: 98px;
      }
    }

    .radio--adyen-payment-method-sofortueberweisung{
      .radio__image{
        width: 95px;
      }
    }

    .radio--adyen-payment-method-creditcard-cse{
      .radio__image{
        width: 149px;
      }
    }

    .radio--adyen-payment-method-sepa-directdebit{
      .radio__image{
        width: 79px;
      }
    }

    .radio--adyen-payment-method-paypal{
      .radio__image{
        width: 86px;
      }
    }
}
