{{> "organisms.navbar"}}


<div class="user-boxes">
    <div class="user-boxes__inner">

        <div class="user-box">
            <div class="user-box__inner">
                <div class="user-box__headline">Registration</div>
                <div class="user-box__description">In progress...</div>
                <div class="user-box__divider"></div>

                <div class="user-box__headline">Address</div>
                <div class="user-box__description">In progress...</div>
                <div class="user-box__divider"></div>

                <div class="user-box__headline">Shipping</div>
                <div class="user-box__description">In progress...</div>
                <div class="user-box__divider"></div>

                <div class="user-box__headline">Payment</div>
                <div class="user-box__description">In progress...</div>
                <div class="user-box__divider"></div>

                <div class="user-box__headline">Cart</div>
                <div class="user-box__description">In progress...</div>
                <div class="user-box__divider"></div>

                <div class="user-box__headline">Coupon</div>
                <div class="user-box__description">In progress...</div>
            </div>
        </div>

    </div>
</div>


{{> "organisms.footer"}}