{{> "organisms.navbar"}}


<form class="checkout js-formbackup" data-formbackup="checkout">
  {{> "checkout.account"}}
  {{> "checkout.payment"}}
  {{> "checkout.confirmation"}}
</form>


{{> "organisms.footer"}}
