// Radio
//
// Markup: atoms.radio.hbs
//
// Styleguide: atoms.radio

.radio{
    margin-top: 18px;
  text-align: left;
  display: inline-block;
}

.radio--focussed{
    .radio__label{
      &:before{
          box-shadow: 0 0 2px 0 rgba($_rgbTundora, 0.5);
      }
  }
}

.radio--vorkasse, .radio--adyen-payment-method-german-bank-transfer{
  .radio__image{
    width: 88px;
  }
}

.radio--rechnung{
  .radio__image{
    width: 98px;
  }
}

.radio--sofort, .radio--adyen-payment-method-sofortueberweisung{
  .radio__image{
    width: 95px;
  }
}

.radio--credit, .radio--adyen-payment-method-creditcard-cse{
  .radio__image{
    width: 149px;
  }
}

.radio--sepa, .radio--adyen-payment-method-sepa-directdebit{
  .radio__image{
    width: 79px;
  }
}

.radio--paypal, .radio--adyen-payment-method-paypal{
  .radio__image{
    width: 86px;
  }
}

.radio__image{
  @include responsiveImage;
  display: inline-block;
  margin-right: 15px;
  vertical-align: bottom;
}


.radio__label{
  display: inline-block;
  position: relative;
  padding-left: 53px;
  cursor: pointer;

  font-family: $_ffBrandonGrotesque-Bold;
  font-size: 14px;
  line-height: 31px;
  color: $_rgbOsloGray;

  &:before{
    position: absolute;
    top: 0;
    left: 5px;
    content: '';
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: $_rgbWildSand;
  }

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 8px solid $_rgbWildSand;
    background: $_rgbBlack;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
}

.radio__input{
  position: absolute;
  opacity: 0;
  left: -1000em;

  &:checked{

    & + .radio__label{
      &:after{
        opacity: 1;
      }
    }

  }
}
