// Offcanvas
//
// Markup: molecules.offcanvas.hbs
//
// Styleguide: molecules.offcanvas

.offcanvas{
    position: fixed;
    z-index: 4;
    top: 0;
    right: -400px;
    height: 100%;

    width: calc(100% - 10px);
    max-width: 400px;

    transition: right $_tMedium ease-in-out;
}

.offcanvas__inner{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background: $_rgbWhite;
}

.offcanvas--open{
    right: 0;

    &:before{
        content: '';
        z-index: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $_rgbBlack70;
    }
}

.offcanvas__logo{
    padding: 35px 60px 26px;
    border-bottom: 1px solid $_rgbSilver;

    img{
        @include responsiveImage;
        max-width: 120px;
    }
}

.offcanvas__accordeon{
    font-family: $_ffBrandonGrotesque-Black;
}

.offcanvas__category{
    padding: 20px 60px;
    border-bottom: 1px solid $_rgbSilver;

    color: $_rgbApple;
    text-transform: uppercase;

    cursor: pointer;
}

.offcanvas__items{
    padding: 16px 60px;
    display: none;
    border-bottom: 1px solid $_rgbSilver;
    background: $_rgbAlabaster;
    list-style: none;
}

.offcanvas__item{
    padding: 15px 0;

    text-transform: uppercase;;
    font-size: 16px;
    line-height: 28px;
    //letter-spacing: 0.85px;

    a{
        display: inline-block;
        text-decoration: none;
        color: $_rgbSilverChalice;
    }
}
