<div class="offcanvas">
    {{> atoms.close-button}}
    <div class="offcanvas__inner">
        <div class="offcanvas__logo">
            <img src="../images/logo/logo_header.png" alt="Pets Deli Logo" />
        </div>
        <div class="offcanvas__menu">
            <div class="offcanvas__accordeon">
                <div class="offcanvas__category">
                    Support
                </div>
                <ul class="offcanvas__items">
                    <li class="offcanvas__item"><a href="#">How it works</a></li>
                    <li class="offcanvas__item"><a href="#">FAQ</a></li>
                    <li class="offcanvas__item"><a href="#">How to feed your pet</a></li>
                    <li class="offcanvas__item"><a href="#">Shipping</a></li>
                    <li class="offcanvas__item"><a href="#">Retail store</a></li>
                    <li class="offcanvas__item"><a href="#">Animal moments</a></li>
                    <li class="offcanvas__item"><a href="#">Press and TV</a></li>
                    <li class="offcanvas__item"><a href="#">Jobs</a></li>
                </ul>
            </div>
            <div class="offcanvas__accordeon">
                <div class="offcanvas__category">
                    Contact
                </div>
                <ul class="offcanvas__items">
                    <li class="offcanvas__item"><a href="#">Customer care</a></li>
                    <li class="offcanvas__item"><a href="#">Retail store</a></li>
                </ul>
            </div>
            <div class="offcanvas__accordeon">
                <div class="offcanvas__category">
                    More content
                </div>
                <ul class="offcanvas__items">
                    <li class="offcanvas__item"><a href="#">More content</a></li>
                </ul>
               </div>
            <div class="offcanvas__accordeon">
                <div class="offcanvas__category">
                    More content
                </div>
                <ul class="offcanvas__items">
                    <li class="offcanvas__item"><a href="#">More content</a></li>
                </ul>
            </div>
            <div class="offcanvas__accordeon">
                <div class="offcanvas__category">
                    More content
                </div>
            </div>
        </div>
    </div>
</div>