@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold.eot");
  src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-bold.woff2") format("woff2"), url("/fonts/roboto-bold.woff") format("woff"), url("/fonts/roboto-bold.ttf") format("truetype"), url("/fonts/roboto-bold.svg#robotobold") format("svg"); }

@font-face {
  font-family: "robotolight";
  src: url("../fonts/roboto-light.eot");
  src: url("../fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-light.woff2") format("woff2"), url("/fonts/roboto-light.woff") format("woff"), url("/fonts/roboto-light.ttf") format("truetype"), url("/fonts/roboto-light.svg#robotolight") format("svg"); }

@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium.eot");
  src: url("../fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-medium.woff2") format("woff2"), url("/fonts/roboto-medium.woff") format("woff"), url("/fonts/roboto-medium.ttf") format("truetype"), url("/fonts/roboto-medium.svg#robotomedium") format("svg"); }

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-regular.woff2") format("woff2"), url("/fonts/roboto-regular.woff") format("woff"), url("/fonts/roboto-regular.ttf") format("truetype"), url("/fonts/roboto-regular.svg#robotoregular") format("svg"); }

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
/* fonts */
/* input:text */
.svg-icon-logo-de {
  background: url(/images/icons/icons-sprite.svg) no-repeat; }

.svg-icon-logo-de {
  background-position: 0 0; }

.svg-icon-logo-de-dims {
  width: 281px;
  height: 32px; }

/* fix floats */
.cfx:after {
  clear: both;
  display: block;
  content: ""; }

body {
  font: 12px/1.2 robotoregular, Arial, Helvetica, sans-serif;
  background: #f7f7f7; }

a {
  color: #aaaaaa;
  text-decoration: none; }

/* wrapper */
.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

input, textarea, button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

.desktop-view {
  display: block !important; }

.mobile-view {
  display: none !important; }

@media screen and (max-width: 1279px) {
  .block-wrapper {
    padding: 0 6px; } }

@media screen and (max-width: 767px) {
  .desktop-view {
    display: none !important; }
  .mobile-view {
    display: block !important; } }

.user-menu li:hover .header-popup {
  display: block; }
.user-menu li:hover > a {
  color: #46b4d0; }

.header-popup {
  display: none;
  position: absolute;
  right: -2px;
  top: 100%;
  width: 312px;
  font-size: 12px;
  color: #aaaaaa;
  z-index: 5;
  padding: 8px 0 0; }
  .header-popup .frame {
    background: white;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative; }
    .header-popup .frame:after, .header-popup .frame:before {
      bottom: 100%;
      right: 20px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .header-popup .frame:after {
      border-bottom-color: white;
      border-width: 6px;
      margin-left: -6px; }
    .header-popup .frame:before {
      border-bottom-color: #e6e6e6;
      border-width: 8px;
      right: 18px; }
  .header-popup ul {
    max-height: 341px;
    overflow-y: auto;
    overflow-x: hidden; }
  .header-popup .item {
    border-top: 1px solid #e6e6e6;
    margin: 0;
    float: none;
    text-align: left;
    position: static; }
    .header-popup .item:first-child {
      border-top: none; }
    .header-popup .item:hover {
      background: #f7f7f7; }
    .header-popup .item .holder {
      padding: 19px 0;
      width: 290px;
      display: table; }
      .header-popup .item .holder .img {
        display: table-cell;
        width: 109px;
        text-align: center;
        vertical-align: middle; }
      .header-popup .item .holder .description {
        display: table-cell;
        width: 181px; }
        .header-popup .item .holder .description .title {
          font-family: robotobold, Arial, Helvetica, sans-serif;
          display: block;
          color: #555555;
          max-width: 135px;
          margin: 0 0 7px; }
        .header-popup .item .holder .description dl {
          margin: 0 0 2px; }
          .header-popup .item .holder .description dl dt {
            float: left; }
          .header-popup .item .holder .description dl dd {
            overflow: hidden; }
        .header-popup .item .holder .description a {
          float: left;
          color: #46b4d0;
          text-decoration: underline; }
          .header-popup .item .holder .description a:hover {
            text-decoration: none; }
        .header-popup .item .holder .description .price {
          float: right;
          color: #e0366a; }
  .header-popup .controls {
    border-top: 1px solid #e6e6e6;
    padding: 23px 10px 9px; }
    .header-popup .controls .total-price {
      display: block;
      color: #e0366a;
      font-size: 16px;
      text-align: right;
      margin: 0 4px 20px; }
    .header-popup .controls a {
      text-transform: uppercase;
      text-align: center;
      display: block;
      text-decoration: none;
      height: 40px;
      background: #e0366a;
      border: none;
      border-bottom: 1px solid #555555;
      margin: 0;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: white;
      padding: 2px 0 0;
      overflow: visible;
      cursor: pointer;
      font: 16px/19px robotobold, Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 40px; }
      .header-popup .controls a:hover {
        background: #c82e5d; }
  .header-popup.help-popup {
    right: -12px;
    text-align: center;
    width: 275px; }
    .header-popup.help-popup .frame {
      padding: 17px 10px 29px; }
    .header-popup.help-popup .phone-number {
      display: block;
      font-size: 16px;
      color: #555555;
      margin: 0 0 -1px; }
    .header-popup.help-popup .buttons-area {
      margin: 17px -10px 19px;
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-width: 1px 0; }
      .header-popup.help-popup .buttons-area a {
        text-transform: uppercase;
        text-align: center;
        display: block;
        text-decoration: none;
        height: 40px;
        background: #e0366a;
        border: none;
        border-bottom: 1px solid #555555;
        margin: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        color: white;
        padding: 2px 0 0;
        overflow: visible;
        cursor: pointer;
        font: 16px/19px robotobold, Arial, Helvetica, sans-serif;
        width: 121px;
        float: right;
        line-height: 40px; }
        .header-popup.help-popup .buttons-area a:hover {
          background: #c82e5d; }
        .header-popup.help-popup .buttons-area a:first-child {
          float: left; }
    .header-popup.help-popup .welcome-message img {
      width: 60px;
      height: 60px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 17px; }
    .header-popup.help-popup .welcome-message blockquote {
      font-size: 16px;
      margin: 0 15px 13px;
      color: #555555; }
    .header-popup.help-popup .welcome-message .author {
      margin: 0 0 3px; }
      .header-popup.help-popup .welcome-message .author span {
        color: #555555; }
    .header-popup.help-popup .welcome-message a {
      color: #46b4d0; }
  .header-popup.wishlist-popup .item .holder .description {
    position: relative; }
    .header-popup.wishlist-popup .item .holder .description .title {
      margin: 0;
      padding-bottom: 15px; }
    .header-popup.wishlist-popup .item .holder .description a {
      position: absolute;
      left: 0;
      bottom: 0; }

@media screen and (max-width: 767px) {
  .user-menu li:hover .header-popup {
    display: none; } }

#header {
  background: white;
  padding: 0 20px 8px; }
  #header .extra-info {
    border-bottom: 1px solid #f7f7f7;
    padding: 11px 20px 12px;
    margin: 0 -20px 21px;
    font-size: 11px;
    color: #bbbbbb; }
    #header .extra-info span {
      float: left;
      margin: 0 23px 0 0; }
  #header .hamburger-menu {
    cursor: pointer;
    position: relative;
    font-size: 7px;
    color: #46b4d0;
    float: left;
    border-top: 2px solid #555555;
    margin: 13px 0 0 14px;
    display: none; }
    #header .hamburger-menu:before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      right: 0;
      height: 100%;
      border-top: 2px solid #555555; }
  #header .page-title {
    position: absolute;
    font-size: 12px;
    color: #46b4d0;
    top: 16px;
    left: 85px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    right: 85px;
    display: none; }
  #header .logo {
    float: left;
    background: url(/images/icons/icon-logo-de.svg) no-repeat 0 0;
    width: 281px;
    height: 32px;
    margin: 0 0 0 1px; }
    #header .logo a {
      display: block;
      height: 100%;
      overflow: hidden;
      text-indent: -9999px; }

.user-menu {
  font-size: 10px;
  line-height: 1.2;
  float: right;
  margin: 2px 13px 0 0; }
  .user-menu li {
    float: left;
    text-align: center;
    margin-left: 35px;
    position: relative; }
    .user-menu li > a {
      display: block;
      position: relative;
      text-decoration: underline; }
      .user-menu li > a:hover {
        color: #46b4d0; }
      .user-menu li > a:before {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        margin: 0 auto 6px; }
  .user-menu .help > a:before {
    background: url(/images/icons/icon-user-help.png) no-repeat 50% 50%; }
  .user-menu .help:hover > a:before {
    background: url(/images/icons/icon-user-help-hover.png) no-repeat 50% 50%; }
  .user-menu .registration > a:before {
    background: url(/images/icons/icon-user-registration.png) no-repeat 50% 50%; }
  .user-menu .registration:hover > a:before {
    background: url(/images/icons/icon-user-registration-hover.png) no-repeat 50% 50%; }
  .user-menu .wishlist > a:before {
    background: url(/images/icons/icon-user-wishlist.png) no-repeat 50% 50%; }
  .user-menu .wishlist:hover > a:before {
    background: url(/images/icons/icon-user-wishlist-hover.png) no-repeat 50% 50%; }
  .user-menu .cart > a:before {
    background: url(/images/icons/icon-user-cart.png) no-repeat 50% 50%; }
  .user-menu .cart:hover > a:before {
    background: url(/images/icons/icon-user-cart-hover.png) no-repeat 50% 50%; }
  .user-menu .products {
    position: absolute;
    color: white;
    background: #46b4d0;
    top: -6px;
    left: 56%;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    min-width: 14px;
    height: 14px;
    padding: 3px;
    font-size: 14px;
    line-height: 14px;
    border: 2px solid white; }

@media screen and (max-width: 959px) {
  #header {
    padding: 0 20px 8px; }
  .user-menu li {
    margin-left: 49px; }
  .user-menu a .title {
    display: none; } }

@media screen and (max-width: 767px) {
  #header {
    padding: 7px 0 1px;
    position: relative; }
    #header .extra-info {
      display: none; }
    #header .logo {
      display: none; }
    #header .hamburger-menu, #header .page-title {
      display: block; }
  .user-menu {
    margin: 0 11px 0 0; }
    .user-menu li {
      margin-left: 25px; }
      .user-menu li:first-child {
        margin: 0; }
    .user-menu a:before {
      background-size: 100% auto !important;
      width: 21px; }
    .user-menu a .products {
      font-size: 8px;
      top: 4px;
      padding: 2px;
      height: 8px;
      line-height: 8px;
      min-width: 8px; }
    .user-menu .help, .user-menu .registration {
      display: none; } }

.testimonials {
  float: right;
  color: #aaaaaa;
  font-size: 10px;
  padding: 2px 0; }
  .testimonials > span {
    display: inline-block;
    vertical-align: top; }
  .testimonials .text {
    padding: 2px 5px; }
    .testimonials .text a:hover {
      text-decoration: none; }
  .testimonials .stars {
    margin: 3px 0 0 0;
    background: url(/images/icons/icon-star.png) repeat-x;
    height: 13px; }
    .testimonials .stars.star5 {
      width: 80px; }
    .testimonials .stars.star4 {
      width: 64px; }
    .testimonials .stars.star3 {
      width: 48px; }
    .testimonials .stars.star2 {
      width: 32px; }
    .testimonials .stars.star1 {
      width: 16px; }

@media screen and (max-width: 767px) {
  .misc-container {
    text-align: center; }
    .misc-container .testimonials {
      display: none; } }

#footer {
  border-bottom: 27px solid #cbd000;
  background: white;
  padding: 45px 20px; }
  #footer .footer-top {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    color: #aaaaaa;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f7f7f7; }
    #footer .footer-top .col {
      display: table-cell;
      vertical-align: middle; }
      #footer .footer-top .col .title {
        display: block;
        margin: 0 0 30px; }
      #footer .footer-top .col p {
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 40px; }
      #footer .footer-top .col .subscribe-form .row .input-wrap {
        padding-right: 61px;
        margin-right: -53px;
        width: 100%;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #footer .footer-top .col .subscribe-form .row .input-wrap input[type=text] {
          float: left;
          padding: 12px 10px 11px;
          color: #aaaaaa;
          margin: 0;
          height: 40px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid #555555;
          overflow: hidden;
          text-overflow: ellipsis; }
      #footer .footer-top .col .subscribe-form .row input[type=submit] {
        text-transform: uppercase;
        text-align: center;
        display: block;
        text-decoration: none;
        height: 40px;
        background: #e0366a;
        border: none;
        border-bottom: 1px solid #555555;
        margin: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        color: white;
        padding: 2px 0 0;
        overflow: visible;
        cursor: pointer;
        font: 16px/19px robotobold, Arial, Helvetica, sans-serif;
        width: 53px;
        float: left; }
        #footer .footer-top .col .subscribe-form .row input[type=submit]:hover {
          background: #c82e5d; }
      #footer .footer-top .col .payment-methods li {
        width: 57px;
        height: 37px;
        background: #f7f7f7;
        display: inline-block;
        vertical-align: middle;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin: 0 3px 6px; }
        #footer .footer-top .col .payment-methods li span {
          display: block;
          text-indent: -9999px;
          overflow: hidden;
          margin: 0 auto; }
        #footer .footer-top .col .payment-methods li span.maestro {
          background: url(/images/icons/icon-maestro.gif) no-repeat;
          width: 40px;
          height: 24px;
          margin-top: 7px; }
        #footer .footer-top .col .payment-methods li span.mastercard {
          background: url(/images/icons/icon-mastercard.gif) no-repeat;
          width: 39px;
          height: 24px;
          margin-top: 7px; }
        #footer .footer-top .col .payment-methods li span.visa {
          background: url(/images/icons/icon-visa.gif) no-repeat;
          width: 49px;
          height: 15px;
          margin-top: 11px; }
        #footer .footer-top .col .payment-methods li span.ec {
          background: url(/images/icons/icon-ec.gif) no-repeat;
          width: 20px;
          height: 22px;
          margin-top: 8px; }
        #footer .footer-top .col .payment-methods li span.paypal {
          background: url(/images/icons/icon-paypal.gif) no-repeat;
          width: 44px;
          height: 12px;
          margin-top: 13px; }
    #footer .footer-top .delivery li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 6px 6px; }
      #footer .footer-top .delivery li span {
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        overflow: hidden; }
      #footer .footer-top .delivery li span.gls {
        width: 91px;
        height: 25px;
        background: url(/images/icons/icon-gls.gif) no-repeat; }
      #footer .footer-top .delivery li span.wirecard {
        width: 38px;
        height: 36px;
        background: url(/images/icons/icon-wericard.gif) no-repeat; }
      #footer .footer-top .delivery li span.ssl {
        width: 36px;
        height: 36px;
        background: url(/images/icons/icon-ssl.gif) no-repeat; }
  #footer .footer-links {
    display: table;
    width: 100%;
    table-layout: fixed;
    color: #555555; }
    #footer .footer-links .col {
      display: table-cell;
      padding: 0 10px 0 0; }
      #footer .footer-links .col h3 {
        font-size: 16px;
        margin: 0 0 10px;
        line-height: 19px; }
      #footer .footer-links .col ul {
        margin: 0 0 20px; }
        #footer .footer-links .col ul li {
          padding: 0 0 5px; }
          #footer .footer-links .col ul li a {
            color: #555555;
            text-decoration: none; }
            #footer .footer-links .col ul li a:hover {
              text-decoration: underline; }

/* responsive styles */
@media screen and (max-width: 1279px) {
  #footer .footer-top {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 30px; }
  #footer .footer-links {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

@media screen and (max-width: 959px) {
  #footer .footer-top .col {
    vertical-align: top; }
    #footer .footer-top .col .social-networks li {
      margin: 0 3px; } }

@media screen and (max-width: 767px) {
  #footer {
    padding: 10px 0; }
    #footer .footer-top {
      display: block;
      border: 0;
      padding: 0 0 20px;
      margin: 0; }
      #footer .footer-top .col {
        display: block;
        border-bottom: 1px solid #f7f7f7;
        padding-bottom: 10px;
        margin-bottom: 20px; }
        #footer .footer-top .col:last-child {
          border: 0;
          padding-bottom: 0;
          margin: 0; }
        #footer .footer-top .col .title {
          margin: 0 0 10px;
          font-size: 8px;
          line-height: 10px; }
        #footer .footer-top .col p {
          margin: 0 6px 10px;
          font-size: 12px;
          line-height: 14px; }
        #footer .footer-top .col .payment-methods li {
          margin: 0; }
    #footer .footer-links .col {
      display: block;
      padding: 0; }
      #footer .footer-links .col h3 {
        font-size: 12px;
        line-height: 14px;
        padding: 12px 30px 12px 15px;
        margin: 0;
        color: #aaaaaa;
        cursor: pointer;
        border-top: 1px solid #aaaaaa;
        position: relative; }
        #footer .footer-links .col h3:after {
          clear: both;
          content: "";
          width: 4px;
          height: 8px;
          background: url(/images/bg-images/bg-arrow.png) no-repeat;
          background-size: 100% 100%;
          position: absolute;
          top: 50%;
          margin-top: -4px;
          right: 20px; }
        #footer .footer-links .col h3.opened:after {
          width: 8px;
          height: 4px;
          background: url(/images/bg-images/bg-arrow2.png) no-repeat;
          background-size: 100% 100%;
          margin-top: -2px;
          right: 17px; }
      #footer .footer-links .col ul {
        display: none;
        font-size: 10px;
        line-height: 12px;
        padding-left: 15px; }
        #footer .footer-links .col ul li {
          margin-bottom: 5px; }
          #footer .footer-links .col ul li a {
            color: #aaaaaa; } }

.testimonials {
  float: right;
  color: #aaaaaa;
  font-size: 10px;
  padding: 2px 0; }
  .testimonials > span {
    display: inline-block;
    vertical-align: top; }
  .testimonials .text {
    padding: 2px 5px; }
    .testimonials .text a:hover {
      text-decoration: none; }
  .testimonials .stars {
    margin: 3px 0 0 0;
    background: url(/images/icons/icon-star.png) repeat-x;
    height: 13px; }
    .testimonials .stars.star5 {
      width: 80px; }
    .testimonials .stars.star4 {
      width: 64px; }
    .testimonials .stars.star3 {
      width: 48px; }
    .testimonials .stars.star2 {
      width: 32px; }
    .testimonials .stars.star1 {
      width: 16px; }

@media screen and (max-width: 767px) {
  .misc-container {
    text-align: center; }
    .misc-container .testimonials {
      display: none; } }

.main-title {
  background: white;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #f7f7f7;
  padding: 27px 0;
  min-height: 28px; }
  .main-title .back-button {
    float: left;
    position: absolute;
    top: 50%;
    left: 22px;
    margin: -8px 0 0;
    font-size: 14px;
    color: #46b4d0;
    text-decoration: none;
    background: url(/images/icons/icon-arrow-back.png) no-repeat 0 50%;
    padding: 0 0 0 15px; }
  .main-title strong {
    font: italic 24px Georgia, Times, "Times New Roman", serif;
    color: #bbbbbb; }
  .main-title .btn-order {
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
    height: 40px;
    background: #e0366a;
    border: none;
    border-bottom: 1px solid #555555;
    margin: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
    padding: 2px 0 0;
    overflow: visible;
    cursor: pointer;
    font: 16px/19px robotobold, Arial, Helvetica, sans-serif;
    position: absolute;
    top: 18px;
    line-height: 40px;
    right: 20px;
    padding: 0 45px;
    font-size: 14px; }
    .main-title .btn-order:hover {
      background: #c82e5d; }
    .main-title .btn-order:after {
      width: 4px;
      height: 7px;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 20px;
      content: "";
      background: url(/images/bg-images/bg-arrow4.png) no-repeat; }

.total-sum {
  float: right;
  width: 30%;
  margin: 0;
  color: #555555;
  font-size: 14px; }
  .total-sum dt {
    float: left; }
  .total-sum dd {
    margin: 0;
    overflow: hidden;
    text-align: right; }
  .total-sum .tax {
    font-size: 12px;
    padding-bottom: 15px; }
  .total-sum .promocode {
    color: #555555;
    text-decoration: none;
    font-size: 12px; }
    .total-sum .promocode .promocode-btn:after {
      width: 4px;
      height: 7px;
      display: inline-block;
      content: "";
      margin: 0 0 0 8px;
      background: url(/images/bg-images/bg-arrow5.png) no-repeat; }
    .total-sum .promocode.valid {
      color: #46b4d0; }
    .total-sum .promocode .promocode-btn.open-form {
      display: none; }
      .total-sum .promocode .promocode-btn.open-form + .promocode-form {
        display: block; }
    .total-sum .promocode .promocode-form {
      display: none; }
  .total-sum .promocode-form {
    margin: 0 0 5px; }
    .total-sum .promocode-form input[type="text"] {
      float: left;
      width: 109px;
      padding: 0 11px;
      border: 1px solid #e6e6e6;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: #555555;
      font-size: 12px;
      line-height: 38px;
      height: 38px;
      float: left;
      margin: 0 4px 0 0; }
    .total-sum .promocode-form .submit-btn {
      padding: 0;
      float: left;
      width: 38px;
      height: 38px;
      border: 1px solid #e0366a;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: white;
      color: transparent;
      cursor: pointer;
      position: relative; }
      .total-sum .promocode-form .submit-btn:before {
        content: '';
        position: absolute;
        background: url(/images/icons/icon-arrow-right-2.png) no-repeat;
        width: 4px;
        height: 7px;
        left: 50%;
        top: 50%;
        margin: -3px 0 0 -2px; }
  .total-sum .total-row {
    color: #e0366a;
    line-height: 27px;
    padding-top: 20px; }
  .total-sum dt.total-row {
    clear: left; }
  .total-sum dd.total-row {
    font-size: 24px;
    float: right; }

@media screen and (max-width: 767px) {
  .total-sum {
    float: none;
    width: auto;
    padding: 0 15px 25px; } }

#header a.back {
  float: left;
  width: 20px;
  height: 17px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/images/bg-images/bg-back.gif) no-repeat;
  margin: 8px 0 0 15px; }
#header a.login {
  float: right;
  margin: 15px 0 0;
  line-height: 21px;
  color: #cbd000; }
  #header a.login:before {
    width: 16px;
    height: 21px;
    content: "";
    margin: 0 8px 0 0;
    display: inline-block;
    vertical-align: top;
    background: url(/images/icons/ico-lock.png) no-repeat; }

#footer .footer-top {
  padding: 0;
  border: 0;
  margin: 0; }
  #footer .footer-top .col {
    padding: 0 20px;
    text-align: left;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #footer .footer-top .col:first-of-type {
      width: 60%; }
    #footer .footer-top .col .title {
      display: inline-block;
      margin-right: 30px; }
    #footer .footer-top .col ul {
      display: inline-block; }

.misc-container {
  position: relative;
  padding: 7px 0; }
  .misc-container a.back {
    color: #46b4d0;
    margin: 2px 0 0;
    float: left;
    position: relative;
    z-index: 2; }
    .misc-container a.back:before {
      width: 4px;
      height: 7px;
      content: "";
      margin: 4px 9px 0 0;
      background: url(/images/icons/icon-arrow-back.png) 0 50% no-repeat;
      vertical-align: top;
      display: inline-block; }
  .misc-container .order-ttl-info {
    text-align: center;
    position: absolute;
    top: 6px;
    width: 100%;
    left: 0;
    line-height: 23px;
    color: #555555; }
    .misc-container .order-ttl-info span:before {
      background: url(/images/icons/ico-delivery.png) 0 50% no-repeat;
      width: 46px;
      height: 23px;
      content: "";
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0; }
  .misc-container .testimonials {
    position: relative;
    z-index: 2; }

.checkout-wrap {
  background: white;
  margin-bottom: 30px;
  padding-bottom: 1px; }
  .checkout-wrap .columns-wrap {
    padding-top: 45px; }
  .checkout-wrap .checkout-col {
    float: left;
    width: 33.0845%;
    margin: 0 0 0 8.3984%; }
    .checkout-wrap .checkout-col:last-of-type {
      float: right;
      margin: 0 8.3984% 0 0; }
    .checkout-wrap .checkout-col.medium {
      width: -webkit-calc(100% - 349px);
      width: calc(100% - 349px);
      margin-right: 21px;
      margin-left: 0;
      padding-top: 30px;
      float: right; }
    .checkout-wrap .checkout-col.checkout-info {
      width: 227px;
      margin-left: 21px;
      margin-right: 0;
      float: left; }
      .checkout-wrap .checkout-col.checkout-info .block {
        background: #f7f7f7;
        padding: 35px 10px 20px;
        color: #bbbbbb; }
        .checkout-wrap .checkout-col.checkout-info .block .row {
          border-top: 1px solid #e6e6e6;
          padding: 10px 0; }
          .checkout-wrap .checkout-col.checkout-info .block .row .sub-title {
            font-family: robotomedium, Arial, Helvetica, sans-serif; }
        .checkout-wrap .checkout-col.checkout-info .block .title {
          font-size: 16px;
          line-height: 19px;
          display: block;
          margin: 0 0 25px; }
        .checkout-wrap .checkout-col.checkout-info .block .checkout-address {
          font-size: 12px;
          margin: 0;
          line-height: 14px; }
          .checkout-wrap .checkout-col.checkout-info .block .checkout-address .edit-row .edit-address {
            float: right;
            margin-bottom: 10px; }
    .checkout-wrap .checkout-col h3 {
      font-size: 16px;
      line-height: 19px;
      margin: 0 0 35px;
      color: #555555; }
      .checkout-wrap .checkout-col h3.border {
        margin: 0 0 20px;
        padding: 0 0 20px;
        border-bottom: 1px solid #f7f7f7; }
    .checkout-wrap .checkout-col a.forgot-password {
      color: #46b4d0;
      display: inline-block;
      margin-bottom: 20px; }
    .checkout-wrap .checkout-col .input-row {
      padding-bottom: 20px;
      position: relative; }
      .checkout-wrap .checkout-col .input-row:after {
        clear: both;
        display: block;
        content: ""; }
      .checkout-wrap .checkout-col .input-row label {
        color: #aaaaaa;
        display: block;
        font-size: 12px;
        line-height: 14px;
        margin: 0 0 8px; }
      .checkout-wrap .checkout-col .input-row input[type=text], .checkout-wrap .checkout-col .input-row input[type=password] {
        float: left;
        padding: 12px 10px 11px;
        color: #aaaaaa;
        margin: 0;
        height: 40px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #555555;
        overflow: hidden;
        text-overflow: ellipsis;
        border-color: #e6e6e6;
        color: #555555;
        outline: none; }
        .checkout-wrap .checkout-col .input-row input[type=text]:focus + label, .checkout-wrap .checkout-col .input-row input[type=password]:focus + label {
          color: #46b4d0; }
      .checkout-wrap .checkout-col .input-row.check-row, .checkout-wrap .checkout-col .input-row.radio-row {
        position: relative; }
        .checkout-wrap .checkout-col .input-row.check-row label, .checkout-wrap .checkout-col .input-row.radio-row label {
          float: left;
          margin: 0;
          position: relative; }
          .checkout-wrap .checkout-col .input-row.check-row label:nth-of-type(2), .checkout-wrap .checkout-col .input-row.radio-row label:nth-of-type(2) {
            margin-left: 40px; }
          .checkout-wrap .checkout-col .input-row.check-row label.checkbox:before, .checkout-wrap .checkout-col .input-row.check-row label.radio:before, .checkout-wrap .checkout-col .input-row.radio-row label.checkbox:before, .checkout-wrap .checkout-col .input-row.radio-row label.radio:before {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            display: inline-block;
            border: 1px solid #e6e6e6;
            content: "";
            margin: 0 10px 1px 0; }
          .checkout-wrap .checkout-col .input-row.check-row label.checkbox:after, .checkout-wrap .checkout-col .input-row.check-row label.radio:after, .checkout-wrap .checkout-col .input-row.radio-row label.checkbox:after, .checkout-wrap .checkout-col .input-row.radio-row label.radio:after {
            width: 9px;
            height: 5px;
            border: solid white;
            border-width: 0 0 1px 1px;
            position: absolute;
            top: 5px;
            content: "";
            visibility: hidden;
            left: 5px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
          .checkout-wrap .checkout-col .input-row.check-row label.radio:before, .checkout-wrap .checkout-col .input-row.radio-row label.radio:before {
            -webkit-border-radius: 50%;
            border-radius: 50%; }
          .checkout-wrap .checkout-col .input-row.check-row label.radio:after, .checkout-wrap .checkout-col .input-row.radio-row label.radio:after {
            width: 10px;
            height: 10px;
            background: #46b4d0;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 0; }
        .checkout-wrap .checkout-col .input-row.check-row input[type=checkbox], .checkout-wrap .checkout-col .input-row.check-row input[type=radio], .checkout-wrap .checkout-col .input-row.radio-row input[type=checkbox], .checkout-wrap .checkout-col .input-row.radio-row input[type=radio] {
          width: 20px;
          height: 20px;
          padding: 0;
          float: left;
          opacity: 0;
          margin: 0;
          position: absolute;
          top: 0;
          left: 0; }
          .checkout-wrap .checkout-col .input-row.check-row input[type=checkbox]:checked + label:before, .checkout-wrap .checkout-col .input-row.check-row input[type=radio]:checked + label:before, .checkout-wrap .checkout-col .input-row.radio-row input[type=checkbox]:checked + label:before, .checkout-wrap .checkout-col .input-row.radio-row input[type=radio]:checked + label:before {
            background: #46b4d0; }
          .checkout-wrap .checkout-col .input-row.check-row input[type=checkbox]:checked + label:after, .checkout-wrap .checkout-col .input-row.check-row input[type=radio]:checked + label:after, .checkout-wrap .checkout-col .input-row.radio-row input[type=checkbox]:checked + label:after, .checkout-wrap .checkout-col .input-row.radio-row input[type=radio]:checked + label:after {
            visibility: visible; }
        .checkout-wrap .checkout-col .input-row.check-row input[type=radio]:checked + label:before, .checkout-wrap .checkout-col .input-row.radio-row input[type=radio]:checked + label:before {
          background: none; }
      .checkout-wrap .checkout-col .input-row input[type=submit] {
        text-transform: uppercase;
        text-align: center;
        display: block;
        text-decoration: none;
        height: 40px;
        background: #e0366a;
        border: none;
        border-bottom: 1px solid #555555;
        margin: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        color: white;
        padding: 2px 0 0;
        overflow: visible;
        cursor: pointer;
        font: 16px/19px robotobold, Arial, Helvetica, sans-serif;
        padding: 2px 30px 0; }
        .checkout-wrap .checkout-col .input-row input[type=submit]:hover {
          background: #c82e5d; }
      .checkout-wrap .checkout-col .input-row span.required {
        float: right;
        color: #aaaaaa;
        font-size: 12px;
        line-height: 14px; }
      .checkout-wrap .checkout-col .input-row .add-info {
        float: right; }
        .checkout-wrap .checkout-col .input-row .add-info h4 {
          color: #e0366a;
          font-size: 14px;
          line-height: 17px;
          margin: 0 0 18px; }
        .checkout-wrap .checkout-col .input-row .add-info ul {
          font-size: 12px;
          color: #aaaaaa;
          line-height: 14px; }
          .checkout-wrap .checkout-col .input-row .add-info ul li {
            padding: 0 0 6px; }
            .checkout-wrap .checkout-col .input-row .add-info ul li:before {
              width: 6px;
              height: 6px;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              content: "";
              margin: 4px 10px 0 0;
              display: inline-block;
              vertical-align: top;
              background: #aaaaaa; }
      .checkout-wrap .checkout-col .input-row.methods {
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 20px; }
        .checkout-wrap .checkout-col .input-row.methods label {
          float: none;
          display: block;
          overflow: hidden; }
          .checkout-wrap .checkout-col .input-row.methods label:before {
            float: left; }
          .checkout-wrap .checkout-col .input-row.methods label strong {
            font-size: 14px;
            line-height: 17px;
            display: block;
            overflow: hidden;
            color: #555555;
            margin-left: 30px; }
          .checkout-wrap .checkout-col .input-row.methods label span {
            font-size: 12px;
            line-height: 20px;
            display: block;
            margin: 15px 0 0 30px; }
          .checkout-wrap .checkout-col .input-row.methods label img {
            float: right; }
        .checkout-wrap .checkout-col .input-row.methods.payment label strong {
          margin-right: 170px; }
        .checkout-wrap .checkout-col .input-row.methods.payment label span {
          display: none;
          line-height: 14px;
          margin-right: 170px; }
        .checkout-wrap .checkout-col .input-row.methods.payment input[type=radio]:checked + label span {
          display: block; }
      .checkout-wrap .checkout-col .input-row .prices {
        float: right;
        line-height: 23px;
        color: #555555;
        text-align: right;
        margin-left: 20px; }
        .checkout-wrap .checkout-col .input-row .prices span {
          font-size: 12px;
          display: block; }
        .checkout-wrap .checkout-col .input-row .prices strong {
          font-size: 16px;
          display: block; }
      .checkout-wrap .checkout-col .input-row .item-img {
        float: left;
        margin: 0 20px 0 0;
        max-width: 135px; }
      .checkout-wrap .checkout-col .input-row .summary-info {
        overflow: hidden;
        line-height: 22px;
        color: #555555; }
        .checkout-wrap .checkout-col .input-row .summary-info > strong {
          display: block;
          font-size: 14px; }
        .checkout-wrap .checkout-col .input-row .summary-info dl {
          margin: 0;
          overflow: hidden;
          font-size: 12px; }
          .checkout-wrap .checkout-col .input-row .summary-info dl dt {
            color: #bbbbbb;
            float: left;
            margin: 0 3px 0 0; }
          .checkout-wrap .checkout-col .input-row .summary-info dl dd {
            margin: 0;
            overflow: hidden; }
  .checkout-wrap .btn-order {
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
    height: 40px;
    background: #e0366a;
    border: none;
    border-bottom: 1px solid #555555;
    margin: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
    padding: 2px 0 0;
    overflow: visible;
    cursor: pointer;
    font: 16px/19px robotobold, Arial, Helvetica, sans-serif;
    float: right;
    margin: -22px 0 0;
    line-height: 40px;
    padding: 0 45px;
    font-size: 14px;
    position: relative; }
    .checkout-wrap .btn-order:hover {
      background: #c82e5d; }
    .checkout-wrap .btn-order:after {
      width: 4px;
      height: 7px;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 20px;
      content: "";
      background: url(/images/bg-images/bg-arrow4.png) no-repeat; }
  .checkout-wrap .btn-row .btn-order {
    margin: 0; }
  .checkout-wrap .fl {
    float: left; }
  .checkout-wrap .fr {
    float: right; }
  .checkout-wrap .input-70 {
    width: -webkit-calc(70% - 13px);
    width: calc(70% - 13px); }
  .checkout-wrap .input-45 {
    width: -webkit-calc(45% - 13px);
    width: calc(45% - 13px); }
  .checkout-wrap .input-30 {
    width: 30%; }
  .checkout-wrap .input-55 {
    width: 55%; }
  .checkout-wrap .checkout-select {
    border: 1px solid #e6e6e6;
    padding: 12px 47px 11px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    color: #555555;
    cursor: pointer; }
    .checkout-wrap .checkout-select:after {
      width: 9px;
      height: 6px;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 19px;
      background: url(/images/icons/icon-arrow-closed-custom-select.png) no-repeat; }
    .checkout-wrap .checkout-select .selected {
      color: #46b4d0;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .checkout-wrap .checkout-select .drop {
      position: absolute;
      border: 1px solid #e6e6e6;
      padding: 12px 10px 11px;
      cursor: default;
      left: -1px;
      right: -1px;
      top: 37px;
      background: white;
      display: none;
      z-index: 2; }
      .checkout-wrap .checkout-select .drop ul li {
        padding: 8px 0; }
        .checkout-wrap .checkout-select .drop ul li a:hover {
          color: #46b4d0; }
  .checkout-wrap .delivery-info {
    font-size: 10px;
    line-height: 13px;
    color: #bbbbbb; }
  .checkout-wrap .checkout-address {
    font-size: 14px;
    line-height: 17px;
    color: #aaaaaa;
    margin: 0 0 25px; }
    .checkout-wrap .checkout-address span {
      display: block; }
      .checkout-wrap .checkout-address span.name {
        margin-bottom: 10px; }
      .checkout-wrap .checkout-address span.telephone {
        margin-bottom: 10px; }
    .checkout-wrap .checkout-address .address {
      margin-bottom: 10px; }
    .checkout-wrap .checkout-address .edit-address {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      color: #46b4d0; }
      .checkout-wrap .checkout-address .edit-address:before {
        width: 17px;
        height: 17px;
        content: "";
        display: inline-block;
        vertical-align: middle;
        background: url(/images/icons/ico-edit.png) no-repeat;
        margin: 0 7px 0 0; }
  .checkout-wrap .total-checkout {
    padding: 20px;
    border-top: 1px solid #f7f7f7; }
    .checkout-wrap .total-checkout .total {
      width: 313px;
      float: right; }
      .checkout-wrap .total-checkout .total .total-sum {
        width: 100%;
        float: none;
        padding-bottom: 20px; }
        .checkout-wrap .total-checkout .total .total-sum .tax {
          padding-bottom: 0; }
      .checkout-wrap .total-checkout .total .btn {
        text-transform: uppercase;
        text-align: center;
        display: block;
        text-decoration: none;
        height: 40px;
        background: #e0366a;
        border: none;
        border-bottom: 1px solid #555555;
        margin: 0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        color: white;
        padding: 2px 0 0;
        overflow: visible;
        cursor: pointer;
        font: 16px/19px robotobold, Arial, Helvetica, sans-serif;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 37px; }
        .checkout-wrap .total-checkout .total .btn:hover {
          background: #c82e5d; }

.checkout-steps {
  text-align: center;
  font-size: 14px;
  margin: 0 0 30px; }
  .checkout-steps li {
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: 1px;
    border: solid #f7f7f7;
    border-width: 0 0 1px 1px;
    padding: 10px 0; }
    .checkout-steps li:first-child {
      border-left: 0; }
    .checkout-steps li a {
      color: #bbbbbb; }
    .checkout-steps li.current {
      border-bottom-color: #46b4d0; }
      .checkout-steps li.current a {
        color: #46b4d0; }
    .checkout-steps li span.desktop-view {
      display: inline !important; }

@media screen and (max-width: 767px) {
  .user-menu .help {
    display: block; }
    .user-menu .help a:before {
      width: 20px; }
  .misc-container {
    padding: 11px 0; }
    .misc-container .order-ttl-info {
      font-size: 10px;
      top: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      background: white;
      border-top: 1px solid #f7f7f7; }
      .misc-container .order-ttl-info span:before {
        background-size: 100% 100%;
        width: 26px;
        height: 13px;
        margin: 4px 10px 0 0; }
  #footer .footer-top {
    padding: 0;
    border: 0;
    margin: 0; }
    #footer .footer-top .col {
      width: auto !important;
      text-align: center;
      margin-bottom: 20px;
      padding-bottom: 10px; }
      #footer .footer-top .col .title, #footer .footer-top .col ul {
        display: block;
        margin: 0 0 10px; }
  .checkout-wrap {
    overflow: hidden;
    margin: 0;
    padding-bottom: 0; }
    .checkout-wrap .columns-wrap {
      padding-top: 15px; }
    .checkout-wrap .checkout-col {
      width: auto !important;
      margin: 0 15px !important;
      float: none !important; }
      .checkout-wrap .checkout-col h3 {
        display: none; }
      .checkout-wrap .checkout-col .input-row label {
        position: absolute;
        top: 5px;
        left: 10px; }
        .checkout-wrap .checkout-col .input-row label.checkbox, .checkout-wrap .checkout-col .input-row label.radio {
          position: relative;
          top: auto;
          left: auto; }
      .checkout-wrap .checkout-col .input-row input[type=text], .checkout-wrap .checkout-col .input-row input[type=password] {
        padding: 19px 10px 4px; }
      .checkout-wrap .checkout-col .input-row.btn-row {
        background: #f7f7f7;
        border: solid #e6e6e6;
        border-width: 1px 0;
        padding: 10px 15px;
        margin: 0 -15px 20px; }
      .checkout-wrap .checkout-col .input-row input[type=submit] {
        width: 100%; }
      .checkout-wrap .checkout-col .input-row .add-info {
        display: none; }
      .checkout-wrap .checkout-col .input-row span.required {
        float: none;
        margin-bottom: 20px;
        display: block; }
      .checkout-wrap .checkout-col .input-row.methods {
        margin: 0 -15px 20px;
        padding: 0 15px 20px; }
        .checkout-wrap .checkout-col .input-row.methods label span {
          margin-left: 0; }
        .checkout-wrap .checkout-col .input-row.methods.payment label strong, .checkout-wrap .checkout-col .input-row.methods.payment label span {
          margin-right: 0; }
        .checkout-wrap .checkout-col .input-row.methods.payment label img {
          display: none; }
      .checkout-wrap .checkout-col .input-row .item-img {
        max-width: 95px; }
      .checkout-wrap .checkout-col .input-row .summary-info strong {
        font-size: 12px; }
      .checkout-wrap .checkout-col .input-row .summary-info dl {
        font-size: 10px; }
        .checkout-wrap .checkout-col .input-row .summary-info dl dt {
          display: none; }
        .checkout-wrap .checkout-col .input-row .summary-info dl dd {
          color: #bbbbbb; }
      .checkout-wrap .checkout-col .input-row .summary-info .prices {
        float: none;
        overflow: hidden;
        margin: 0; }
        .checkout-wrap .checkout-col .input-row .summary-info .prices span {
          float: left;
          color: #bbbbbb; }
        .checkout-wrap .checkout-col .input-row .summary-info .prices strong {
          float: right;
          font-size: 14px; }
      .checkout-wrap .checkout-col.medium {
        padding-top: 0; }
      .checkout-wrap .checkout-col.checkout-info .block {
        margin: 0 -15px;
        padding: 0 0 10px;
        background: white; }
        .checkout-wrap .checkout-col.checkout-info .block .row {
          padding: 10px 15px 0; }
          .checkout-wrap .checkout-col.checkout-info .block .row .edit-row {
            margin: -10px -15px 10px;
            padding: 10px 15px 0;
            background: #f7f7f7;
            border-bottom: 1px solid #e6e6e6; }
            .checkout-wrap .checkout-col.checkout-info .block .row .edit-row .edit-address:before {
              display: none; }
        .checkout-wrap .checkout-col.checkout-info .block .title {
          display: none; }
    .checkout-wrap .fl, .checkout-wrap .fr {
      float: none; }
    .checkout-wrap .input-70, .checkout-wrap .input-45, .checkout-wrap .input-30, .checkout-wrap .input-55 {
      width: 100%; }
    .checkout-wrap .total-checkout {
      padding: 15px;
      width: auto;
      float: none;
      border-color: #e6e6e6;
      border-bottom: 1px solid #e6e6e6; }
      .checkout-wrap .total-checkout .total {
        width: auto;
        float: none; }
      .checkout-wrap .total-checkout .total-sum {
        padding: 0;
        font-size: 12px; }
  .checkout-tabs {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 2px 0 0; }
    .checkout-tabs ul {
      overflow: hidden; }
      .checkout-tabs ul li {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        border: 1px solid #e6e6e6;
        margin: 0 -1px 0 0; }
        .checkout-tabs ul li:first-child {
          border-left: 0; }
        .checkout-tabs ul li:last-child {
          border-right: 0; }
        .checkout-tabs ul li a {
          color: #bbbbbb;
          display: block;
          padding: 10px 0; }
        .checkout-tabs ul li.active {
          background: white;
          border-color: #bbbbbb;
          border-bottom-color: white;
          position: relative; }
          .checkout-tabs ul li.active a {
            color: #555555; }
  .checkout-steps {
    border: 0;
    font-size: 10px;
    margin: 0 0 15px;
    background: #f7f7f7; }
    .checkout-steps li {
      float: left;
      width: 25%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: static;
      top: auto;
      border: 0;
      padding: 0 15px; }
      .checkout-steps li a {
        color: #bbbbbb;
        display: block;
        padding: 10px 0 8px;
        border-bottom: 2px solid transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .checkout-steps li.current a {
        color: #46b4d0;
        border-bottom-color: #46b4d0; }
      .checkout-steps li span.desktop-view {
        display: none !important; }
  .btn-row {
    background: #f7f7f7;
    border: solid #e6e6e6;
    border-width: 1px 0;
    padding: 10px 15px;
    margin: 0 -15px 20px; }
    .btn-row .btn-order {
      float: none;
      margin: 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .btn-row .btn-order:after {
        display: none; }
      .btn-row .btn-order.btn-back {
        background: none;
        border: 1px solid #e0366a;
        color: #e0366a;
        margin-top: 10px; }
        .btn-row .btn-order.btn-back:hover {
          background: none; }
  .mob-title {
    padding: 15px;
    margin: 0 0 15px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    font-size: 12px;
    color: #555555; }
    .mob-title .edit {
      float: right;
      color: #46b4d0; } }
