<script>
var preview = false;
var addSubmitHandler = function(){
    $('#cms-page-form').submit(function (e) {
        var data = new FormData();
        var url = e.targetElement.attr('action');
        if (preview) {
            url += '?preview=true'
        }
        $.ajax({
            url: url,
            data: $('#cms-page-form').serialize(),
            processData: false,
            type: 'POST',
            success: function (data) {
                if (!data.success) {
                    var form = data.form;
                    $('#form-widget-container').html(form).addClass('validation-error');
                    addSubmitHandler();
                } else {
                    $('#form-widget-container').removeClass('validation-error');
                    if (data.redirectUrl) {
                        window.location.href = data.redirectUrl;
                    }
                    if (data.previewUrl) {
                        window.open(data.previewUrl, '_blank');
                    }

                }
            }
        });
        e.preventDefault();
    });
};
$(document).ready(function(){
    addSubmitHandler();
    $('#preview').click(function(){
        preview = true;
    });
});

var CmsPage = {

    init: function()
    {
        this.applyTemplateContainerToForm();
        this.changeTemplateView();
        this.watchTemplateChange();
    },

    applyTemplateContainerToForm: function()
    {
        $('#template').after('<div id="template-container"></div>');
    },

    /**
     * @returns {*|jQuery}
     */
    getSelectedTemplate: function()
    {
        return $('#template').val();
    },

    changeTemplateView: function()
    {
        var template = this.getSelectedTemplate().replace('.twig', '');
        $.ajax({
            url: '/cms/template/load/template/' + template,
            success: function (data) {
                if (!data.success) {
                    alert('could not find template by name ' + template);
                } else {
                    $('#template-container').html(data.template);
                    CmsPage.watchCmsBlocks();
                }
            }
        });
    },

    watchTemplateChange: function()
    {
        $('#template').change(function(){
            CmsPage.changeTemplateView();
        });
    },

    watchCmsBlocks: function()
    {
        $('.block-partial').click(function(){
            CmsPage.loadBlockManager($(this));
        });
    },
    /**
     * @param block
     */
    loadBlockManager: function(block)
    {
        var blockName = block.attr('id');
        var blockType = block.attr('data-type');
        var idCmsPage = $('#id_cms_page').val();
        switch (blockType) {
            case 'product':
                this.loadProductBlock(idCmsPage, blockName, blockType);
                break;
            case 'text':
                this.loadTextBlock(idCmsPage, blockName, blockType);
                break;
            default:
                alert('No block manager for "' + blockType + '" defined');
        }
    },

    /**
     * @param idCmsPage
     * @param blockName
     * @param blockType
     */
    loadProductBlock: function(idCmsPage, blockName, blockType)
    {
        var url = '/cms/product-block/index/fk_cms_page/' + idCmsPage + '/block_name/' + blockName + '/block_type/' + blockType;
        this.openModal(url);
    },

    /**
     * @param idCmsPage
     * @param blockName
     * @param blockType
     */
    loadTextBlock: function(idCmsPage, blockName, blockType)
    {
        var url = '/cms/text-block-form/index/fk_cms_page/' + idCmsPage + '/block_name/' + blockName + '/block_type/' + blockType;
        this.openModal(url);
    },

    /**
     * @param url
     */
    openModal: function (url){
        var modal  = $('#modal');
        $.get(url)
            .success(function (data) {
                modal
                    .html(data)
                    .modal();
            });
    }

};

$(document).ready(function(){
    CmsPage.init();
});
</script>
PROJECT NON STORE
<section id="modal" class="modal"></section>
<div id="form-widget-container">{{ form }}</div>
