// Communication channels
//
// Markup: organisms.communication.hbs
//
// Styleguide: organisms.communication

.communication{
    padding: 50px 0 0 0;
    @include sectionShadow;

    background: $_rgbApple;
    color: $_rgbWhite;
}

.communication__channels{
    @include limitWidth(500px);
    overflow: hidden;
}

.communication__channel{
    width: 50%;
    margin: 0 0 50px 0;
    padding: 53px 10px 0;
    float: left;
    text-align: center;

    &:nth-child(2n+1){
        clear: left;
    }

    &:before{
        top: 0 !important;
        margin-top: 0 !important;
        width: 100%;
        text-align: center;
    }
}

.communication__channel--call{
    @include pdif('phone', 44px, 0);
}

.communication__channel--mail{
    @include pdif('mail', 44px, 0);
}

.communication__channel--chat{
    @include pdif('chat', 44px, 0);
}

.communication__channel--store{
    @include pdif('poi', 44px, 0);
}

.communication__label{
    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}

.communication__info{
    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    color: $_rgbWhite
}


@media (min-width: $_wLarge) {

    .communication__channels{
        @include limitWidth;
    }

    .communication__channel{
        width: 25%;

        &:nth-child(2n+1){
            clear: none;
        }
    }
}
