<div class="communication">
    <div class="communication__channels">
        <div class="communication__channel communication__channel--call">
            <h2 class="communication__label">Beratungs-Telefon</h2>
            <h2 class="communication__info">+44 191 231 3983</h2>
        </div>
        <div class="communication__channel communication__channel--mail">
            <h2 class="communication__label">Mail</h2>
            <h2 class="communication__info">hello@petsdeli.de</h2>
        </div>
        <div class="communication__channel communication__channel--chat">
            <h2 class="communication__label">Chat</h2>
            <h2 class="communication__info">Sprechen sie mit uns</h2>
        </div>
        <div class="communication__channel communication__channel--store">
            <h2 class="communication__label">Ladengeschäfte</h2>
            <h2 class="communication__info">Unsere Ladengeschäfte</h2>
        </div>
    </div>
</div>