{% block content %}
    {% if productGroupItems|length %}
        <div data-component="product-group">
            <ul class="product-group">
                {% for productGroupItem in productGroupItems %}
                    {% set imageUrl = productGroupItem.imageSets.default is defined ? productGroupItem.imageSets.default|first : null %}

                    <li data-product-group-item-preview="{{ imageUrl ? imageUrl.externalUrlSmall : '' }}">
                        <a href="{{ productGroupItem.url }}" {% if productGroupItem.colorCode %}style="background-color: {{ productGroupItem.colorCode }};"{% endif %}></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
