{% if productGroupItems|length %}
    <div data-component="product-group">
        <ul class="simple menu">
            {% for productGroupItem in productGroupItems %}
                <li data-product-group-item-preview="{{ productGroupItem.imageSets.default[0].externalUrlSmall }}">
                    <a href="{{ productGroupItem.url }}">{{ productGroupItem.sku }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
