{% extends "@application/layout/layout.twig" %}

{% block title %}{{ product.abstract_name }}{% endblock %}

{% block content %}

<div class="product">
    <div class="product__detail">

        <div class="product__gallery column medium-3">
            {% include '@application/layout/content/product/details/product-gallery.twig' with {
                product: product
            } %}
        </div>

        <div class="column medium-5">
            {% include '@application/layout/content/product/details/product-intro.twig' with {
                product: product
            } %}

            {% include '@application/layout/content/product/details/product-content.twig' with {
                product: product
            } %}
        </div>

        <div class="column medium-4">
            {% include '@application/layout/content/product/details/product-options.twig' with {
                product: product
            } %}
        </div>

        {% include '@application/layout/content/product/details/product-features.twig' with {
            product: product
        } %}
    </div>

    {% include '@application/layout/content/product/details/product-accordion.twig' with {
        product: product
    } %}

    {% include '@application/layout/content/product/details/product-related.twig' with {
        product: product
    } %}

    {% include '@application/layout/content/product/details/product-configurator.twig' with {
        product: product
    } %}
</div>

{% endblock %}
