{% extends "@application/layout.twig" %}

{% block content %}
<div class="consumeHeight" id="home">
    <section>
        Willkommen zu Yves!
        <br /><br />
        Hier geht es zum Cart: <a href="{{ url('cart') }}">link</a>
    </section>
</div>
{% endblock %}
