// User boxes

// TODO: separate boxes into component
.user-boxes{
    @include clearfix;
    @include pageWidth;
    padding-top: 15px;
    padding-bottom: 80px;

    text-align: center;
}

.user-boxes__inner{
    margin: 0 -10px;
}

.user-box{
    width: 100%;
    padding: 10px;
    margin-right: -4px;

    text-align: center;
    vertical-align: top;

    .input, .password-input{
        margin-top: 30px;
    }

    .password-input{
        .input{
            margin-top: 0;
        }
    }
}

.user-box__inner{
    background: $_rgbWhite;
    @include cardShadow;
    padding: 30px;
}

.user-box__form{
    width: 100%;
    max-width: 480px;
    display: inline-block;

    text-align: center;

    .button{
        margin-top: 32px;
    }

    .password-input{
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    .password-input + .button{
        margin-top: 80px;
    }
}

.user-box__headline{
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 40px;
    color: $_rgbApple;
}

.user-box__description{
    font-size: 20px;
    color: $_rgbSilverChalice;

    strong{
        font-family: $_ffBrandonGrotesque-Black;
        color: $_rgbDoveGray;
        font-weight: normal;
    }
}

.user-box__not{
    display: block;
    margin: 60px 0 -18px 0;

    font-size: 16px;
    color: $_rgbSilverChalice;
}

.user-box__divider{
    margin: 24px -30px 35px;
    border-top: 1px solid $_rgbDustyGray;
}

.user-box__properties{
    margin-top: 50px;
}



@media (min-width: $_wMedium) {
    .user-box{
        display: inline-block;
        width: 50%;
        padding: 10px;
    }
}
