{% extends "@checkout/checkout/cart.twig" %}

{% block discounts %}

    <div>
        Message : {{ cart.couponMessage|trans }}
    </div>

    {% include "@checkout/checkout/partials/discountList.twig" %}

{% endblock %}
