// Cart layer
//
// Markup:
// <div class="cart-layer">
//    {{> atoms.close-button}}
//    <div class="cart-layer__inner">
//        <h2 class="cart-layer__headline">Cart</h2>
//        <div class="cart-layer__items">
//            {{> molecules.cart-item}}
//            {{> molecules.cart-item}}
//        </div>
//        <div class="cart-layer__upsell">
//            {{> molecules.product-card-wide}}
//        </div>
//    </div>
//</div>
//
// Styleguide: molecules.cart-layer
//
// Weight: -2

.cart-layer{
    position: relative;
    width: 20%;
    float: left;
    @include sectionShadow;
    //
    // // TODO: abstract header height to variable
    // top: 135px;
    // left: 0;

    &.js-processed{
        transition: margin-top $_tMedium ease-in-out;
    }

    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -45px;
        left: 0;
        height: 45px;
        width: 100%;
        background: $_rgbWhite;
    }
}

.cart-layer__inner{
    position: relative;
    z-index: 1;
    background: $_rgbWhite;
}

.cart-layer--open{
    &:after{
        content: '';
        z-index: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $_rgbBlack30;
    }
}

.cart-layer__headline{
    padding: 11px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: $_fsLarge;
    line-height: $_lhLarge;
    letter-spacing: 2.18px;
    color: $_rgbQuincy;
    text-transform: uppercase;
    text-align: center;
}

.cart-layer__upsell{
    width: 50%;
}