// Product Card (wide)
//
// Markup:
// <div class="product-card-wide">
//    <div class="product-card-wide__inner">
//        <div class="product-card-wide__label">Snacks</div>
//        <div class="product-card-wide__image">
//            <img src="../images/product/cookies.jpg" />
//        </div>
//        <div class="product-card-wide__info">
//            <div class="product-card-wide__breadcrumbs">
//                <div class="product-card-wide__breadcrumb">Dogs</div>
//                <div class="product-card-wide__breadcrumb">Snacks</div>
//                <div class="product-card-wide__breadcrumb">Cookies</div>
//            </div>
//            <div class="product-card-wide__title">Bio Cookie</div>
//            <div class="product-card-wide__price-total">€4.00</div>
//            <div class="product-card-wide__price-relative">250ml (€2.80 / 100g)</div>
//            <div class="product-card-wide__add button button--cta">Add to cart</div>
//        </div>
//    </div>
// </div>
//
// Styleguide: molecules.product-card-wide


.product-card-wide{
    padding: 8px 4px;
}

.product-card-wide__inner{
    position: relative;
    padding: 40px 70px 40px 0;
    @include cardShadow;
    @include clearfix;
    background: $_rgbWhite;
}

.product-card-wide__label{
    min-width: 160px;
    padding: 7px 15px;
    position: absolute;
    top: 39px;
    left: 0;
    background: $_rgbApple;

    color: $_rgbWhite;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
    font-family: $_ffBrandonGrotesque-Bold;
}

.product-card-wide__image{
    float: left;
    width: 50%;

    img{
        @include responsiveImage;
        max-width: 300px;
    }
}

.product-card-wide__label{
    position: absolute;
    top: 30px;
    left: 0;
    padding: 9px 12px;
    background: $_rgbApple;
    color: $_rgbWhite;
    letter-spacing: .54px;
}

.product-card-wide__info{
    float: left;
    width: 50%;
}

.product-card-wide__breadcrumbs{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.14px;
    color: $_rgbOsloGray;
    text-transform: uppercase;
}

.product-card-wide__breadcrumb{
    display: inline-block;

    & + .product-card-wide__breadcrumb:before{
        position: relative;
        top: -2px;
        content: '|';
        margin: 0 5px 0 3px;
    }
}

.product-card-wide__title{
    margin-bottom: 35px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 26px;
    line-height: 28px;
    color: $_rgbApple;
}


.product-card-wide__price-total{
    text-align: right;
    font-size: 28px;
    line-height: 33px;
    font-family: $_ffHelveticaNeue;
    color: $_rgbOsloGray;
}

.product-card-wide__price-relative{
    margin-bottom: 25px;

    font-size: $_fsSmall;
    line-height: $_lhSmall;
    letter-spacing: 0.25px;
    text-align: right;
    font-family: $_ffHelveticaNeue;
    color: $_rgbSilverChalices2
}

.product-card-wide__add{
    float: right;
}