.product-grid{
    @include pageWidth;
    overflow: hidden;
    margin-bottom: 11px;

    display: flex;
    flex-wrap: wrap;

    .product-card{
        float: left;
    }
}


@media (min-width: 701px) and (max-width: 1050px){
    .product-grid{
        .product-card{
            width: 50%;

            &:nth-child(2n+1){
                clear: left;
            }
        }
    }
}

@media (min-width: 1051px){
    .product-grid{
        .product-card{
            width: 33.333%;

            &:nth-child(3n+1){
                clear: left;
            }
        }
    }
}