<div class="imprint">
    <div class="imprint__inner">

        {% if cmsValues.headline is defined %}
            <h1 class="imprint__headline">{{ cmsValues.headline }}</h1>
        {% endif %}


        {% if cmsValues.blocks is defined %}
            <div class="imprint__blocks">

                {% for block in cmsValues.blocks %}

                        <div class="imprint__block imprint__block--{{ loop.index is odd ? 'left' : 'right' }}">

                            {% if block.content is defined %}
                                <div class="imprint__content">
                                    {% markdown %}
                                        {{ block.content | nl2br}}
                                    {% endmarkdown %}
                                </div>
                            {% endif %}

                        </div>

                {% endfor %}

            </div>
        {% endif %}

    </div>
</div>
