{% use '@Application/layout/common/icons.twig' %}


{%
    set data = {
        headline: 'Unsere Zahlarten',
        methods: ['paypal', 'visa', 'mastercard', 'sepa', 'sofort', 'vorkasse']
    }
%}



<div class="payment">
   <h2 class="payment__headline">{{ data.headline }}</h2>

   <div class="payment__methods">
       {% for method in data.methods %}
       <div class="payment__method payment__method__{{ method }}">
           {{ block('icon_' ~ method) }}
       </div>
       {% endfor %}
   </div>
</div>
