<div class="product-accordion js-product-accordion">
    {% for entry in cmsValues.entries %}

        {% include '@application/layout/content/product/details/product-accordion-item.twig' with {
        item: {
            title: entry.title is defined ? entry.title : '',
            content: entry.content is defined ? entry.content : ''
        }
    } %}
    {% endfor %}

    {% include '@application/layout/content/product/details/product-accordion-item.twig' with {
        item: {
            title: 'Zusätzliche Produktinformationen',
            content: dynamicData.product_attribute,
            modifier: 'product-accordion-item--active'
        }
    } %}

</div>
