{% set product = dynamicData.product %}
{% set options = dynamicData.options %}
{% set pricings = dynamicData.pricings %}

{% if product.meta_title is defined  %}
    {{ setGlobalValue('meta_title', product.meta_title) }}
{% endif %}

{% if product.meta_description  is defined  %}
    {{ setGlobalValue('meta_description', product.meta_description) }}
{% endif %}
{% if product.meta_keywords is defined  %}
    {{ setGlobalValue('meta_keywords', product.meta_keywords) }}
{% endif %}

<div class="product">

    <div class="product__detail">

        <div class="product__gallery">
            {% include '@application/layout/content/product/details/product-gallery.twig' with {
            product: product
            } %}
        </div>

        <div class="product__info">
            {% include '@application/layout/content/product/details/product-intro.twig' with {
            product: product
            } %}

            {% include '@application/layout/content/product/details/product-content.twig' with {
            product: product
            } %}
        </div>

        <div class="product__options">
            {% include '@application/layout/content/product/details/product-options.twig' with {
            product: product
            } %}
        </div>
    </div>

        {% include '@application/layout/content/product/details/product-related.twig' with {
        product: product
        } %}


    {% if options is not empty %}
        {% include '@application/layout/content/product/details/product-configurator.twig' %}
    {% endif %}
</div>

