{# used in header main navigation in dropdown menu #}
{% macro categoryItem(name, url, imageUrl) %}
    {% if imageUrl is defined and imageUrl != '' and imageUrl != '#' %}
        {% set categoryImage = '/images/nav/' ~ imageUrl %}
    {% else %}
        {% set categoryImage = '#' %}
    {% endif %}
    <li><a href="{{ url }}" title="{{ name }}"><img src="{{ categoryImage }}" alt="{{ name }}"></a></li>
{% endmacro %}
