<div class="menu-teaser-full">
    <div class="menu-teaser-full__inner" style="background-image: url({{image}});">
        <h2 class="menu-teaser-full__headline">{{title}}</h2>
        {{> "atoms.button" title=button }}
    </div>
</div>