{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div class="catalog">
        <h1 class="catalog__section-title">Wild life</h1>

        <aside class="catalog__filter js-filters">
            {% include "@catalog/catalog/partials/filter-default.twig" with {filterName:'category'} %}
            {% include "@catalog/catalog/partials/filter-color.twig" with {filterName:'color', id: 42} %}
            {% include "@catalog/catalog/partials/filter-range.twig" with {filterName:'price', min:'0', max:'200'} %}
            {% include "@catalog/catalog/partials/filter-multivalue.twig" with {filterName:'extras'} %}
        </aside>
        <button class="catalog__toggle-filters js-toggle-filters">
            <span class="js-show-filters">Show filters</span>
            <span class="js-hide-filters">Hide filters</span>
        </button>

        <section class="catalog__active-filters">
            <h1>Aktive filter</h1>
            <ul class="active-filter__list">
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'category', value:'', id: 42} %}
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'color', value:'', id: 42} %}
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'price', value:'', id: 42} %}
                {% include "@catalog/catalog/partials/active-filter.twig" with {name:'extras', value:'', id: 42} %}
            </ul>
        </section>

        <header class="catalog__summary">
            <div class="summary__total-count">67 figuren gefunden</div>
            <div class="summary__sorting">
                Sortieren
                <button class="sorting__button--inc">A-Z</button>
                <button class="sorting__button--dec">Z-A</button>
                <button class="sorting__button--inc">
                    <span class="sorting__label--small">€</span>
                    <span class="sorting__label--medium">€</span>
                    <span class="sorting__label--large">€</span>
                </button>
                <button class="sorting__button--dec">
                    <span class="sorting__label--large">€</span>
                    <span class="sorting__label--medium">€</span>
                    <span class="sorting__label--small">€</span>
                </button>
            </div>
        </header>

        <div class="catalog__products-holder js-products-holder">
            <section class="catalog__products js-products-current">
                {% for product in products %}
                    {#{{ dump(product) }}#}
                    {% include "@catalog/catalog/partials/product.twig" with {detailsUrl: product.url, imageUrl: product.attributes.image_url, name: product.name, price: product.valid_price} %}
                {% endfor %}
            </section>
            <div class="catalog__loading-text">Loading...</div>
        </div>

        <div class="catalog__pagination">
            <button class="pagination__button js-pagination-prev">Prev</button>
            <button class="pagination__button js-pagination-next">Next</button>
        </div>
    </div>
{% endblock %}
