{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}
    <link rel="stylesheet" href="/styles/catalog.css" />
    <script src="/scripts/app/catalog.js"></script>

    <section class="consumeHeight" id="catalog">

        <div class="col col25">
            {{ numFound ~ ' ' ~ 'catalog.fulltext.result'|trans ~ ' ' }}
            <b>"{{ searchString }}"</b>'
        </div>
        <div>
        </div>

        {% if numFound > 0 %}
            <div id="options" class="col col75">
                {% include "@catalog/partials/options.twig" with { 'url': '/search'} %}
            </div>
            <div class="sidebar col col25">
                {% include "@catalog/partials/filters.twig" with {'facets': facets, 'url': '/search'} only %}
            </div>
        {% endif %}

        {% include "@catalog/partials/product-list.twig" with {'products': products} only %}

    </section>
{% endblock %}