{% extends "@application/layout/layout.twig" %}

{% block content %}

    {% include "@catalog/catalog/catalog.twig" %}
    <h2 style="margin-top: 80px">Category</h2>
    {{ dump (category) }}
    <h2>Categories</h2>
    {{ dump (categories) }}
    <h2>Category Tree</h2>
    {{ dump (categoryTree) }}
    <h2>Products @ToDo Fix Product / Catalog Export</h2>
    {{ dump (products) }}
{% endblock %}