{% extends "@application/layout/full.twig" %}

{% block content %}

<fieldset style="margin:10px;"><legend>Catalog Products</legend>
{% for product in products %}
    <div style="float:left;margin:5px;padding:5px;width:150px;border:1px double #003c3b ">
        {{ product.name }} <br />
        <a href="http://local.pyz.dev/{{ product.name | url_encode | replace({'-': '+'}) }}-{{ product.id_catalog_product }}.html">See Details ...</a>
    </div>
{% endfor %}
<div style="clear: both;"></div>
</fieldset>
{% endblock %}
