{% extends "@customer/layout.twig" %}

{% block title %}
    <h3>{{ 'customer.account.order_history' | trans }}</h3>
{% endblock %}

{% block customerNavigation %}
    {% include "@customer/partials/navigation.twig" with {'active': 'order'} %}
{% endblock %}

{% block customerContent %}
    <div class="callout">
        {% if orderList | length %}
            <h5>{{ 'customer.order.all_orders' | trans }}</h5>
            <hr>

            {% include "@customer/order/partials/order-list.twig" %}

            <div class="row align-center">
                {% include '@Application/layout/partials/pagination.twig' with {
                    parameters: {},
                    currentPage: pagination.page,
                    paginationPath: 'customer/order',
                    maxPage: pagination.lastPage,
                    showAlwaysFirstAndLast: true
                } %}
            </div>

        {% else %}
            <p>{{ 'customer.account.no_orders' | trans }}</p>
        {% endif %}
    </div>
{% endblock %}
