<div class="radio-buttons">
    <div class="radio-buttons__button">
        <input type="radio" id="carbs_full" name="carbs" value="full" checked>
        <label class="radio-buttons__button-inner" for="carbs_full">
            Full Carbs
        </label>
    </div>
    <div class="radio-buttons__button">
        <input type="radio" id="carbs_half" name="carbs" value="half">
        <label class="radio-buttons__button-inner" for="carbs_half">
            1/2 Carbs
        </label>
    </div>
    <div class="radio-buttons__button">
        <input type="radio" id="carbs_none" name="carbs" value="none">
        <label class="radio-buttons__button-inner" for="carbs_none">
            No Carbs
        </label>
    </div>
</div>