<div class="product-configurator" data-trigger="js-product-customize">
    {{> "atoms.close-button"}}

    <form class="product-configurator__inner">
        <h2 class="product-configurator__headline">Customize Ingredients</h2>

        <div class="product-configurator__description">
            You can select the kind of meat your dog can eat.
            <br> The package will contain a random box quantity of the ingredients you select.
        </div>

        <h3 class="product-configurator__subheadline">Meat Ingredients</h3>
        <div class="product-configurator__description">
            My dog can eat the following selected ingredients.
        </div>

        <div class="product-configurator__composition">
            <div class="product-configurator__composition-label">
                Select or deselect ingredients:
            </div>
            {{> "atoms.image-checkbox" id="meat_beef" image="../images/product/meat_beef.jpg" label="Beef" name="meat.igredients[]" value="beef"}} {{> "atoms.image-checkbox" id="meat_kanguru" image="../images/product/meat_kanguru.jpg" label="Kanguru" name="meat.igredients[]"
            value="kanguru"}}
            {{> "atoms.image-checkbox" id="meat_chicken" image="../images/product/meat_chicken.jpg" label="Chicken" name="meat.igredients[]" value="chicken"}} {{> "atoms.image-checkbox" id="meat_deer" image="../images/product/meat_deer.jpg"
            label="Deer" name="meat.igredients[]" value="deer"}}
            {{> "atoms.image-checkbox" id="meat_turkey" image="../images/product/meat_turkey.jpg" label="Turkey" name="meat.igredients[]" value="turkey"}}
            {{> "atoms.image-checkbox" id="meat_redfish"
            image="../images/product/meat_redfish.jpg" label="Redfish" name="meat.igredients[]" value="redfish"}}
        </div>

        <div class="product-configurator__composition">
            <div class="product-configurator__composition-label">
                Select or deselect ingredients:
            </div>
            {{> "atoms.image-checkbox" id="carbs_rice" image="../images/product/carbs_rice.jpg" label="Rice" name="carbs.igredients[]" value="rice"}}
            {{> "atoms.image-checkbox" id="carbs_potatoes" image="../images/product/carbs_potatoes.jpg" label="Potatoes" name="carbs.igredients[]"
            value="potatoes"}}
        </div>

        <div class="product-configurator__save">
            <div class="product-configurator__availability">Depending on availability you will find some of the above ingredients.</div>
            <button class="button" type="submit">
                Save my selection
            </button>
        </div>
    </form>
    
</div>