<div class="product-configurator" data-trigger="js-product-customize">
    {{> "atoms.close-button"}}

    <form class="product-configurator__inner">
        <h2 class="product-configurator__headline">Inhalt anpassen</h2>

        <div class="product-configurator__description">
            Wählen Sie die Zutaten ab, die Ihr Tier nicht verträgt. <br> Das Paket wird dennoch immer 10 Menüboxen enthalten.
        </div>

        <h3 class="product-configurator__subheadline">Fleishsorten</h3>

        <div class="product-configurator__composition">
            <div class="product-configurator__composition-label">
                Wählen Sie Zutaten aus oder ab:
            </div>

            {{> "atoms.image-checkbox" id="meat_beef" image="../images/product/meat_beef.jpg" label="Beef" name="meat.igredients[]" value="beef"}} {{> "atoms.image-checkbox" id="meat_kanguru" image="../images/product/meat_kanguru.jpg" label="Kanguru" name="meat.igredients[]"
            value="kanguru"}}
            {{> "atoms.image-checkbox" id="meat_chicken" image="../images/product/meat_chicken.jpg" label="Chicken" name="meat.igredients[]" value="chicken"}} {{> "atoms.image-checkbox" id="meat_deer" image="../images/product/meat_deer.jpg"
            label="Deer" name="meat.igredients[]" value="deer"}}
            {{> "atoms.image-checkbox" id="meat_turkey" image="../images/product/meat_turkey.jpg" label="Turkey" name="meat.igredients[]" value="turkey"}}
            {{> "atoms.image-checkbox" id="meat_redfish"
            image="../images/product/meat_redfish.jpg" label="Redfish" name="meat.igredients[]" value="redfish"}}
        </div>


        <h3 class="product-configurator__subheadline">Kohlenhydrate</h3>

        <div class="product-configurator__composition">
            <div class="product-configurator__composition-label">
                Wählen Sie Zutaten aus oder ab:
            </div>

            {{> "atoms.image-checkbox" id="carbs_rice" image="../images/product/carbs_rice.jpg" label="Rice" name="carbs.igredients[]" value="rice"}}
            {{> "atoms.image-checkbox" id="carbs_potatoes" image="../images/product/carbs_potatoes.jpg" label="Potatoes" name="carbs.igredients[]"
            value="potatoes"}}
        </div>

        <div class="product-configurator__save">
            <button class="button" type="submit">Meine Auswahl speichern</button>
        </div>
    </form>

</div>