// Clients
//
// Markup:
//<div class="clients">
//    <div class="clients__inner">
//        <div class="clients__content">
//            {{> "atoms.page-title" modifier_class="page-title--quincy" title="Our clients"}}
//            {{> "atoms.subtitle"}}
//        </div>
//        <div class="clients__items row">
//            {{> "molecules.client"}}
//            {{> "molecules.client"}}
//            {{> "molecules.client"}}
//        </div>
//    </div>
//</div>
//
// Styleguide: organisms.clients

.clients{
    padding: 85px 0 80px;
    @include sectionShadow;
}

.clients__inner{
    @include pageWidth;
}

.clients__content{
    @include limitWidth(800px);
    text-align: center;
    padding-bottom: 20px;
}

.clients__items{
    @include clearfix;
}