// Featured products
//
// Markup:
// <div class="featured-products">
//     <div class="featured-products__inner">
//         <div class="featured-products__intro">
//             <h2 class="featured-products__headline">Unsere Starter Packete</h2>
//             <p class="featured-products__description">Starten Sie jetzt die gesunde Ernährung Ihres Vierbeiners</p>
//         </div>
//         <div class="featured-products__products">
//                {{> "molecules.product-card"}}
//                {{> "molecules.product-card"}}
//         </div>
//     </div>
// </div>
//
// Styleguide: organisms.featured-products

.featured-products{
    padding: 95px 0 85px;
    background: $_rgbAlabaster;
    @include sectionShadow;
}

.featured-products__inner{
    @include pageWidth;
}

.featured-products__intro{
    float: right;
    width: 100%;
}

.featured-products__headline{
    margin-bottom: 20px;
    
    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbApple;
    font-size: $_fsLarge;
    line-height: $_lhLarge;
    letter-spacing: 2.04px;
    text-align: center;
}

.featured-products__description{
    margin-bottom: 100px;

    color: $_rgbSilverChalice;
    text-align: center;
}


.featured-products__products{
    clear: both;
    overflow: hidden;
}


@media (min-width: $_wMedium) {
    .product-card{
        float: right;
        width: 50%;
    }
}


@media (min-width: $_wLarge) {
    .featured-products{
        background-image: url(../images/product/featured_background.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .featured-products__intro{
        width: 66.666%;
    }

    .product-card{
        float: right;
        width: 33.333%;
    }
}
