<footer class="footer">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__social">
                <div class="footer__icon footer__icon--facebook"></div>
                <div class="footer__icon footer__icon--twitter"></div>
                <div class="footer__icon footer__icon--gplus"></div>
            </div>
            <div class="footer__center">
                <div class="footer__logo"></div>
            </div>
            <div class="footer__payment">
                <div class="footer__icon footer__icon--paypal"></div>
                <div class="footer__icon footer__icon--visa"></div>
                <div class="footer__icon footer__icon--mastercard"></div>
            </div>
        </div>
        <div class="footer__row">
            <div class
        </div>
        <div class="footer__row">
            <div class="footer__icon footer__icon--mail"></div>
            <div class="footer__icon footer__icon--phone"></div>
            <div class="footer__icon footer__icon--poi"></div>
        </div>
        <div class="footer__row">
            <div class="footer__copyright">
                <div></div>
            </div>
        </div>
    </div>
</footer>