// Hero
//
// Markup:
// <div class="hero">
//     <div class="hero__background" style="background-image: url(/images/hero/background.jpg);"></div>
//     <div class="hero__center">
//         <div class="hero__content">
//             <h1 class="hero__headline">Gesunde Nahrung <br> für Hunde und Katzen</h1>
//             <p class="hero__description">
//                 100% Lebensmittelqualitat. 100% Naturnah und artgerecht. 0% Tricks
//             </p>
//         </div>
//     </div>
// </div>
//
// Styleguide: organisms.hero


.hero{
    position: relative;
    height: 390px;
}

.hero__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
}

.hero__center{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate3d(0, -50%, 0);

    text-align: center;
    color: #FFF;
}

.hero__content{
}

.hero__headline{
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 60px;
    line-height: 60px;
    color: $_rgbApple;
}

.hero__description{
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 30px;
    line-height: 43px;
    color: $_rgbWhite;
    //letter-spacing: 1.28px;
}
