// Hero
//
// Markup:
// <div class="hero" style="background-image: url(/images/hero/background.jpg);">
//     <div class="hero__center">
//         <div class="hero__content">
//             {{> "typography.page-title" modifier_class="page-title--white" title="Headline"}}
//             <p class="subtitle subtitle--white">
//                 Wisi eruditi id nam. Te pri oblique ullamcorper, magna persequeris has
//                 eu. Mei prompta dolores ex, eam ad debet suavitate. Pri te vocibus
//                 electram. Eu eleifend rationibus vis, at pro odio.
//             </p>
//             {{> "atoms.button" modifier_class="button--white" title="Dogs products"}}
//             {{> "atoms.button" modifier_class="button--white" title="Cats products"}}
//         </div>
//     </div>
// </div>
//
// Styleguide: organisms.hero


.hero{
    position: relative;
    height: 670px;
    background-position: center !important;
    background-size: cover !important;
}

.hero__center{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);

    text-align: center;
    color: #FFF;
}

.hero__content{
    @include limitWidth();

    .button{
        margin-left: 11px;
        margin-right: 11px;
    }
}
