// Info
//
// Markup:
//<div class="info">
//    <div class="info__content">
//        {{> "typography.page-title" modifier_class="page-title--quincy" title="Our philosophy"}}
//        {{> "typography.subtitle"}}
//    </div>
//    <div class="info__column">
//        {{> "typography.body-text"}}
//    </div>
//    <div class="info__column">
//        {{> "typography.body-text"}}
//    </div>
//    <img class="info__image" src="../images/info/dog_cat.jpg" />
//</div>
//
// Styleguide: organisms.info

.info{
    @include pageWidth;
    @include clearfix;

    text-align: center;
}

.info__content{
    @include limitWidth(830px);
}

.info__column{
    width: 50%;
    float: left;
    padding: 0 20px;

    text-align: left;
}

.info__image{
    margin: 10px auto 0;
    display: block;
    width: 100%;
    height: auto;
    width: 90%;
}