// TODO: divide into molecules

// Navbar
//
// Markup:
// {{> "molecules.offcanvas"}}
// <nav class="navbar">
// <div class="navbar__inner">
//     <div class="navbar__top">
//        <div class="navbar__center">
//             <div class="navbar__wordmark">Pets Deli</div>
//             <div class="navbar__item">Geld - zurück - Garantie</div>
//             <div class="navbar__item">Kostenloser Tiefkühl-Versand</div>
//             <div class="navbar__item">
//                 <span class="navbar__label">Hotline:</span>
//                 <a class="navbar__phone" href="tel:+4930208984899">030 - 208 98 48 99</a>
//             </div>
//             <div class="navbar__item">Bekannt aus
//                <span class="navbar__press navbar__press--bild"></span>
//                <span class="navbar__press navbar__press--spiegel"></span>
//                <span class="navbar__press navbar__press--ard"></span>
//             </div>
//         </div>
//     </div>
//     <div class="navbar__bottom">
//         <div class="navbar__center">
//             <a class="navbar__logo" href="#">
//                 <img src="../images/logo/logo_header.png" alt="Pets Deli Logo" />
//             </a>
//             <ul class="navbar__links">
//                 <li data-menu="main" class="navbar__link"><a href="#">Hunde</a></li>
//                 <li data-menu="main" class="navbar__link"><a href="#">Katzen</a></li>
//                 <li data-menu="main" class="navbar__link navbar__link--support"><a href="#">Warum?</a></li>
//                 <li data-menu="main" class="navbar__link navbar__link--contact"><a href="#">Fragen?</a></li>
//                 <li class="navbar__link navbar__link--login"><a href="#"><span>Anmelden</span></a></li>
//                 <li data-menu="cart" class="navbar__link navbar__link--cart"><a href="#" data-cartcount="2"><span>Warenkorb</span></a></li>
//                 <li class="navbar__link navbar__link--more"><div>&nbsp;</div></li>
//             </ul>
//             <div class="navbar__marker"></div>
//         </div>
//     </div>
// </div>
// {{> "molecules.menu"}}
// </nav>
// <div class="navbar__pusher"></div>
//
// Styleguide: organisms.navbar
//
// Weight: 0


.navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar__inner{
    position: relative;
    z-index: 3;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}

.navbar__pusher{
    padding-top: 135px;
}

.navbar__top{
    padding: 7px 0 5px 0;
    background: $_rgbApple;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: $_fsTiny;
    line-height: $_lhTiny;
    text-transform: uppercase;
    text-align: center;
    color: $_rgbWhite;

    transition: margin-top $_tShort ease-in-out;
}

.navbar__top--hidden{
    margin-top: -45px;
}

.navbar__top--hidden{

}

.navbar__item{
    display: none;
    padding: 0 9px;
}

.navbar__phone{
    color: inherit;
    text-decoration: none;
}

.navbar__press {
    margin-left: 12px;
    height: 9px;
}

.navbar__press--bild{
    @include pdif('bild', 18px, 18px);
}

.navbar__press--spiegel{
    @include pdif('spiegel', 18px, 131px);
}

.navbar__press--ard{
    @include pdif('ard', 18px, 18px);
}


.navbar__bottom{
    @include clearfix;
    background: $_rgbWhite;
}

.navbar__wordmark{
    font-family: $_ffHelveticaNeue;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 33px;
}

.navbar__logo{
    position: relative;
    z-index: 1;
    display: none;
    float: left;
    width: 100px;
    margin: 8px 0 -19px 0;

    img{
        @include responsiveImage;
    }
}

.navbar__links{
    display: table;
    width: 100%;
    float: left;
}

.navbar__link{
    display: table-cell;
    width: 1%;
    text-align: center;

    a, div{
        position: relative;
        display: inline-block;
        margin-bottom: -8px;
        padding: 0 10px;
        overflow: hidden;

        font-family: $_ffBrandonGrotesque-Bold;
        font-size: $_fsSmall;
        line-height: 90px;
        height: 90px;
        text-decoration: none;
        text-transform: uppercase;
        color: $_rgbQuincy;

        cursor: pointer;
    }

    span{
        display: none;
    }
}

.navbar__marker{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 10px;
    width: 0;
    background: $_rgbApple;
    opacity: 0;

    transition: opacity $_tShort ease-in-out $_tMedium, width $_tMedium ease-in-out, left $_tMedium ease-in-out;
}

.navbar__link--support, .navbar__link--contact{
    display: none;
}

.navbar__link--login{
    a{
        @include pdif('user', 20px, 30px);
    }
}

.navbar__link--cart{
    a{
        @include pdif('cart', 20px, 30px);

        &:after{
            position: absolute;
            top: 22px;
            left: 10px;
            content: attr(data-cartcount);
            background: $_rgbClementine;
            height: 21px;
            width: 21px;
            line-height: 21px;
            text-align: center;
            border-radius: 50%;

            font-size: 14px;
            color: $_rgbWhite;
            font-family: $_ffBrandonGrotesque-Bold;
        }
    }
}

.navbar__link--more{
    div{
        @include pdif('more', 9px, 40px);
    }
}



@media (min-width: $_wLarge) {
    .navbar__pusher{
        padding-top: 120px;
    }

    .navbar__top--hidden{
        margin-top: -30px;
    }

    .navbar__center{
        @include pageWidth;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .navbar__item{
        flex-grow: 1;
        white-space: nowrap;
        display: block;

        &:nth-child(2), &:last-child{
            flex-shrink: 1;
        }
    }

    .navbar__wordmark{
        display: none;
    }

    .navbar__logo{
        display: block;
    }

    .navbar__links{
        padding-left: 33px;
        width: calc(100% - 120px);
    }

    .navbar__link--support, .navbar__link--contact{
        display: table-cell;
    }

    .navbar__link--more{
        display: none;
    }
}

@media (min-width: 550px) {
    .navbar__link{
        span{
            display: inline;
        }
    }
}