{% extends "@application/layout/layout.twig" %}

{% block content %}
    <p style="text-align: center; margin: 200px 0 25px 0; font-size: 30px;">ERROR 404</p>
    <p style="text-align: center; margin: 25px 0 200px 0; font-size: 24px;">{{ error }}</p>
{% endblock %}
