{% extends '@cms/template/default.twig' %}

{% block partials %}

    <h1>Example page 2</h1>
    <p>This template handles the rendering of partials</p>

    {% include '@cms/partial/glossary-width-3.twig' with {'block': CmsPage.block(1, 1)} %}
    {% include '@cms/partial/glossary-width-3.twig' with {'block': CmsPage.block(1, 2)} %}
    {% include '@cms/partial/glossary-width-3.twig' with {'block': CmsPage.block(1, 3)} %}
    {% include '@cms/partial/glossary-width-3.twig' with {'block': CmsPage.block(1, 4)} %}

    <p>And yes you can still add some content</p>

{% endblock %}
