{% extends '@cms/template/default.twig' %}

{% block beforePartials %}
    <h1>Example page 1</h1>
    <p>This template is rendered without handling of partials</p>
{% endblock %}

{% block afterPartials %}
    <p>Some content after partials</p>
{% endblock %}
