{% extends '@cms/template/default.twig' %}

{% block beforePartials %}
    {{ spy_cms('heading') }}
    {{ spy_cms('footer') }}
{% endblock %}

{% block afterPartials %}
    <p>Some content after partials</p>
{% endblock %}
