{% block content %}
    <!-- CMS_PLACEHOLDER : "quote" -->
    <!-- CMS_PLACEHOLDER : "reference" -->
    <div class="quote-container">
        <div class="quote">
            "
        </div>
        <div class="quote-content">
            {{ spyCms('quote') | raw }}
            <br>"
        </div>
        <div class="quote-footer">
            {{ spyCms('reference') | raw }}
        </div>
    </div>
{% endblock %}

