{% extends "@application/layout/full.twig" %}

{% block content %}
    <section>
        {% include '@Cms/partial/text.twig' with {'text': cmsPage.blocks.text1} %}
        <br /><br />
        {% include '@Cms/partial/text.twig' with {'text': cmsPage.blocks.text2} %}
        <br /><br />
        {% include '@Cms/partial/text.twig' with {'text': cmsPage.blocks.text3} %}
        <br /><br />
        {% include '@Cms/partial/text.twig' with {'text': cmsPage.blocks.text4} %}
        <br /><br />
    </section>
{% endblock %}
