{% extends "@application/layout/full.twig" %}

{% block content %}
    <section id="newsletter" class="consumeHeight">
        <div class="newsletter-teaser column fullWidth mod:full">
            {% include "@newsletter/partials/subscribe.twig" %}
        </div>
    </section>
{% endblock %}