// Product options
//
// Markup: atoms.product-options.hbs
//
// Styleguide: atoms.product-options

.product-options{
    position: absolute;
}

.product-options--sticky{
    position: fixed;
}

.product-options__select{
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 20px;
    padding-right: 5px;

    label{
        display: block;
        padding-left: 0;

        font-family: $_ffBrandonGrotesque-Bold;
        font-size: $_fsSmall;
        color: $_rgbOsloGray3;
        text-align: center;
        text-transform: none;
    }

    .dropdown, .stepper{
        margin-top: 0;
    }

    .dropdown{
        padding-left: 0;
    }

    .dropdown__button{
        border-width: 2px;

        &:before{
            top: -2px;
        }
    }
}

.product-options__pricing{
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: left;
}

.product-options__total{
    font-family: $_ffHelveticaNeue;
    font-size: 28px;
    line-height: 33px;
    color: $_rgbOsloGray;
}

.product-options__relative{
    font-family: $_ffHelveticaNeue;
    //letter-spacing: 0.18px;
    font-size: 10px;
    line-height: 14px;
    color: $_rgbSilverChalices2;
}

.product-options__button{
    display: block;
    width: 100%;
}

.product-options__delivery{
    padding: 28px 0 0 10px;
    font-size: 14px;
    line-height: 17px;
}

.product-options__delivery-status{
    margin-bottom: 10px;
    font-family: $_ffBrandonGrotesque-Bold;
    color: $_rgbApple;

    @include pdif('delivery', 24px, 47px);
}

.product-options__delivery-info{
    max-width: 360px;
    color: $_rgbDoveGray;
}


@media (max-width: 1049px) {
    .product-options{
        position: static !important;
    }
}