<div class="product-options">
    <form>
        <div class="product-options__select">
            <label>Größe</label>
            <select class="js-select">
                <option>250g</option>
                <option>500g</option>
                <option>750g</option>
            </select>
        </div>
        <div class="product-options__select">
            <label>Anzahl</label>
            <input class="js-stepper" type="number" value="1">
        </div>
        <div class="product-options__pricing">
            <div class="product-options__total">€20.00</div>
            <div class="product-options__relative">250g (€1.40 / 100g)</div>
        </div>
        <button class="product-options__button button button--cta">In den Warenkorb</button>
    </form>
    <div class="product-options__delivery">
        <div class="product-options__delivery-status">Sofort verfügbar.</div>
        <div class="product-options__delivery-info">Versand erfolgt für Bestellungen bis 12.00 Uhr Mo-Do <br> normalerweise am selben Tag.</div>
    </div>
</div>