<div class="product-options">
    <form action="/cart/add/">
        <div class="product-options__select">
            {{> "atoms.dropdown" label="Größe" options='["250g","500g","750g"]' id="weight" name="weight"}}

        </div>
        <div class="product-options__select">
            {{> "atoms.stepper" label="Anzahl" id="product_quantity" name="product_quantity"}}
        </div>
        <div class="product-options__pricing">
            <div class="product-options__total">€20.00</div>
            <div class="product-options__relative">250g (€1.40 / 100g)</div>
        </div>
        <button class="product-options__button button button--cta">In den Warenkorb</button>
    </form>
    <div class="product-options__delivery">
        <div class="product-options__delivery-status">Sofort verfügbar.</div>
        <div class="product-options__delivery-info">Versand erfolgt für Bestellungen bis 12.00 Uhr Mo-Do <br> normalerweise am selben Tag.</div>
    </div>
</div>