/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

.__home-banner {
    background: url(/assets/default/img/home-banner.jpg);

    .row {
        height: 300px;
    }

    h1 {
        color: $white;
    }
}

.sale {
    &__red a {
        color: $alert-color;
        font-weight: bold;
    }
}

.catalog-price {
    &__price-original {
        text-decoration: line-through;
        color: $dark-gray;
    }

    &__price-reduced {
        color: $alert-color;
        font-weight: bold;
    }
}
