<div class="product-slider">
    <div class="product-slider__content">
        {{> "atoms.page-title" modifier_class="page-title--quincy" title="Featured products"}}
        {{> "atoms.subtitle"}}
    </div>
    <div class="product-slider__slider">
        <div class="product-slider__slider-inner">
            {{> "molecules.product-card"}}
            {{> "molecules.product-card"}}
            {{> "molecules.product-card"}}
            {{> "molecules.product-card"}}
            {{> "molecules.product-card"}}
        </div>
        <div class="product-slider__control product-slider__control--prev"></div>
        <div class="product-slider__control product-slider__control--next"></div>
        <div class="product-slider__bullets">
        </div>
    </div>
</div>