/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

[data-component="catalog-rating-filter"] .rating-selector {
  cursor: pointer;

  &.selected {
    font-weight: bold;
  }
  
  .br-wrapper {
    display: inline-block;

    .br-theme-fontawesome-stars-o .br-widget {
      display: inline-block;
    }
  }

  .br-theme-fontawesome-stars-o .br-readonly a {
    cursor: inherit;
  }

}
