<form method="GET">
    <div class="row">

        {% include '@Catalog/catalog/partials/spelling-suggestion.twig' %}

        <div class="small-12 medium-12 large-4 xlarge-3 columns">
            <input id="catalog-filters" type="checkbox" class="__toggler __no-margin-bottom hide" checked>
            <div class="callout hide-for-large">
                <label for="catalog-filters" class="button hollow expanded __no-margin-bottom">
                    <i class="fa fa-filter"></i> Show/Hide filters
                </label>
            </div>
            <div class="__toggler-target">
                {% include '@Catalog/catalog/partials/filters.twig' %}
            </div>

            <div class="row">
                {{ spyCmsBlock({category: idCategory, position: 'middle'}) }}
            </div>
        </div>

        <div class="small-12 medium-12 large-8 xlarge-9 columns">

            {% include '@Catalog/catalog/partials/sort.twig' %}

            {% include '@Catalog/catalog/partials/active-filters.twig' %}

            {% include '@Catalog/catalog/partials/pagination.twig' %}

            <div class="row">
                {% for product in products %}
                    <div class="small-12 medium-6 large-6 xlarge-4 columns">
                        {% include "@catalog/catalog/partials/product.twig" with {
                            idProductAbstract: product.id_product_abstract,
                            detailsUrl: product.url,
                            name: product.abstract_name,
                            priceValue: product.price,
                            originalPrice: (product.prices.ORIGINAL is defined ? product.prices.ORIGINAL : null),
                            imageUrl: (product.images|length ? product.images.0.external_url_small : ''),
                            productLabels: spyProductLabels(product.id_product_labels, '@Catalog/catalog/partials/product-labels.twig')
                        } %}
                    </div>
                {% endfor %}
            </div>

            {% include '@Catalog/catalog/partials/pagination.twig' %}

        </div>
    </div>

    {% if searchString is defined and searchString != '' %}
        <input type="hidden" name="q" value="{{ searchString }}" />
    {% endif %}
</form>
