{% macro categoriesTree(categories, selectedCategory) %}
    {% import _self as tree %}

    <ul class="site-categories">
    {% for category in categories -%}
        <li{% if selectedCategory.node_id == category.node_id %} class="active"{% endif %}>
            <input{% if selectedCategory.node_id == category.node_id %} checked="checked"{% endif %} type="hidden" name="filter-category" value="{{ category.node_id }}" />
            <a href="{{ category.url }}">{{ category.name }}
        </a>
        {% if category.children|length > 0 %}
            {{ tree.categoriesTree(category.children, selectedCategory) }}
        {% endif %}
        </li>
    {%- endfor %}
    </ul>

{% endmacro %}
