<ul>
{% for categoryChild in categoryChildren %}
    <li>
        <a href="{{ categoryChild.url }}" {{ activeCategory.url == categoryChild.url ? 'class="active"' : '' }}>{{ categoryChild.name }}</a>
    </li>
    {% if (categoryChild.children is defined) and maxLevel > currentLevel %}
        {% include "@catalog/partials/category-children.twig" with {'activeCategory': activeCategory, 'categoryChildren': categoryChild.children, 'maxLevel': maxLevel, 'currentLevel': currentLevel + 1} only %}
    {% endif %}
{% endfor %}
</ul>