// Image checkbox
//
// Markup: atoms.image-checkbox.hbs
//
// Styleguide: atoms.image-checkbox

.image-checkbox{
  width: 50%;
  padding: 5px;
  float: left;
}

.image-checkbox__inner{
  position: relative;
  display: block;
  height: 141px;
  background-position: center !important;
  background-size: cover !important;
  cursor: pointer;

  @include ripple;

  input:checked + .image-checkbox__content{
    &:after{
        color: $_rgbWhite;
    }

    & + .image-checkbox__disabled{
        opacity: 0;
    }
  }
}

.image-checkbox__content{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    padding: 0 75px 0 20px;

    font-size: 24px;
    line-height: 28px;
    color: $_rgbWhite;
    transition: color $_tShort ease-in-out;

    &:before, &:after{
        position: absolute;
        right: 28px;
        top: 50%;
        width: 31px;
        margin-top: -16px;
    }

    &:before{
        content: '';

        height: 31px;
        border: 4px solid $_rgbWhite;
        transition: border-color $_tShort ease-in-out;
    }

    &:after{
        content: '\E00F';

        font-family: $_ffPetsDeliIcons;
        color: transparent;
        font-size: 11px;
        line-height: 31px;
        text-align: center;
    }
}


.image-checkbox__label{
  font-family: $_ffBrandonGrotesque-Black;
  text-transform: uppercase;

}

.image-checkbox__disabled{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-position: center !important;
    background-size: cover !important;

    transition: opacity $_tShort ease-in-out;
}

.image-checkbox__checkbox{
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
}
