// Product accordion item
//
// Markup: atoms.product-accordion-item.hbs
//
// Styleguide: atoms.product-accordion-item

.product-accordion-item{
    @include pageWidth(0);
    position: relative;

    &:before, &:after{
        content: '';
        height: 100%;
        width: 100vw;
        position: absolute;
        top: 0;
        border-bottom: 1px solid $_rgbSilver;
    }

    &:before{
        right: 0;
    }

    &:after{
        left: 0;
    }
}


.product-accordion-item--active{
    .product-accordion-item__title{
        color: $_rgbApple;
    }

    .product-accordion-item__plus {
        transform: rotate(90deg);
    }

    .product-accordion-item__minus {
        opacity: 1;
        transform: rotate(0deg);
    }

    .product-accordion-item__container{
        opacity: 1;
    }
}

.product-accordion-item__header, .product-accordion-item__content {
    padding: 30px 24px;
}

.product-accordion-item__header{
    position: relative;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid $_rgbSilver;

    text-align: left;
    cursor: pointer;

    &:before, &:after{
        content: '';
        height: 100%;
        width: 100vw;
        position: absolute;
        top: 1px;
        border-bottom: 1px solid $_rgbSilver;
    }

    &:before{
        right: 0;
    }

    &:after{
        left: 0;
    }
}

.product-accordion-item__title{
    position: relative;
    display: inline-block;
    padding-right: 50px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 24px;
    color: $_rgbDoveGray;

    transition: color $_tShort ease-in-out;
}

.product-accordion-item__toggle {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    margin-top: -12px;

    cursor: pointer;
}

.product-accordion-item__plus, .product-accordion-item__minus {
    width: 24px;
    height: 24px;

    display: block;
    position: absolute !important;
    top: 0;
    left: 0;

    color: $_rgbApple;
    font-size: 24px;
    line-height: 24px;

    transition: 0.2s opacity ease-out, 0.3s transform ease-in-out;
}

.product-accordion-item__plus {
    opacity: 1;
    transform: rotate(0deg);

    @include pdif('plus-circle', 24px, 24px);
}

.product-accordion-item__minus {
    opacity: 0;
    transform: rotate(-90deg);

    @include pdif('minus-circle', 24px, 24px);
}

.product-accordion-item__content{
    display: none;
    border-bottom: 1px solid $_rgbSilver;

    font-size: 22px;
    color: $_rgbDoveGray;

    @include wysiwyg;
}


@media (min-width: 675px) {
    // TODO: variables for gallery/options width
    .product-accordion-item__header, .product-accordion-item__content {
        padding: 30px 0 30px ($_wGallerySmall + 12px);
    }

    .product-accordion-item__inner{
        max-width: 400px;
    }
}

@media (min-width: $_wLarge){
    .product-accordion-item__content{
        font-size: 16px;
    }
}

@media (min-width: 1100px) {
    .product-accordion-item__header, .product-accordion-item__content{
        padding: 30px $_wOptions 30px ($_wGalleryBig + 12px);
    }
}


body.no-js{
    .product-accordion-item__content{
        display: block;
    }
}