// Product accordion item
//
// Markup: atoms.product-accordion-item.hbs
//
// Styleguide: atoms.product-accordion-item

.product-accordion-item{
    @include pageWidth;
}


.product-accordion-item--active{
    .product-accordion-item__title{
        color: $_rgbApple;
    }

    .product-accordion-item__plus {
        opacity: 0;
        transform: rotate(90deg);
    }

    .product-accordion-item__minus {
        opacity: 1;
        transform: rotate(0deg);
    }

    .product-accordion-item__container{
        opacity: 1;
    }
}

.product-accordion-item__header, .product-accordion-item__content {
    padding: 30px 0 30px $_wGallerySmall;
}

.product-accordion-item__header{
    width: 100%;
    border-bottom: 1px solid $_rgbSilver;

    text-align: left;
    cursor: pointer;
}

.product-accordion-item__title{
    position: relative;
    display: inline-block;
    padding-right: 50px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 24px;
    color: $_rgbDoveGray;

    transition: color $_tShort ease-in-out;
}

.product-accordion-item__toggle {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: $_rgbApple;
    font-size: 20px;
    font-weight: bold;
    color: $_rgbWhite;
    border-radius: 50%;

    cursor: pointer;
}

.product-accordion-item__plus, .product-accordion-item__minus {
    font-family: Helvetica Neue;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 19px;
    text-align: center;
    transition: 0.2s opacity ease-out, 0.3s transform ease-in-out;
}

.product-accordion-item__plus {
    opacity: 1;
    transform: rotate(0deg);
}

.product-accordion-item__minus {
    opacity: 0;
    transform: rotate(-90deg);
}

.product-accordion-item__content{
    display: none;
    border-bottom: 1px solid $_rgbSilver;

    font-size: 16px;
    color: $_rgbDoveGray;

    strong{
        font-family: $_ffBrandonGrotesque-Bold;
    }

    ul, ol{
        margin: 1em 0;
    }

    li{
        margin-left: 30px;
    }
}


@media (min-width: $_wLarge) {
    // TODO: variables for gallery/options width
    .product-accordion-item__header, .product-accordion-item__content {
        padding: 30px 0 30px $_wGallerySmall;
    }

    .product-accordion-item__inner{
        max-width: 400px;
    }
}

@media (min-width: 1100px) {
    .product-accordion-item__header, .product-accordion-item__content{
        padding: 30px $_wOptions 30px $_wGalleryBig;
    }
}