// Input
//
// Markup:
// <div class="input {{modifier_class}}">
//     <label class="input__label" for="{{id}}">Email Address*</label>
//     <div class="input__field">
//         <input id="{{id}}" class="input__text" type="text" placeholder="{{placeholder}}" name="{{name}}" autocorrect="off" autocapitalize="off">
//         <div class="input__error">
//            Not a valid email address!
//         </div>
//     </div>
//     <div class="input__additional">
//         We will send the order confimation at this email address
//     </div>
// </div>
//
// .input--valid    - Lorem
// .input--invalid   - Lorem
//
// Styleguide: atoms.input

.input{
    position: relative;

    & + .input{
        margin-top: 10px;
    }
}

.input__label{
    display: block;
    padding: 0 0 10px 22px;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 13px;
    color: $_rgbOsloGray;
    text-transform: uppercase;
}

.input__text{
    width: 100%;
    padding: 10px 22px 9px;
    border-radius: $_defaultBorderRadius;
    font-family: $_ffHelveticaNeue;
    border: 2px solid $_rgbOsloGray;
    outline:0;

    appearance: none;
    font-size: $_fsSmaller;
    line-height: $_lhSmaller;
    background: transparent;
    color: $_rgbOsloGray;

    @include placeholderColor($_rgbOsloGray);
}

.input--ghost{
    .input__text{
        border-color: $_rgbWhite;

        color: $_rgbWhite;
        @include placeholderColor($_rgbWhite);
    }
}


.input--invalid{
    .input__text{
        border-color: $_rgbCarnation;
    }

    .input__field{
        @include pdif('exclamation', 12px);
        display: block;

        &:after{
            background: $_rgbCarnation;
        }
    }
}

.input--valid{
    .input__field{
        @include pdif('check', 8px);
        display: block;

        &:after{
            background: $_rgbApple;
        }
    }
}

.input--invalid, .input--valid{
    .input__field:after{
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -12px;
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .input__field:before{
        position: absolute;
        z-index: 1;
        left: auto;
        right: 15px;
        width: 24px;
        text-align: center;
        color: $_rgbWhite;
    }
}

.input__field{
    position: relative;
    max-width: 440px;
}

.input__error{
    display: none;
    position: absolute;
    right: 0%;
    top: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin-right: -20px;
    transform: translate(100%, 0);

    background: $_rgbCarnation;
    color: $_rgbWhite;

    &:before{
        content: '';
        position: absolute;
        left: -14px;
        top: 50%;
        margin-top: -7px;
        border: 7px solid transparent;
        border-right-color: $_rgbCarnation;
    }
}

.input--invalid{
    .input__error{
        display: block;
    }
}

.input__additional{
    margin: 10px 0 0 4px;

    font-size: 20px;
    color: $_rgbSilverChalice;;
}





.section-input{
    .styleguide-modifier-name + .input{
        margin-top: 34px;
    }
}