// Input password
//
// Markup:
// <div class="password-input">
//     <a class="password-input__forgot">Forgot?</a>
//     {{> "atoms.input" type="password" id="password" name="password" placeholder="" label="Your password" additional="" }}
//     <div class="password-input__toggle">Show Password</div>
//</div>
//
// .input--valid    - Lorem
// .input--invalid   - Lorem
//
// Styleguide: atoms.input-password

.password-input{
    text-align: center;
    position: relative;

    .input{
        text-align: left;
    }

    .input__label{
        padding-top: 3px;
    }
}

.password-input__forgot{
    position: absolute;
    top: 0;
    right: 0;

    font-size: 16px;
    color: $_rgbSilverChalice;
    text-decoration: underline;
}

.password-input__toggle{
    color: $_rgbOsloGray;
    cursor: pointer;

    font-size: 20px;
    @include pdif('eye', 23px, 47px);

    &:before{
        color: $_rgbAlto;
    }
}