// Page title
//
// Markup:
// <h1 class="page-title {{modifier_class}}">
//    {{#if title}}
//        {{title}}
//    {{else}}
//        Page title
//    {{/if}}
//</h1>
//
// .page-title--green - Lorem
// .page-title--orange - Lorem
// .page-title--white - Lorem
//
// Styleguide: typography.page-title
//
// Weight: 0

.page-title{
    margin-bottom: 15px;

    font-size: $_fsLarge;
    line-height: $_lhLarge;
    font-family: $_ffBrandonGrotesque-Bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.18px;

}

.page-title--green{
    color: $_rgbMantis;
}

.page-title--orange{
    color: $_rgbWhiskey2;
}

.page-title--white{
    color: $_rgbWhite;
}

.page-title--quincy{
    color: $_rgbQuincy;
}