// Product content
//
// Markup:
// <div class="product-content">
//     <h1 class="product-content__title">Inhalt</h1>
//     <div class="product-content__description">Die verschiedenen Menüs enthalten Rind, Känguru, Huhn, Pute oder Rotbarschfilet. Als Beilagen sind vorgekochter und pürierter Brokkoli, Karotten, Kürbis, Kartoffeln oder gekochter Reis enthalten. <br> Als Beilagen sind vorgekochter und pürierter Brokkoli, Karotten, Kürbis, Kartoffeln oder gekochter Reis enthalten. Die Obstkomponenten bestehen aus pürierter Mango oder pürierter Banane.</div>
//     <div class="product-content__customize button js-product-customize">Customize package</div>
//     <div class="product-content__description">In case your dog is allergic you can customize the ingredients.</div>
// </div>
//
// Styleguide: atoms.product-content

.product-content{
    padding: 30px 0 0;
    border-bottom: 1px solid $_rgbSilver;
}

.product-content__title{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 22px;
    color: $_rgbApple;
}

.product-content__description{
    margin-bottom: 30px;
    font-size: 16px;
    color: $_rgbDoveGray;
}

.product-content__label{
    font-family: $_ffBrandonGrotesque-Bold;
}

.product-content__customize{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}