// Product options
//
// Markup:
// <div class="product-options">
//     <form>
//         <div class="product-options__select">
//             <label>Größe</label>
//             <select class="js-select">
//                 <option>250g</option>
//                 <option>500g</option>
//                 <option>750g</option>
//             </select>
//         </div>
//         <div class="product-options__select">
//             <label>Anzahl</label>
//             <input class="js-stepper" type="number" value="1">
//         </div>
//         <div class="product-options__pricing">
//             <div class="product-options__total">€20.00</div>
//             <div class="product-options__relative">250g (€1.40 / 100g)</div>
//         </div>
//         <button class="product-options__button button button--cta">In den Warenkorb</button>
//     </form>
//     <div class="product-options__delivery">
//         <div class="product-options__delivery-status">Sofort verfügbar.</div>
//         <div class="product-options__delivery-info">Versand erfolgt für Bestellungen bis 12.00 Uhr Mo-Do <br> normalerweise am selben Tag.</div>
//     </div>
// </div>
//
// Styleguide: atoms.product-options

.product-options{

}

.product-options__select{
    float: left;
    margin-bottom: 20px;
    padding: 5px;

    label{
        display: block;

        font-family: $_ffBrandonGrotesque-Bold;
        font-size: $_fsSmall;
        line-height: $_lhSmall;
        color: $_rgbOsloGray3;
        text-align: center;
    }

    select{
    }
}

.product-options__pricing{
    float: right;
    margin-bottom: 20px;
}

.product-options__total{
    font-family: $_ffHelveticaNeue;
    font-size: 28px;
    line-height: 33px;
    color: $_rgbOsloGray;
}

.product-options__relative{
    font-family: $_ffHelveticaNeue;
    //letter-spacing: 0.18px;
    font-size: 10px;
    line-height: 14px;
    color: $_rgbSilverChalices2;
}

.product-options__button{
    display: block;
    width: 100%;
}

.product-options__delivery{
    padding: 28px 0 0 10px;
    font-size: 14px;
    line-height: 17px;
}

.product-options__delivery-status{
    margin-bottom: 10px;
    font-family: $_ffBrandonGrotesque-Bold;
    color: $_rgbApple;

    @include pdif('dot', 7px, 15px);
}

.product-options__delivery-info{
    color: $_rgbDoveGray;
}