// Product gallery
//
// Markup:
// <div class="product-gallery">
//     <div class="product-gallery__breadcrumbs">
//         <a class="product-gallery__breadcrumb" href="#">Dogs</a>
//         <a class="product-gallery__breadcrumb" href="#">Package</a>
//     </div>
//     <div class="product-gallery__image">
//         <img src="http://placehold.it/340x470/FFFFFF" alt="" />
//     </div>
//     <div class="product-gallery__thumbnails">
//         <div class="product-gallery__thumbnail">
//             <img src="http://placehold.it/100x100/123456" alt="Alt text" data-src="http://placehold.it/340x470/123456" data-alt="Alt text" />
//         </div>
//         <div class="product-gallery__thumbnail">
//             <img src="http://placehold.it/100x100/654321" alt="Alt text" data-src="http://placehold.it/340x470/654321" data-alt="Alt text" />
//         </div>
//         <div class="product-gallery__thumbnail">
//             <img src="http://placehold.it/100x100" alt="Alt text" data-src="http://placehold.it/340x470" data-alt="Alt text" />
//         </div>
//     </div>
// </div>
//
// Styleguide: atoms.product-gallery

.product-gallery{
}

.product-gallery__breadcrumbs{
    text-align: center;
    background: $_rgbApple;
}

.product-gallery__breadcrumb{
    display: inline-block;
    padding: 7px 0;

    color: $_rgbWhite;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
    font-family: $_ffBrandonGrotesque-Bold;

    & + .product-gallery__breadcrumb:before{
        position: relative;
        top: -2px;
        content: '|';
        margin: 0 5px 0 3px;
    }
}

.product-gallery__image{
    img{
        @include responsiveImage;
    }
}

.product-gallery__thumbnails{
    overflow: hidden;
}

.product-gallery__thumbnail{
    float: left;
    width: 33.333%;
    cursor: pointer;

    img{
        @include responsiveImage;
    }
}

