// Product features
//
// Markup:
// <div class="product-features">
//    <h2 class="product-features__title">Features</h2>
//    <h3 class="product-features__category">Das bekommen Sie:</h3>
//    <ul class="product-features__list">
//           <li class="product-features__item">Unkompliziert - 10 fertig portionierte Menüboxen</li>
//           <li class="product-features__item">Natur pur - ausschließlich 100% natürliche Zutaten</li>
//           <li class="product-features__item">Sicherheit - von Experten zusammengestellte und 		überprüfte Menüs</li>
//    </ul>
//    <h3 class="product-features__category">Was wir Ihnen bieten:</h3>
//    <ul class="product-features__list">
//           <li class="product-features__item">100% Lebensmittelqualität</li>
//           <li class="product-features__item">Nur hochwertiges Muskelfleisch</li>
//           <li class="product-features__item">Tiefgefroren und fertig verpackt für maximale Frische</li>
//    </ul>
//    <h3 class="product-features__category">Was Sie niemals bei uns  bekommen werden:</h3>
//    <ul class="product-features__list">
//           <li class="product-features__item">Tierische Nebenerzeugnisse </li>
//           <li class="product-features__item">Künstliche Zusatzstoffe</li>
//           <li class="product-features__item">Minderwertige Qualität</li>
//    </ul>
// </div>
//
// Styleguide: atoms.product-features

.product-features{
    margin-left: (100%  / 12 * 3);
    padding: 35px ($_xSpacing / 2) 0;

    clear: both;
    width: (100%  / 12 * 5);
}

.product-features__title{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 22px;
    //letter-spacing: 0.33px;
    color: $_rgbApple;
}


.product-features__category{
    margin-top: 20px;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 20px;
    color: $_rgbDoveGray;
    //letter-spacing: 0.3px;
}

.product-features__list{
    margin: 25px 0 50px;
}

.product-features__item{
    margin-left: 30px;

    font-size: 16px;
    color: $_rgbDoveGray;
}