// Product info
//
// Markup:
// <div class="product-intro">
//     <h1 class="product-info__title">Starter Paket 10 Menüboxen </h1>
//     <div class="product-info__subtitle">250gr</div>
//     <div class="product-info__status">Customized: No turkey, No carbs</div>
//     <div class="product-info__description">Mit diesem Paket erhalten Sie 10 unterschiedliche Sorten an fertig portionierten Menüboxen, die von unseren Experten zusammengestellt wurden. </div>
//     <div class="product-info__additional">(Fütterungsempfehlung: 2-3% des Körpergewichts pro Tag.)</div>
// </div>
//
// Styleguide: atoms.product-intro

.product-intro{
    padding: 0 0 25px;
    border-bottom: 1px solid $_rgbSilver;
}

.product-info__title{
    font-family: $_ffBrandonGrotesque-Black;
    font-size: $_fsMedium;
    color: $_rgbApple;
}

.product-info__subtitle{
    display: inline-block;
    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbDoveGray;
}

.product-info__status{
    margin-left: 5px;
    display: inline-block;
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 12px;
    color: $_rgbClementine;
    text-transform: uppercase;
}

.product-info__description{
    margin-top: 20px;

    font-size: 16px;
    color: $_rgbDoveGray;
}

.product-info__additional{
    margin-top: 20px;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 15px;
    color: $_rgbDoveGray;
}