// Radio buttons
//
// Markup:
// <div class="radio-buttons">
//     <div class="radio-buttons__button">
//         <input type="radio" id="carbs_full" name="carbs" value="full" checked>
//         <label class="radio-buttons__button-inner" for="carbs_full">
//             Full Carbs
//         </label>
//     </div>
//     <div class="radio-buttons__button">
//         <input type="radio" id="carbs_half" name="carbs" value="half">
//         <label class="radio-buttons__button-inner" for="carbs_half">
//             1/2 Carbs
//         </label>
//     </div>
//     <div class="radio-buttons__button">
//         <input type="radio" id="carbs_none" name="carbs" value="none">
//         <label class="radio-buttons__button-inner" for="carbs_none">
//             No Carbs
//         </label>
//     </div>
// </div>
//
// Styleguide: atoms.radio-buttons

.radio-buttons{

}

.radio-buttons__button{
    display: inline-block;

    input{
        position: absolute;
        opacity: 0;
    }

    input:checked + .radio-buttons__button-inner{
        color: $_rgbWhite;
        border-color: $_rgbApple;
        background: $_rgbApple;
    }
}

.radio-buttons__button-inner{
    overflow: hidden;
    position: relative;
    display: block;
    padding: 13px 18px;
    border: 2px solid $_rgbOsloGray;
    border-radius: $_defaultBorderRadius;
    cursor: pointer;

    color: $_rgbOsloGray;
    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.34px;
    text-transform: uppercase;

    transition: all $_tShort ease-in-out;
    @include ripple;
}
