<section class="filter js-filter filter__{{ filterName }}" data-filter-name="{{ filterName }}" data-filter-type="multivalue">
    <h1 class="filter__title">{{ ('catalog.filter.' ~ filterName) | trans }}</h1>
    <ul class="filter__{{ filterName }}-list">
        <li>{% include "@catalog/catalog/partials/filter-multivalue-value.twig" with { filterName: filterName, displayValue: 'Neu', value: 'neu' | url_encode, quantity: 40} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-multivalue-value.twig" with { filterName: filterName, displayValue: 'Sale', value: 'sale' | url_encode, quantity: 12} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-multivalue-value.twig" with { filterName: filterName, displayValue: 'Besonders toll', value: 'besonders toll' | url_encode, quantity: 8} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-multivalue-value.twig" with { filterName: filterName, displayValue: 'Aus Kunststoff', value: 'aus kunststoff' | url_encode, quantity: 5} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-multivalue-value.twig" with { filterName: filterName, displayValue: 'Aus Holz', value: 'aus holz' | url_encode, quantity: 7} %}</li>
    </ul>
</section>
