{% if products|length %}
    <div class="callout text-center">
        {% include '@Application/layout/partials/pagination.twig' with {
            parameters: app.request.query.all(),
            currentPage: pagination.currentPage,
            paginationPath: paginationPath,
            maxPage: pagination.maxPage,
            showAlwaysFirstAndLast: true
        } %}
    </div>
{% endif %}
