<form class="block-form">
    <div class="block-form__blueprint" data-label="Blueprint">
        <textarea name="blueprint">
{
  "type": "form",
  "fields": {
    "headline": {
      "type": "text"
    },
    "features": {
      "type": "form",
      "multiple": true,
      "fields": {
        "title": {
          "type": "text"
        },
        "bullets": {
          "type": "form",
          "multiple": true,
          "fields": {
            "bullet": {
              "type": "text"
            }
          }
        }
      }
    }
  }
}
        </textarea>
    </div>

    <div class="block-form__content" data-label="Content">
        <textarea name="content">
{  
   "headline":"Features",
   "features":[
      {
         "title":"Das bekommen Sie:",
         "bullets":[
            {
               "bullet":"Unkompliziert - 10 fertig portionierte Menüboxen"
            },
            {
               "bullet":"Natur pur - ausschließlich 100% natürliche Zutaten"
            },
            {
               "bullet":"Sicherheit - von Experten zusammengestellte und überprüfte Menüs"
            }
         ]
      },
      {
         "title":"Was wir Ihnen bieten:",
         "bullets":[
            {
               "bullet":"100% Lebensmittelqualität"
            },
            {
               "bullet":"Nur hochwertiges Muskelfleisch"
            },
            {
               "bullet":"Tiefgefroren und fertig verpackt für maximale Frische"
            }
         ]
      },
      {
         "title":"Was Sie niemals bei uns bekommen werden:",
         "bullets":[
            {
               "bullet":"Tierische Nebenerzeugnisse"
            },
            {
               "bullet":"Künstliche Zusatzstoffe"
            },
            {
               "bullet":"Minderwertige Qualität"
            }
         ]
      }
   ]
}
        </textarea>
    </div>

    <button class="block-form__submit button button--cta" type="submit" name="button">Save</button>

</form>
