.testimonials {
  float: right;
  color: $cGrey4;
  font-size: 10px;
  padding: 2px 0;
  &>span {
    display: inline-block;
    vertical-align: top;
  }
  .text {
    padding: 2px 5px;
    a:hover {
      text-decoration: none;
    }
  }
  .stars {
    margin: 3px 0 0 0;
    background: url(/images/icons/icon-star.png) repeat-x;
    height: 13px;
    &.star5 {
      width: 80px;
    }
    &.star4 {
      width: 64px;
    }
    &.star3 {
      width: 48px;
    }
    &.star2 {
      width: 32px;
    }
    &.star1 {
      width: 16px;
    }
  }
}

@media screen and (max-width: 767px) {
  .misc-container {
    text-align: center;
    .testimonials {
      display: none;
    }
  }
}
