/* colors */

$cWhite: white;

$cMagenta1: #f6e8ec;
$cMagenta2: #e0366a;
$cMagenta3: #c82e5d;

$cBlue1: #edf7f9;
$cBlue2: #46b4d0;

$cGreen1: #f3f3df;
$cGreen2: #cbd000;
$cGreen3: #bdc10b;

$cGrey1: #f7f7f7;
$cGrey2: #e6e6e6;
$cGrey3: #bbbbbb;
$cGrey4: #aaaaaa;
$cGrey5: #555555;

$cBlack: black;

/* fonts */

$fRobotoBold: robotobold, Arial, Helvetica, sans-serif;
$fRobotoLight: robotolight, Arial, Helvetica, sans-serif;
$fRobotoRegular: robotoregular, Arial, Helvetica, sans-serif;
$fRobotoMedium: robotomedium, Arial, Helvetica, sans-serif;
$fGeorgia: Georgia, Times, "Times New Roman", serif;
