<li class="active-filter" data-filter-id="{{id}}" data-filter-value="{{value}}" data-filter-name="{{ name }}">
  <span class="js-filter-value">{{value}}</span>
  <button class="active-filter__remove js-filter-remove"></button>
</li>
