<li class="active-filter" data-filterId="{{id}}" data-filter-value="{{value}}">
  <span class="js-filter-value">{{value}}</span>
  <button class="active-filter__remove js-filter-remove"></button>
</li>