<section class="filter js-filter js-filter-default filter__{{ filterName }}" data-filter-name="{{filterName}}" data-filter-type="default">
    <ul class="filter__{{ filterName }}-list">
        {% for facet in facets %}
        <li>{% include "@catalog/catalog/partials/filter-default-value.twig" with {displayValue:facet.name, value:'/hellome', quantity: '12', default:true} %}</li>
        {% endfor %}
        <li>{% include "@catalog/catalog/partials/filter-default-value.twig" with {displayValue:'Alle', value:'alle', quantity:'40', default:true} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-default-value.twig" with {displayValue:'Afrika', value:'afrika', quantity:'12'} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-default-value.twig" with {displayValue:'Asien und Australien', value:'asien%20und%20australien', quantity:'8'} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-default-value.twig" with {displayValue:'Arktis und Antarktis', value:'arktis%20und%20antarktis', quantity:'5'} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-default-value.twig" with {displayValue:'Amerika', value:'amerika', quantity:'7'} %}</li>
        <li>{% include "@catalog/catalog/partials/filter-default-value.twig" with {displayValue:'Meere', value:'meere', quantity:'8'} %}</li>
    </ul>
</section>
