<ul class="filter__{{ filterName }}-list">
    {% for category in categories %}
        <li>
            {% include "@catalog/catalog/partials/filter-category-tree-value.twig" with {
                displayValue:category.name,
                value:category.url,
                default:(selectedCategory is not null ? (category.node_id == selectedCategory.node_id) : false),
                quantity: (facets.category[category.node_id] is defined) ? facets.category[category.node_id] : 0
            } %}

            {% if category.children is defined and category.children is not empty %}

                {% include "@catalog/catalog/partials/filter-category-tree-level.twig" with {categories:category.children} %}
                
            {% endif %}
        </li>
    {% endfor %}
</ul>
