<article class="catalog__product">
    <a href="{{ detailsUrl }}" class="product__link">
        <img src="{{ imageUrl }}" alt="" class="product__image">
        <h1 class="product__name">{{name}}</h1>
        <h2 class="product__price">{{ priceValue | price }}</h2>
    </a>
</article>
