<p>add here</p>

add here anything you need.
you don't need to map variables when include, just get everything from product

<pre>
{{ dump(product) }}
</pre>

detailsUrl: product.url,
imageUrl: product.abstract_attributes.image_url,
name: product.abstract_name,
priceValue: product.valid_price
