<div class="menu-teaser-product" style="background: url(../images/menu/teaser_product.jpg);">
    <div class="menu-teaser-product__label">Neu bei PETS DELI</div>

    <div class="menu-teaser-product__content">
        <div class="menu-teaser-product__description">Probieren sie unser Starter-Paket</div>
        <div class="menu-teaser-product__title">Starter Paket</div>
        <div class="menu-teaser-product__price">€20.00</div>
        <div class="menu-teaser-product__button button">Zum Produkt</div>
    </div>
</div>