/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

.suggestions-panel {
  position: relative;
  max-height: 500px;
  overflow: auto;

  &__hint.is-active {
    text-decoration: underline;
  }

  &__product:not(.is-active) {
    color: $black;
  }
}
