<div class="payment-subform braintree-form braintree-credit-card-form">
	<h3>Braintree CreditCard</h3>

	<div id="credit-card-form"></div>


	{{ form_errors(form.braintree_credit_card) }}
	{{ form_widget(form.braintree_credit_card) }}
</div>
