<div class="payment-subform braintree-form braintree-paypal-form">
	<h3>Braintree PayPal</h3>

	<div id="pay-pal-container"></div>



	{{ form_errors(form.braintree_pay_pal) }}
	{{ form_widget(form.braintree_pay_pal) }}
</div>
