// dropdown
//
// Markup: atoms.dropdown.hbs
//
// Styleguide: atoms.dropdown

.dropdown{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;

    color: $_rgbOsloGray;

    select{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        appearance: none;
        opacity: 0;
        z-index: 1;
    }
}

.dropdown__button{
    height: 50px;
    line-height: 50px;
    border: 2px solid $_rgbOsloGray;
    border-radius: $_defaultBorderRadius;

    font-size: 18px;
    font-family: $_ffBrandonGrotesque-Bold;
    text-align: left;

    @include pdif('arrow-down', 5px, 0);
    display: block;
    padding: 0 60px 0 12px;

    &:before{
        position: absolute;
        top: -2px;
        left: auto;
        right: 0;
        height: 50px;
        margin-top: 0;
        line-height: 50px;
        width: 45px;
        text-align: center;
        border-left: 1px solid $_rgbOsloGray;
    }
}