// Product
//
// Markup: atoms.product.hbs
//
// Styleguide: atoms.product





.product{
    position: relative;
    background: $_rgbWhite;
    padding: 165px 0 45px 0;
    @include cardShadow;
}

.product__detail{
    @include pageWidth;
    position: relative;
}

.product__gallery{
    margin-left: 12px;
    padding-right: ($_xSpacing / 2);
    width: $_wGalleryBig;
    flex-shrink: 0;
}

.product__info{
    padding: 0 ($_xSpacing / 2);
}

.product__options{
    display: none;

    width: $_wOptions;
    flex-shrink: 0;
    padding: 0 ($_xSpacing / 2);
}

.product__features{
    display: flex;
    @include pageWidth(0);

    &:before, &:after{
        height: 1px;
        flex-shrink: 0;
    }

    &:before{
        width: $_wGallerySmall;
    }

    &:after{
        width: $_wOptions;
    }
}


@media (min-width: 675px){
    .product__detail{
        display: flex;
    }

    .product__gallery{
        margin-left: -12px;
        width: $_wGallerySmall;
    }

    .product__features{
        &:before{
            content: '';
        }
    }
}

@media (min-width: 1051px) {
    .product__options{
        display: block;
    }

    .product__features{
        &:after{
            content: '';
        }
    }
}

@media (min-width: $_wLarge) {
    .product__info{

        flex-shrink: 1;
        flex-grow: 1;
    }
}

@media (min-width: 1051px) {
    .product{
        padding-top: 48px;
    }

    .product__gallery{
        width: $_wGalleryBig;
    }

    .product__features{
        &:before{
            width: $_wGalleryBig;
        }
    }
}
