{% extends "@application/layout/layout.twig" %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <div class="row">
        {#<div class="small-12 columns">#}
            {#<div class="callout secondary text-center">#}
                {#<h4>What we do: lorem ipsum sit dolor amet</h4>#}
            {#</div>#}
        {#</div>#}

        <div class="small-12 columns show-for-medium">
            <div class="callout">
                <a href="/category/1/product/100" class="thumbnail">
                    <img src="http://placehold.it/1200x350?text=Evocative+main+image">
                </a>
            </div>
        </div>

        {#{% for item in products %}#}
            {#{% set url = '/category/' + categoryId + '/product/' + item.id %}#}
            {#<div class="small-12 medium-6 large-4 columns">#}
                {#<div class="callout">#}
                    {#<a href="{{url}}" class="thumbnail">#}
                        {#<img src="http://placehold.it/600x350?text=Item+{{item.id}}">#}
                    {#</a>#}
                    {#<p>#}
                        {#Lorem ipsum dolor sit amet, consectetuer adipiscing elit.#}
                        {#Aenean commodo ligula eget dolor. Aenean massa.#}
                    {#</p>#}
                    {#<a class="button expanded" href="{{url}}">View &raquo;</a>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}

        <div class="small-12 columns">
            <div class="callout text-center">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
            </div>
        </div>
    </div>
{% endblock %}
