<div class="flash-messages wrapper">
    {% for message in app.session.flashbag.get('flash.messages.success') %}
        <div class="alert alert-success">{{ message|trans }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('flash.messages.info') %}
        <div class="alert alert-info">{{ message|trans }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('flash.messages.error') %}
        <div class="alert alert-danger">{{ message|trans }}</div>
    {% endfor %}
</div>
