<footer class="main-footer">
  <a href="/impressum" class="footer__impressum">Impressum</a>
  <a href="/agb" class="footer__agb">AGB</a>
  <a href="/datenschutz" class="footer__datenschutz">Datenschutz</a>
</footer>