  <form action="#" name="login" class="login-form js-login-form" data-register-url="{{ url('register') }}" data-login-url="{{ url('login_check') }}">
    {# form_widget(registerForm._token) #}
    <input type="text" class="login__email padded" name="email" placeholder="E-mail-Adresse">
    <input type="password" class="login__password padded" name="password" placeholder="Passwort">
    <button class="login__forgot-password">Vergessen?</button>
    <label for="agb" class="login__agb"><input type="checkbox" name="agb"> Ich akzeptiere die AGB</label>
    <input type="submit" class="login__submit js-login-submit cta" value="Anmelden">
    <button class="login__switch js-login-form-switch">Ich bin Neukunde</button>
  </form>