<nav class="main-nav js-main-nav">
    <section class="main-nav__categories">
        <h1 class="main-nav__heading">Kategorien</h1>
        <ul class="main-nav__category-list">
            {% for category in categories %}
                {% if category.image is defined and (category.image != '' or category.image != '#') %}
                    {% set categoryImage = '/images/nav/' ~ category.image %}
                {% else %}
                    {% set categoryImage = '#' %}
                {% endif %}
                {% include "@application/layout/partials/main-nav-button.twig" with {
                    name: category.name,
                    url: category.url,
                    imageUrl: categoryImage,
                } %}
            {% endfor %}
        </ul>
    </section>
    <section class="main-nav__specials">
        <h1 class="main-nav__heading">Ein Blick lohnt sich</h1>
        <ul class="main-nav__special-list">
            {% include "@application/layout/partials/main-nav-button.twig" with {name:"Sale", url:"/wilde-tiere?extras=sale", imageUrl:"/images/nav/sale.jpg"} %}
        </ul>
    </section>
</nav>
