<div style="text-align:right;margin-bottom:40px;">
    {% for expense in order.expenses %}
        <div>{{ expense.name }}: {{ expense.sumGrossPriceWithDiscounts | price }}</div>
    {% endfor %}

    <h4>{{ 'customer.order.total' | trans }}: {{ order.totals.grandTotal | price }}</h4>
</div>
