<section>
    {% if errorMessages %}
    <div class="message error">
    {% for message in errorMessages %}
        <span>{{ message }}</span>
    {% endfor %}
    </div>
    {% endif %}
    {% if infoMessages %}
    <div class="message info">
        {% for message in infoMessages %}
            <span>{{ message|trans }}</span>
        {% endfor %}
    </div>
    {% endif %}
</section>
