// Input password
//
// Markup: atoms.input-password.hbs
//
// .input--valid    - Lorem
// .input--invalid   - Lorem
//
// Styleguide: atoms.input-password

.password-input{
    text-align: center;
    position: relative;

    .input{
        text-align: left;
    }

    .input__label{
        padding-top: 3px;
    }
}

.password-input--visible{
    .password-input__toggle{
        &:before{
            color: $_rgbOsloGray;
        }
    }
}

.password-input__forgot{
    position: absolute;
    top: 0;
    right: 0;

    font-size: 16px;
    color: $_rgbSilverChalice;
    text-decoration: underline;
}

.password-input__toggle{
    margin-top: 14px;
    min-width: 173px;
    cursor: pointer;

    font-size: 20px;
    @include pdif('eye', 23px, 47px);
    text-align: left;

    color: $_rgbSilverChalice;

    &:before{
        color: $_rgbAlto;
        transition: color $_tShort ease-in-out;
    }
}