<div class="password-input">
    <a class="password-input__forgot">Forgot?</a>
    {{> "atoms.input" type="password" id="password" name="password" placeholder="" label="Your password" additional="" }}
    <div class="password-input__toggle">Show Password</div>
</div>