<div class="password-input">
    <a class="password-input__forgot">Vergessen?</a>
    {{> "atoms.input" type="password" id="password" name="password" placeholder="" label="Ihr Passwort" additional="" }}
    <button type="button" class="password-input__toggle">Passwort anzeigen</button>
</div>