.product-label-flag {
    display: block;
    position: relative;
    padding-top: $product-label-sizing;
    padding-bottom: 4px;
    text-align: right;
    font-size: $small-font-size;

    &__content {
        display: inline-block;
        position: relative;
        right: -$product-label-sizing;
        width: 50%;
        max-width: 200px;
        padding: 8px;
        margin-right: -1px;
        background: $white;
        box-shadow: $product-label-shadow;
        box-sizing: border-box;
        line-height: 1.1;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            top: -$product-label-sizing;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: $product-label-sizing solid $dark-gray;
            border-right: $product-label-sizing solid transparent;
        }

        &--highlight {
            background: $product-label-highlight-color;
            color: $white;
            font-weight: bold;
            text-transform: uppercase;

            &::after {
                border-bottom-color: darken($product-label-highlight-color, 20);
            }
        }
    }
}





