$product-label-tag-size: 40px;

.product-label-tag {
    display: inline-block;
    position: absolute;
    top: -$product-label-sizing;
    left: -$product-label-sizing;
    height: $product-label-tag-size;
    width: $product-label-tag-size;
    font-size: $small-font-size;

    &__burst {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $product-label-highlight-color;
            box-shadow: $product-label-shadow;
        }

        &::before {
            transform: rotate(30deg);
        }

        &::after {
            transform: rotate(60deg);
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $product-label-highlight-color;
        box-shadow: $product-label-shadow;
        line-height: $product-label-tag-size;
        vertical-align: middle;
        text-align: center;
        color: $white;
    }
}
