// Product related
//
// Markup: atoms.product-related.hbs
//
// Styleguide: atoms.product-related

.product-related{
    padding: 0 4px;
    @include clearfix;
    background: $_rgbAlabaster;

    .product-card-wide{
        float: left;
        width: 100%;

        display: none;

        &:nth-child(1), &:nth-child(2){
            display: block;
        }
    }
}

@media (min-width: $_wLarge) {
    .product-related{
        .product-card-wide{
            width: 50%;
        }
    }
}

@media (min-width: $_wXLarge) {
    .product-related{
        .product-card-wide{
            display: block;
            width: 33.333%;
        }
    }
}