// Product gallery
//
// Markup: atoms.product-gallery.hbs
//
// Styleguide: atoms.product-gallery



.product-gallery__back{
    @include pdif('arrow-left', 17px, 0);
    margin-bottom: 20px;
    padding: 7px 30px 4px 57px;
    background: $_rgbApple;

    text-align: center;
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 16px;
    color: $_rgbWhite;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;

    &:before{
        left: 30px;
    }
}

.product-gallery__image{
    position: relative;
    padding-bottom: 100%;

    img{
        position: absolute;
        @include responsiveImage;
    }
}

.product-gallery__thumbnails{
    overflow: hidden;
}

.product-gallery__thumbnail{
    float: left;
    width: 33.333%;
    cursor: pointer;

    img{
        @include responsiveImage;
    }
}

