<div class="product-gallery">
    <div class="product-gallery__breadcrumbs">
        <a class="product-gallery__breadcrumb" href="#">Dogs</a>
        <a class="product-gallery__breadcrumb" href="#">Package</a>
    </div>
    <div class="product-gallery__image">
        <img src="http://placehold.it/340x470/FFFFFF" alt="" />
    </div>
    <div class="product-gallery__thumbnails">
        <div class="product-gallery__thumbnail">
            <img src="http://placehold.it/100x100/123456" alt="Alt text" data-src="http://placehold.it/340x470/123456" data-alt="Alt text" />
        </div>
        <div class="product-gallery__thumbnail">
            <img src="http://placehold.it/100x100/654321" alt="Alt text" data-src="http://placehold.it/340x470/654321" data-alt="Alt text" />
        </div>
        <div class="product-gallery__thumbnail">
            <img src="http://placehold.it/100x100" alt="Alt text" data-src="http://placehold.it/340x470" data-alt="Alt text" />
        </div>
    </div>
</div>