
.picture {
  display: inline-block;

  &__image {
    display: block;
    width: 40px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &--foo {
      background-image: url('/assets/default/img/provider/foo.png');
    }

    &--bar {
      background-image: url('/assets/default/img/provider/bar.png');
    }

    &--baz {
      background-image: url('/assets/default/img/provider/baz.png');
    }
  }

  &__icon {
    display: block;

    &::before {
      font-family: 'FontAwesome';
      font-size: 2rem;
    }

    &--twitter::before {
      content: '\F099';
    }

    &--xing::before {
      content: '\F168';
    }

    &--linkedin::before {
      content: '\F0E1';
    }

    &--youtube::before {
      content: '\F167';
    }
  }

  & + & {
    margin-left: 0.3rem;
  }
}
