// Close button
//
// Markup: atoms.close-button.hbs
//
// Styleguide: atoms.close-button

.close-button{
    @include pdif('close', 20px, 20px);
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 14px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    background: $_rgbApple;
    color: $_rgbWhite;
    border-radius: 50%;

    cursor: pointer;

    &:before{
        width: 100%;
        text-align: center;
    }

    @include ripple;
}

@media (min-width: $_wMedium) {
    .close-button{
        top: 24px;
        right: 19px;
    }
}

@media (min-width: $_wLarge) {
    .close-button{
        top: 35px;
        right: 44px;
    }
}

@media (max-width: 420px) {
    .close-button {
        width: 40px;
        height: 40px;
        line-height: 40px;

        &:before{
            margin-top: -7px;
            font-size: 15px;
        }
    }
}