// Close button
//
// Markup: atoms.close-button.hbs
//
// Styleguide: atoms.close-button

.close-button{
    @include pdif('close', 20px, 20px);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: $_rgbApple;
    color: $_rgbWhite;

    cursor: pointer;

    &:before{
        width: 100%;
        text-align: center;
    }
}