// Close button
//
// Markup: atoms.close-button.hbs
//
// Styleguide: atoms.close-button

.close-button{
    @include pdif('close', 20px, 20px);
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 30px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    background: $_rgbApple;
    color: $_rgbWhite;
    border-radius: 50%;

    cursor: pointer;

    &:before{
        width: 100%;
        text-align: center;
    }
}