.cart-item {
    padding-bottom: 0;

    &__image-container {
        padding: 0 0.5rem;
        text-align: center;
    }

    &__image {

    }

    &__section:last-child {
        margin-bottom: 1rem;
    }

    &__section-title {
        display: inline-block;
        margin-bottom: 0.2rem;
    }

    @include breakpoint(medium) {
        &__image {
            max-width: 120px;
            max-height: 120px;
        }

        &__section {
            margin-bottom: 1rem;
        }

        &__section-title {
            margin-bottom: 1rem;
        }
    }
}

