<div class="checkout__step-headline">Adresse</div>

<div id="invoice-address" class="checkout__form">

    <div class="checkout__addresses">
        {{> "atoms.dropdown" modifier_class="input--2-3" label="Zuletzt benutzte Adressen" options='["Adresse 1","Adresse 2"]' placeholder="Vorhandene Adressen" id="known_addresses"}}
        {{> "atoms.button" modifier_class="button--1-3" title="Neue Adresse"}}
    </div>

    {{> "atoms.input" modifier_class="input--1-1" label="E-Mail Adresse*" type="email" placeholder="z.B. yourname@youremail.com" additional="We will send the order confimation at this email address" id="email" name="email"}}

    {{> "atoms.input" modifier_class="input--1-2" label="Vorname*" id="first_name" name="first_name"}}
    {{> "atoms.input" modifier_class="input--1-2" label="Nachname*" id="last_name" name="last_name"}}

    {{> "atoms.input" modifier_class="input--3-4" label="Straße*" id="street" name="street"}}
    {{> "atoms.input" modifier_class="input--1-4" label="Nr*" id="street_number" name="street_number"}}
    {{> "atoms.input" modifier_class="input--1-1" label="Adresszusatz" id="address_line" name="address_line"}}

    {{> "atoms.input" modifier_class="input--1-4" label="PLZ*" id="zipcode" name="zipcode"}}
    {{> "atoms.input" modifier_class="input--3-4" label="Stadt*" id="city" name="city"}}

    {{> "atoms.dropdown" label="Land*" options='["Österreich","Deutschland"]' placeholder="Bitte wählen Sie ihr Land" id="country" name="country"}}

    {{> "atoms.checkbox" label="Abweichende Lieferadresse" id="different_address" name="different_address"}}

    <div id="invoice-address" class="checkout__subform">
        <div class="checkout__subform-inner">
          {{> "atoms.input" modifier_class="input--1-2" label="Vorname*" id="delivery_first_name" name="delivery_first_name"}}
          {{> "atoms.input" modifier_class="input--1-2" label="Nachname*" id="delivery_last_name" name="delivery_last_name"}}

          {{> "atoms.input" modifier_class="input--3-4" label="Straße*" id="delivery_street" name="delivery_street"}}
          {{> "atoms.input" modifier_class="input--1-4" label="Nr*" id="delivery_street_number" name="delivery_street_number"}}
          {{> "atoms.input" modifier_class="input--1-1" label="Adresszusatz" id="delivery_address_line" name="delivery_address_line"}}

          {{> "atoms.input" modifier_class="input--1-4" label="PLZ*" id="delivery_zipcode" name="delivery_zipcode"}}
          {{> "atoms.input" modifier_class="input--3-4" label="Stadt*" id="delivery_city" name="delivery_city"}}

          {{> "atoms.dropdown" label="Land*" options='["Deutschland","Österreich"]' placeholder="Bitte wählen Sie ihr Land" id="delivery_country" name="delivery_country"}}
        </div>
    </div>

    {{> "atoms.button" modifier_class="button--cta checkout__step-button" title="Continue payment"}}
</div>