.floatLeft { float: left; }
.floatRight { float: right; }

.padding5 { padding: 5px; }
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }
.paddingLeft10 { padding-left: 10px; }
.paddingLeft20 { padding-left: 10px; }
.paddingRight10 { padding-right: 10px; }
.paddingRight20 { padding-right: 20px; }
.paddingRight30 { padding-right: 30px; }
.paddingBottom10 { padding-bottom: 10px; }
.paddingBottom20 { padding-bottom: 20px; }
.paddingTop10 { padding-top: 10px; }
.paddingTop20 { padding-top: 20px; }
.paddingTop30 { padding-top: 30px; }
.paddingTop40 { padding-top: 40px; }

.margin5 { margin: 5px; }
.margin10 { margin: 10px; }
.marginLeft10 { margin-left: 10px; }
.marginLeft20 { margin-left: 20px; }
.marginRight10 { margin-right: 10px; }
.marginRight20 { margin-right: 20px; }

.clear { clear:both; }

.pal-ui-tabs .error { background: red; color:white; }

.pal-ui-tabs .zend_form dd { }
.pal-ui-tabs .zend_form dd textarea { height:300px; }

.pal-ui-tabs dl.zend_form dd { width: 80%; }
.pal-ui-tabs dl.zend_form_icons dt { width: 25% !important; }
.pal-ui-tabs dl.zend_form_icons dd { width: auto !important; }
.pal-ui-tabs dl.zend_form dd textarea { height:150px; }
.pal-ui-tabs dl.zend_form dd .readonly { border:none; background: #dcdcdc; }

.zend_form dt { float:left; clear:left; text-align:right; padding-bottom:6px; }
.zend_form dt label { display:block; padding-top:5px; padding-right:16px; }

.zend_form dd { float:left; padding-bottom:10px; line-height:23px; width:32%; overflow:visible; }
.zend_form dd input[type=text],dl.zend_form dd input[type=password],
.zend_form dd textarea { width:100%; padding:3px; -webkit-box-shadow:inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05); box-shadow:inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05); border:1px solid #d1d1d1; border-radius:3px; }
.zend_form dd input[type=radio] { vertical-align:text-top; margin:2px 7px 2px 0; }
.zend_form dd textarea { max-width:100%; height:200px; }


.zend_form input[type=submit] { padding:4px 7px; min-width:102%; min-height:40px; cursor:pointer; }
.zend_form p.description { font-size:12px; color:rgba(0, 0, 0, 0.7); }

#images {
    margin-top: 40px;
}
#images span {
    font-size: 16px;
    padding:10px;
    cursor:pointer;
    text-decoration: underline;
    text-decoration-color: blue;

}

#content { min-height:1000px; background-color:#ffffff; border-radius:0; overflow:auto; }


.groupList li {
    list-style: none;
    border-radius: 3px;
    border:1px solid grey;
    margin:2px;
}

.groupListProducts li {
    float:left;
    border-bottom: none;
    list-style: none;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border:1px solid grey;
    margin:2px;
}

.groupList a {
    padding:3px;
    display:block;
    border-color: grey;
    text-decoration: none;
}

.groupList a:active, .groupList .active {
    color:#ffffff;
    text-shadow:1px 1px 2px #4f4f4f;
    background:#9fcb7b;
    background:-moz-linear-gradient(top, #9fcb7b 0%, #86ae66 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fcb7b), color-stop(100%,#86ae66));
    background:linear-gradient(top, #9fcb7b 0%,#86ae66 100%);
}

.groupList a:hover {
    background:#616161;
    color:white;
    background:-moz-linear-gradient(top, #616161 0%, #616161 0%, #616161 89%, #f0f0f0 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(0%,#616161), color-stop(89%,#616161), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #616161 0%,#616161 0%,#616161 89%,#f0f0f0 100%);
    background:linear-gradient(top, #4f4f4f 0%,#616161 0%,#616161 89%,#f0f0f0 100%);

}

.groupList .active a {
    color:white;
}

table.grid tbody tr:nth-child(odd) { background:#fefefe; background:-moz-linear-gradient(top, #fefefe 0%, #fefefe 0%, #fefefe 89%, #f0f0f0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(0%,#fefefe), color-stop(89%,#fefefe), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top, #fefefe 0%,#fefefe 0%,#fefefe 89%,#f0f0f0 100%); background:linear-gradient(top, #fefefe 0%,#fefefe 0%,#fefefe 89%,#f0f0f0 100%); }
table.grid tbody tr:nth-child(odd):hover { background:#f0f0f0; background:-moz-linear-gradient(top, #f0f0f0 0%, #f0f0f0 0%, #f0f0f0 89%, #e2e2e2 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(0%,#f0f0f0), color-stop(89%,#f0f0f0), color-stop(100%,#e2e2e2)); background: -webkit-linear-gradient(top, #f0f0f0 0%,#f0f0f0 0%,#f0f0f0 89%,#e2e2e2 100%); background:linear-gradient(top, #f0f0f0 0%,#f0f0f0 0%,#f0f0f0 89%,#e2e2e2 100%); }
table.grid tbody tr:nth-child(even) { background:#f8f8f8; background:-moz-linear-gradient(top, #f8f8f8 0%, #f8f8f8 0%, #f8f8f8 89%, #f0f0f0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(0%,#f8f8f8), color-stop(89%,#f8f8f8), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top, #f8f8f8 0%,#f8f8f8 0%,#f8f8f8 89%,#f0f0f0 100%); background:linear-gradient(top, #f8f8f8 0%,#f8f8f8 0%,#f8f8f8 89%,#f0f0f0 100%); }
table.grid tbody tr:nth-child(even):hover { background:#eaeaea; background:-moz-linear-gradient(top, #eaeaea 0%, #eaeaea 0%, #eaeaea 89%, #e0e0e0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(0%,#eaeaea), color-stop(89%,#eaeaea), color-stop(100%,#e0e0e0)); background: -webkit-linear-gradient(top, #eaeaea 0%,#eaeaea 0%,#eaeaea 89%,#e0e0e0 100%); background:linear-gradient(top, #eaeaea 0%,#eaeaea 0%,#eaeaea 89%,#e0e0e0 100%); }

table.grid tbody td { padding:4px 12px 6px; line-height:1.5em; }

.showLinks a {
    text-decoration: underline !important;
    display: inline !important;
}

iframe.auto-height {
    scroll: none;
}


.catalog-error-tab {
    background: #FFEEE9;
    border: 1px solid #C65739 !important;
    border-bottom: none !important;
}
.catalog-error-tab a { color: #A33619; }