/* CATEGORIES */
#category-container {
    width: 100%;
    overflow: hidden;
}

#category-tree-container {
    width: 650px;
    float: left;
}

#category-details {
    width: 600px;
    position: absolute;
    right: 0;
}

.loading {
    background: rgba(255,255,255, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-image: url("../images/loading.gif");
    background-position: center;
    background-repeat: no-repeat;

}

.ajax .loading {
    display: block;
}

#content { min-height:1000px; background-color:#ffffff; border-radius:0; overflow:auto; }
