.amount{text-align:right;color:#333;font-weight:700;}
.direction img{margin:0;padding:0;}
.direction span{color:#397bd7;}
.sub_column_header{font-size:8px;}
.soll{background-color:#eaf4cf;border-right:3px solid #000;min-width:70px;}
.haben{background-color:#eaf4cf;min-width:70px;}
.event-group{background-color:#eaf4cf;}
.small_table_header{font-size:9px;text-align:top;}
.edit-link{padding-left:20px;background-image:url(/images/layout/general_ico_edit.png);background-repeat:no-repeat;}
.mpp-address{color:#4591ca;font-size:9px;vertical-align:middle;background-image:url(/images/layout/mpp.png);background-repeat:no-repeat;padding:8px 0 8px 28px;}
a.mytooltip{border:1px solid #333;background-color:#3e6680;color:#fff;text-decoration:none;font-size:9px;margin-bottom:2px;padding:1px;}
td.right{text-align:right;font-family:monospace;}
fieldset{margin-bottom:25px;padding:10px;border:1px solid silver;background-color:#fafafa }
legend{background-color:gray;color:#FFF;font-weight:700;border-color:0 solid #000;padding:3px;}
.final,.saldo{background-color:#cbf4c6;}
section{margin: 0}
.floatLeft{float:left;}
.floatRight{float:right;}
.bold{font-weight:700;}
.column{float:left;margin:0}
.column.left{width:580px;margin-right: 20px}
.header{height:50px;clear: both}
#comments-table{width:100%;margin-bottom: 10px}
#totals-container .totalrow {font-weight:700}
#totals-container .totalrow td {padding:10px}
#content #main > .container #totals-container .totalrow p {margin-top: 0}
#totals-container .totalrow .small {font-weight:400}
.summary-table td:last-child{text-align: right}
#order-status-table > thead th:last-child{width:200px}
#order-status-table tbody td.item-cell,#order-status-table tbody td.history-cell{font-size: 10px}
#order-status-table tbody td:last-child .button{display: block;margin:5px;font-size: 10px}
#order-status-table .item-cell{background-color: #c0c0c0}
#order-status-table .item-info-table {width:500px}
#order-status-table .item-info-table thead th{border: 1px solid silver; background-color: black; color: white}
#order-status-table .item-info-table tbody td.total{width:100px; font-size: 12px}
#order-status-table .item-info-table tbody td:nth-child(2) p{font-weight: 700;font-size: 12px}
#content #main > .container #order-status-table .item-info-table ul {list-style: none}
#order-status-table .item-history-table {width:380px}
#order-status-table .item-history-table td:last-child{width:150px}
#order-status-table .item-history-table .current-status, #order-status-table .show-artist-info{cursor: pointer}
#order-status-table .collapseable {display: none;}
#order-status-table .item-info-table .collapseable {font-weight: 400;border: 1px solid silver; background-color: black; color: white;padding:5px}