.flagicon {
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-bottom: -6px;
    cursor: pointer;
    display: block;
}

.flag_red {
    background: url('images/red_flag.png') center center no-repeat;
}

.flag_grey {
    background: url('images/grey_flag.png') center center no-repeat;
}

.flag_green {
    background: url('images/green_flag.png') center center no-repeat;
}

.flag_loading {
    background: url('/images/loading.gif') center center no-repeat;
}

table.grid tbody tr.row_green {
    background: url('images/green_row.png');
}
table.grid tbody tr.row_red {
    background: url('images/red_row.png');
}