/* STRUCTURAL AND BASIC STYLES */

html { background:#d5d5d5 url(../images/layout/general_noise.png) left top repeat; background:url(../images/layout/general_noise.png) left top repeat, -moz-linear-gradient(left, #d5d5d5 0%, #c3c3c3 50%, #d5d5d5 100%); background:url(../images/layout/general_noise.png) left top repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#d5d5d5), color-stop(50%,#c3c3c3), color-stop(100%,#d5d5d5)); background:url(../images/layout/general_noise.png) left top repeat, linear-gradient(left, #d5d5d5 0%,#c3c3c3 50%,#d5d5d5 100%); }
body { font-family:Verdana, Arial, sans-serif; font-size:13px; overflow-y:scroll; }

a { color:#498816; text-decoration:underline; }

.clear { display:block; clear:both; height:0; line-height:0; font-size:0; overflow:hidden; }

.button { border-radius:3px; border:1px solid #cccccc; padding:4px 7px; background-color:rgba(0, 0, 0, 0.03); text-decoration:none; color:inherit; box-shadow:0 0 2px rgba(0, 0, 0, 0.1); font-size:12px; cursor:pointer; }
.button.off { color: #ddd}
.button:hover { box-shadow:0 0 3px rgba(0, 0, 0, 0.4); }

table:not(.grid) { display:table; border:1px solid #d1d1d1; border-left:none; }
table:not(.grid) th { font-weight:bold; text-align:left; }
table:not(.grid) tr { display:table-row; }
table:not(.grid) tr:nth-child(even) { background-color:#fafafa; }
table:not(.grid) tr:nth-child(odd) { background-color:#fefefe; }
table:not(.grid) thead tr:nth-child(odd) { background:#efefef; }
table:not(.grid) td, table:not(.grid) th { display:table-cell; padding:4px 7px; border-bottom:1px solid #d1d1d1; border-left:1px solid #d1d1d1; vertical-align:top; }

section { padding-left:35px; padding-right:35px; padding-top:50px; }

section > header { position:fixed; left:0; right:0; top:0; padding:0 35px; color:#ffffff; font-size:12px; line-height:40px; text-shadow:2px 2px 3px #1c1c1c; z-index:999; background:rgb(63,67,69); background:-moz-linear-gradient(top, rgba(63,67,69,1) 0%, rgba(55,58,59,1) 98%, rgba(54,55,55,1) 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,67,69,1)), color-stop(98%,rgba(55,58,59,1)), color-stop(100%,rgba(54,55,55,1))); background:-webkit-linear-gradient(top, rgba(63,67,69,1) 0%,rgba(55,58,59,1) 98%,rgba(54,55,55,1) 100%); background:-o-linear-gradient(top, rgba(63,67,69,1) 0%,rgba(55,58,59,1) 98%,rgba(54,55,55,1) 100%); background:-ms-linear-gradient(top, rgba(63,67,69,1) 0%,rgba(55,58,59,1) 98%,rgba(54,55,55,1) 100%); background:linear-gradient(to bottom, rgba(63,67,69,1) 0%,rgba(55,58,59,1) 98%,rgba(54,55,55,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4345', endColorstr='#363737',GradientType=0 ); box-shadow:0 0 5px rgba(0, 0, 0, 0.5); z-index:1001; }
section > header:after { content:''; display:block; clear:both; line-height:0; }

section > header #logo { float:left; padding-right:10px; background:url(../images/layout/general_divider_big.png) right center no-repeat; }

section > header a { color:inherit; text-decoration:inherit; }

section > header nav ul { list-style:none; float:left; white-space:nowrap; }
section > header nav > ul > li { position:relative; float:left; background:url(../images/layout/general_divider_big.png) left center no-repeat, url(../images/layout/general_divider_big.png) right center no-repeat; }
section > header nav > ul > li:last-child { background:url(../images/layout/general_divider_big.png) left center no-repeat; }
section > header nav > ul > li:hover { text-shadow:2px 2px 3px #000000; background:rgb(45,48,50); background:-moz-linear-gradient(top, rgba(45,48,50,1) 0%, rgba(53,57,58,1) 85%, rgba(43,47,49,1) 92%, rgba(124,215,0,1) 92%, rgba(80,193,0,1) 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,48,50,1)), color-stop(85%,rgba(53,57,58,1)), color-stop(92%,rgba(43,47,49,1)), color-stop(92%,rgba(124,215,0,1)), color-stop(100%,rgba(80,193,0,1))); background:-webkit-linear-gradient(top, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); background:-o-linear-gradient(top, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); background:-ms-linear-gradient(top, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); background:linear-gradient(to bottom, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3032', endColorstr='#50c100',GradientType=0 ); }
section > header nav > ul > li.active { background:rgb(45,48,50); background:-moz-linear-gradient(top, rgba(45,48,50,1) 0%, rgba(53,57,58,1) 85%, rgba(43,47,49,1) 92%, rgba(124,215,0,1) 92%, rgba(80,193,0,1) 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,48,50,1)), color-stop(85%,rgba(53,57,58,1)), color-stop(92%,rgba(43,47,49,1)), color-stop(92%,rgba(124,215,0,1)), color-stop(100%,rgba(80,193,0,1))); background:-webkit-linear-gradient(top, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); background:-o-linear-gradient(top, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); background:-ms-linear-gradient(top, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); background:url(../images/layout/header_menu_shadow_active.png) left center no-repeat, url(../images/layout/header_menu_shadow_active.png) right center no-repeat, linear-gradient(to bottom, rgba(45,48,50,1) 0%,rgba(53,57,58,1) 85%,rgba(43,47,49,1) 92%,rgba(124,215,0,1) 92%,rgba(80,193,0,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3032', endColorstr='#50c100',GradientType=0 ); }
section > header nav > ul > li.active > a:after { display:block; position:absolute; content:''; width:18px; height:9px; left:50%; margin-left:-9px; top:0; background:url(../images/layout/header_menu_arrow_active.png); z-index:1; }

section > header nav > ul ul { display:none; line-height:34px; }
section > header nav li:hover > ul { display:block; }
section > header nav > ul > li > ul { position:absolute; left:0; text-align:left; min-width:100%; background-color:#272727; border-radius:0 0 5px 5px; }
section > header nav > ul > li a { display:block; padding:0 14px; }
section > header nav > ul > li > ul li { position:relative; border-radius:0; }
section > header nav > ul > li > ul li:first-child { border-radius:0 5px 0 0; }
section > header nav > ul > li > ul li:last-child { border-radius:0 0 5px 5px; }
section > header nav > ul > li > ul li:only-child { border-radius:0 5px 5px 0; }
section > header nav > ul > li > ul li:not(:last-child):after { display:block; content:''; height:1px; background:#202020; border-bottom:1px solid #333333; border-left:5px solid #272727; border-right:5px solid #272727; }
section > header nav > ul > li > ul li:not(:last-child):hover:after { background:#1d1d1d; }
section > header nav > ul > li > ul li.hasChildren { background:#272727 url(../images/layout/general_arrow_small_right.png) right center no-repeat; border-radius:5px 0px 0px 5px; ; }
section > header nav > ul > li > ul li.hasChildren:hover { border-radius:0; }
section > header nav > ul > li > ul li.hasChildren:first-child { border-radius:0 5px 0 5px; }
section > header nav > ul > li > ul li.hasChildren:first-child:hover { border-radius:0 0 0 5px; }
section > header nav > ul > li > ul li.hasChildren:last-child { border-radius:0 0 5px 5px; }
section > header nav > ul > li > ul li.hasChildren:last-child:hover { border-radius:0 0 0 5px; }
section > header nav > ul > li > ul li.hasChildren:only-child { border-radius:0 5px 5px 5px; }
section > header nav > ul > li > ul li.hasChildren:only-child:hover { border-radius:0; }
section > header nav > ul > li > ul > li.hasChildren:only-child:hover { border-radius:0 0 0 5px; }
section > header nav > ul > li > ul li:hover { background-color:#202020; }
section > header nav > ul > li > ul li ul { position:absolute; left:100%; top:0; text-align:left; background-color:#272727; border-radius:0 5px 5px 0; }

section > header > div.rightNavigation > #tray { float:left; list-style:none outside; padding-right:8px; background:url(../images/layout/general_divider_big.png) right center no-repeat; }
section > header > div.rightNavigation > #tray > li { position:relative; float:left; height:36px; line-height:32px; margin-top:3px; padding-left:7px; padding-right:7px; border:1px solid transparent; border-bottom:0 none; }
section > header > div.rightNavigation > #tray li.ico { background:url(../images/layout/header_icons.png) no-repeat; cursor:pointer; }
section > header > div.rightNavigation > #tray li.config { width:17px; background-position:7px 7px; }
section > header > div.rightNavigation > #tray li.bookmarks { width:17px; background-position:-24px 7px; }
section > header > div.rightNavigation > #tray li.search { width:17px; background-position:-55px 7px; }
section > header > div.rightNavigation > #tray li.environment { padding-left:29px; font-size:11px; background-position:-86px 7px; }
section > header > div.rightNavigation { float: right; }
section > header > div.rightNavigation > nav.manualNav { float:left; }
section > header > div.rightNavigation > nav.manualNav > ul > li { background: url(images/pdf_logo.png) left no-repeat; padding-left: 3px; padding-right: 3px; width: 70px; text-align: right; }
section > header > div.rightNavigation > nav.manualNav > ul > li > ul li:last-child { border-radius:0 0 5px 5px; }

section > header #tray li.active { background-color:#f1f1f1; border-color:#9f9f9f; color:#333333; text-shadow:1px 1px 2px #cccccc; border-radius:3px 3px 0 0; box-shadow:0 0 2px rgba(0, 0, 0, 0.5); }
section > header #tray li.active:after { position:absolute; display:block; content:''; left:-1px; right:-1px; height:4px; border-left:1px solid #9f9f9f; border-right:1px solid #9f9f9f; bottom:-1px; background:#f1f1f1; z-index:1000; }
section > header #tray li.active.config { background-position:-264px 7px; }
section > header #tray li.active.bookmarks { background-position:-295px 7px; }
section > header #tray li.active.search { background-position:-326px 7px; }
section > header #tray li.active.environment { background-position:-357px 7px; }

section > header #tray li .onActive { display:none; position:absolute; right:-1px; top:36px; margin:0; padding:10px 12px; line-height:1.5em; background:#f1f1f1; border:1px solid #9f9f9f; z-index:999; white-space:nowrap; border-radius:0 0 3px 3px; box-shadow:0 0 2px rgba(0, 0, 0, 0.5); cursor:default; text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7); }
section > header #tray li .onActive a { text-decoration:underline; cursor:pointer; }
section > header #tray li.active .onActive { display:block; }
section > header #tray li.bookmarks .onActive { padding:0; }
section > header #tray li.bookmarks .onActive li,
section > header #tray li.bookmarks .onActive a { display:block; float:none; margin:0; padding:0 20px; line-height:37px; text-decoration:none; cursor:pointer; }
section > header #tray li.bookmarks .onActive li:first-child { border-bottom:1px dashed rgba(0, 0, 0, 0.15); }
section > header #tray li.bookmarks .onActive li:only-child { border-bottom:0 none; }
section > header #tray li.bookmarks .onActive li:hover,
section > header #tray li.bookmarks .onActive a:hover { background-color:rgba(0, 0, 0, 0.1); }

section > header #tray li.search #menuSearch { display:block; padding:8px 10px; width:136px; }
section > header #tray li.search select { position:absolute; z-index:0; min-width:158px; }

section > header #session { float:right; padding:0 0 0 15px; font-size:11px; background:url(../images/layout/general_divider_big.png) left center no-repeat; white-space:nowrap; line-height:13px; }
section > header #session .flag { float:left; margin-right:7px; margin-top:4px; }
section > header #session .welcome { float:left; margin-top:5px; }
section > header #session .welcome span { color:#cccccc; font-size:10px; }
section > header #session .logout { display:block; float:left; padding:0; margin-left:22px; width:34px; height:35px; background:url(../images/layout/header_ico_logout.png) 0 0 no-repeat; line-height:0; text-decoration:none; cursor:pointer; }
section > header #session.loggedout  .logout { display:none; }

#tabs { list-style:none; height:25px; }
#tabs:after { display:block; content:''; clear:left; }
#tabs li { float:left; white-space:nowrap; margin-right:1px; }
#tabs li.current,
#tabs li a { display:block; padding:0 10px; font-size:13px; line-height:25px; border-radius:4px 4px 0 0; }
#tabs li.current { cursor:default; color:#000000; background:#ffffff; background:-moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(60%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); background:-webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); background:-o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); background:linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); }
#tabs li a { text-decoration:none; color:#333333; background:#eeeeee; background:-moz-linear-gradient(top, rgba(238,238,238,0.8) 0%, rgba(238,238,238,1) 60%, rgba(238,238,238,1) 90%, rgba(214,214,214,1) 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,0.8)), color-stop(60%,rgba(238,238,238,1)), color-stop(90%,rgba(238,238,238,1)), color-stop(100%,rgba(214,214,214,1))); background:-webkit-linear-gradient(top, rgba(238,238,238,0.8) 0%,rgba(238,238,238,1) 60%,rgba(238,238,238,1) 90%,rgba(214,214,214,1) 100%); background:-o-linear-gradient(top, rgba(238,238,238,0.8) 0%,rgba(238,238,238,1) 60%,rgba(238,238,238,1) 90%,rgba(214,214,214,1) 100%); background:linear-gradient(to bottom, rgba(238,238,238,0.8) 0%,rgba(238,238,238,1) 60%,rgba(238,238,238,1) 90%,rgba(214,214,214,1) 100%); }

#content { min-height:2000px; background-color:#ffffff; border-radius:5px 5px 0 0; box-shadow:0 -2px 10px #a8a8a8; overflow:hidden; }
#content headline { display:block; color:#1e1e1e; padding:16px 20px; background:#fafafa url(../images/layout/general_shadow_rounded.png) center bottom no-repeat; background:url(../images/layout/general_shadow_rounded.png) center bottom no-repeat, -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%); background:url(../images/layout/general_shadow_rounded.png) center bottom no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa)); background:url(../images/layout/general_shadow_rounded.png) center bottom no-repeat, linear-gradient(top, #ffffff 0%,#fafafa 100%); }
#content headline label { float:left; font-size:20px; }
#content headline nav { text-align:right; white-space:nowrap; float:right; font-size:12px; color:#717171; padding-top:3px; }
#content headline nav a { color:inherit; text-decoration:none; }
#content headline nav a:hover { color:#000000; }
#content headline .actions { text-align:center; padding-top:4px; cursor:default; }
#content #main { position:relative; padding:20px; }
#content #main > .more { position:absolute; top:0; bottom:0; width:17px; z-index:1; }
#content #main > .more.left { left:0; background:-moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); background:-webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background:-o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background:-ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background:linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); }
#content #main > .more.right { right:0; background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); background:-o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); background:linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); }
#content #main .container { float:left; width:100%; }
#content #main .container.collapsed { width:82%; }
#content #main aside { position:fixed; right:-261px; top:122px; bottom:20px; padding:20px; padding-left:0; width:240px; border:1px solid rgba(0, 0, 0, 0.3); border-right:0 none; overflow:hidden; background:-moz-radial-gradient(left, ellipse cover, #ebebeb 0%, #fafafa 50%); background:-webkit-gradient(radial, left center, 0px, center center, 100%, color-stop(0%,#ebebeb), color-stop(50%,#fafafa)); background:-webkit-radial-gradient(left, ellipse cover, #ebebeb 0%,#fafafa 50%); background:radial-gradient(left, ellipse cover, #ebebeb 0%, #fafafa 50%); border-radius:5px 0 0 5px; z-index:997; }
#content #main aside.expanded { right:0; box-shadow:0 0 5px rgba(0, 0, 0, 0.3); }
#content #main aside .dcontainer { padding-left:30px; padding-right:10px; }
#content #main aside .dcontainer .output { line-height:20px; overflow-y:auto; }
#content #main aside .dcontainer .output ul ul { padding-left:16px; }
#content #main aside .dcontainer .output hr { height:0; margin:12px 0 10px; padding:0; line-height:0; border:0 none; border-top:1px solid #d4d4d4; }
#content #main aside .dcontainer:not(.editing) { cursor:pointer; }
#content #main aside .dcontainer:not(.editing):hover .output:after { content:' ¶'; }
#content #main aside .dcontainer ul.formatting { display:none; min-width:210px; list-style:none outside; height:30px; margin-bottom:4px; padding:0; white-space:nowrap; }
#content #main aside .dcontainer ul.formatting li { float:left; font-size:12px; padding:6px 16px; cursor:pointer; border-right:1px solid #eeeeee; }
#content #main aside .dcontainer ul.formatting li:last-child { border-right:0 none; }
#content #main aside .dcontainer ul.formatting li:hover { background-color:#fafafa; }
#content #main aside .dcontainer textarea { display:none; width:98%; resize:none; }
#content #main aside .dcontainer .history { display:none; margin-top:4px; font-size:10px; color:#717171; line-height:14px; white-space:nowrap; }
#content #main aside .dcontainer.editing { cursor:default; }
#content #main aside .dcontainer.editing .output { display:none; }
#content #main aside .dcontainer.editing ul.formatting,
#content #main aside .dcontainer.editing textarea,
#content #main aside .dcontainer.editing .history { display:block; }
#content #main tt { font-family:monospace; }
#content #main i { font-style:italic; }

#tabs+#content { border-top-left-radius:0; }

nav.global { display:none; position:fixed; top:30%; height:40%; width:30px; background-color:rgba(0, 0, 0, 0.4); z-index:98; background-image:url(../images/layout/global_navigation_ico.png); background-repeat:no-repeat; cursor:pointer; }
nav.global:hover { background-color:rgba(0, 0, 0, 0.6); }
nav.global.prev { left:0; border-radius:0 5px 5px 0; background-position:7px center; }
nav.global.next { right:261px; margin-top:50px; border-radius:5px 0 0 5px; background-position:-38px center; }
nav.global.prev.revert { background-position:-38px center; }
nav.global.next.revert { right:0; background-position:7px center; }

body > footer { display:none; position:fixed; padding:0; bottom:0; height:30px; left:70px; right:70px; color:#ffffff; font-size:12px; background-color:rgba(0, 0, 0, 0.6); border-radius:5px 5px 0 0; text-shadow:2px 2px 3px #1c1c1c; z-index:998; }

body > footer > .actions { float:left; }
body > footer > .actions span,
body > footer > .actions a { display:block; padding:9px 14px; float:left; background:url(../images/layout/general_divider.png) left center no-repeat, url(../images/layout/general_divider.png) right center no-repeat; color:inherit; text-decoration:none; cursor:pointer; }
body > footer > .actions span:first-child,
body > footer > .actions a:first-child { border-radius:5px 0 0 0; background:url(../images/layout/general_divider.png) right center no-repeat; }
body > footer > .actions span:hover,
body > footer > .actions a:hover { background-color:rgba(0, 0, 0, 0.35); }
body > footer > nav { float:right; }
body > footer > nav > ul { list-style:none; }
body > footer > nav > ul > li { position:relative; float:left; height:15px; padding:8px 8px 7px 10px; background-image:url(../images/layout/general_icons_white.png); background-repeat:no-repeat; cursor:pointer; }
body > footer > nav > ul > li:last-child { padding-right:10px; border-radius:0px 5px 0px 0px; }
body > footer > nav > ul > li:hover,
body > footer > nav ul > li.active { background-color:rgba(0, 0, 0, 0.35); }
body > footer > nav > ul > li.export { width:16px; background-position:10px 8px; }
body > footer > nav > ul > li.search { width:15px; background-position:-30px 8px; }
body > footer > nav > ul > li.flags { width:14px; background-position:-69px 8px; }
body > footer > nav > ul > li > ul { display:none; position:absolute; right:0; bottom:30px; padding:0; border-radius:5px; box-shadow:0 0 16px rgba(0,0,0,0.35); background:rgba(255, 255, 255, 0.85); cursor:default; }
body > footer > nav > ul > li.flags > ul > li:first-child { border-bottom:1px dashed #c1c1c1; }
body > footer > nav > ul > li.active > ul { display:block; }
body > footer > nav > ul > li > ul > li,
body > footer > nav > ul > li > ul > a { display:block; color:#212121; text-shadow:none; white-space:nowrap; padding:9px 14px; cursor:pointer; text-decoration:none; }
body > footer > nav > ul > li > ul > li:hover,
body > footer > nav > ul > li > ul > a:hover { background-color:#e1e1e1; }

#raster { width:990px; margin:0 auto; padding-top:10px; padding-bottom:10px; }
#raster:after { display:block; content:''; clear:left; }
#raster .block { position:relative; padding:10px; margin-bottom:10px; background:#ffffff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; cursor:default; cursor:-webkit-grab; cursor:-moz-grab; box-shadow:0 1px 2px rgba(0, 0, 0, 0.3); }
#raster .block.full { clear:left; float:none; }
#raster .block.quarter { float:left; clear:none; width:220px; margin-left:10px; }
#raster .block.quarter:first-child,
#raster .block:not(.quarter)+.block.quarter,
#raster .row+.block.quarter,
#raster .row .block.quarter:nth-child(4n+1) { clear:left; margin-left:0; }
#raster .block.half { float:left; clear:none; width:470px; margin-left:10px; }
#raster .block.half:first-child,
#raster .block:not(.half)+.block.half,
#raster .row+.block.half,
#raster .row .block.half:nth-child(2n+1) { clear:left; margin-left:0; }
#raster .block.thirds { float:left; clear:none; width:303px; margin-left:10px; }
#raster .block.thirds:first-child,
#raster .block:not(.thirds)+.block.thirds,
#raster .row+.block.thirds,
#raster .row .block.thirds:nth-child(3n+1) { clear:left; width:304px; margin-left:0; }
#raster .block.new { padding:7px !important; border:3px dashed #ffffff !important; background:transparent !important; color:transparent !important; box-shadow:none !important; }
#raster .block.new * { visibility:hidden !important; }
#raster .block.old { position:absolute; z-index:1; cursor:move; cursor:-moz-grabbing; box-shadow:0 0 6px rgba(0, 0, 0, 0.5); }
#raster .row { clear:left; float:none; }
#raster .row:after { content:''; display:block; clear:left; }

#raster .block[data-type=iframe]:after { display:block; content:''; position:absolute; left:10px; top:10px; right:10px; bottom:10px; background:transparent; z-index:1; }

#raster .tile { position:relative; padding-top:58px; background:url(../images/layout/dashboard_icons.png) center top no-repeat; text-align:center; font-size:12px; color:#808080; font-weight:normal; line-height:30px; }
#raster .tile.cart { background-position:center 11px; }
#raster .tile.cash { background-position:center -132px; }
#raster .tile.user { background-position:center -275px; }
#raster .tile.monitor { background-position:center -417px; }
#raster .tile.graph { background-position:center -559px; }
#raster .tile.download { background-position:center -700px; }
#raster .tile.chart { background-position:center -844px; }
#raster .tile .amount { display:block; font-size:30px; margin-bottom:2px; }
#raster .tile.clock:after { content:''; display:block; position:absolute; left:0; right:0; top:0; height:18px; background:url(../images/layout/dashboard_icons.png) center -999px no-repeat; z-index:0; }
#raster .tile.cart.clock:after { left:48px; }
#raster .tile.cash.clock:after { left:32px; }
#raster .tile.graph.clock:after { left:56px; top:15px; }
#raster .tile.chart.clock:after { left:48px; }

/* COMPONENTS */

table.grid { width:100%; border-radius:5px; box-shadow:0 0 7px #cccccc; }
table.grid tr { height:28px; }
table.grid th.compact, table.grid td.compact { width:1px; }
table.grid thead tr:first-child th,
table.grid tfoot tr td { color:#ffffff; text-shadow:1px 1px 2px #4f4f4f; background:#9fcb7b; background:-moz-linear-gradient(top, #9fcb7b 0%, #86ae66 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fcb7b), color-stop(100%,#86ae66)); background:linear-gradient(top, #9fcb7b 0%,#86ae66 100%); }
table.grid thead tr:first-child th { font-size:13px; border-radius:5px 5px 0 0; padding:0 0 0 12px; }
table.grid thead tr:last-child { background:#bbbbbb; background:-moz-linear-gradient(top, #bbbbbb 0%, #bbbbbb 0%, #e3e3e3 14%, #f5f5f5 93%, #e0e0e0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(0%,#bbbbbb), color-stop(14%,#e3e3e3), color-stop(93%,#f5f5f5), color-stop(100%,#e0e0e0)); background:-webkit-linear-gradient(top, #bbbbbb 0%,#bbbbbb 0%,#e3e3e3 14%,#f5f5f5 93%,#e0e0e0 100%); background:linear-gradient(top, #bbbbbb 0%,#bbbbbb 0%,#e3e3e3 14%,#f5f5f5 93%,#e0e0e0 100%); }
table.grid thead tr:last-child th { padding:4px 12px 6px; line-height:1.5em; }
table.grid thead tr:last-child th,
table.grid thead tr:last-child th a { font-size:12px; text-align:left; color:#000000; text-decoration:none; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3) }
table.grid thead tr:last-child th a,
table.grid tbody tr td a { display:block; padding:6px 12px; margin:-6px -12px; min-height:12px; }
table.grid thead tr:last-child th a span { padding-right:20px; }
table.grid thead tr:last-child th a.gridOrderDESC span { background:url(../images/layout/general_arrow_order_down.png) right center no-repeat; }
table.grid thead tr:last-child th a.gridOrderASC span { background:url(../images/layout/general_arrow_order_up.png) right center no-repeat; }
table.grid thead tr:first-child label { float:left; padding-top:7px; padding-bottom:7px; }
table.grid thead tr:first-child th ul { margin-bottom:0 !important; list-style:none; position:relative; float:right; z-index:1; }
table.grid thead tr:first-child th > ul > li { position:relative; float:left; height:15px; padding:7px 8px 6px 10px; background-image:url(../images/layout/general_icons_white.png); background-repeat:no-repeat; cursor:pointer; }
table.grid thead tr:first-child th > ul > li:last-child { padding-right:10px; border-radius:0px 5px 0px 0px; }
table.grid thead tr:first-child th > ul > li:hover,
table.grid thead tr:first-child th > ul > li.active { background-color:rgba(0, 0, 0, 0.15); }
table.grid thead tr:first-child th > ul > li > form { display:none; position:absolute; right:0; top:28px; padding:10px; border-radius:5px; box-shadow:0 0 16px rgba(0,0,0,0.35); background:rgba(255, 255, 255, 0.85); cursor:default; }
table.grid thead tr:first-child th > ul > li.active > form { display:block; }
table.grid thead tr:first-child th > ul > li > form input[type=search] { min-width:150px; border:0px none; border-bottom:1px solid rgba(0, 0, 0, 0.15); background:transparent; padding-top:5px; padding-bottom:5px; }
table.grid thead tr:first-child th > ul > li > form input[type=submit] { margin-top:10px; padding:5px; width:100%; cursor:pointer; }

table.grid thead tr:first-child ul li { list-style:none; }
table.grid thead tr:first-child ul li.export { width:16px; background-position:10px 7px; }
table.grid thead tr:first-child ul li.export a { display:block; position:absolute; top:0px; left:0px; height:100%; width:100%; border:none;}
table.grid thead tr:first-child ul li.search { width:15px; background-position:-30px 7px; }
table.grid thead tr:first-child ul li.flags { width:14px; background-position:-69px 7px; }
table.grid thead tr:first-child ul li.flags form { width:202px; }
table.grid thead tr:first-child ul li.flags .caption { display:block; font-weight:bold; line-height:15px; margin-bottom:8px; }
table.grid thead tr:first-child ul li.flags ul,
table.grid thead tr:first-child ul li.flags li { float:none; text-shadow:none; color:#333333; font-weight:normal; }
table.grid thead tr:first-child ul li.flags ul.flagControls:after { display:block; content:''; clear:left; float:none; }
table.grid thead tr:first-child ul li.flags ul.flagControls li { display:block; float:left; margin-top:2px; padding:2px 6px; width:88px; font-size:11px; text-align:left; background-color:rgba(0, 0, 0, 0.7); color:#ffffff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; cursor:pointer; }
table.grid thead tr:first-child ul li.flags ul.flagControls li:nth-child(odd) { margin-right:2px; }
table.grid thead tr:first-child ul li.flags ul.flagControls li:hover { background-color:rgba(0, 0, 0, 0.8); }
table.grid thead tr:first-child ul li.flags ul.flagControls li.active { background-image:url(../images/layout/grid_ico_flag_active.png); background-position:82px 5px; background-repeat:no-repeat; }

table.grid tbody tr:nth-child(odd) { background:#fefefe; background:-moz-linear-gradient(top, #fefefe 0%, #fefefe 0%, #fefefe 89%, #f0f0f0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(0%,#fefefe), color-stop(89%,#fefefe), color-stop(100%,#f0f0f0)); background:-webkit-linear-gradient(top, #fefefe 0%,#fefefe 0%,#fefefe 89%,#f0f0f0 100%); background:linear-gradient(top, #fefefe 0%,#fefefe 0%,#fefefe 89%,#f0f0f0 100%); }
table.grid tbody tr:nth-child(odd):hover { background:#f0f0f0; background:-moz-linear-gradient(top, #f0f0f0 0%, #f0f0f0 0%, #f0f0f0 89%, #e2e2e2 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(0%,#f0f0f0), color-stop(89%,#f0f0f0), color-stop(100%,#e2e2e2)); background:-webkit-linear-gradient(top, #f0f0f0 0%,#f0f0f0 0%,#f0f0f0 89%,#e2e2e2 100%); background:linear-gradient(top, #f0f0f0 0%,#f0f0f0 0%,#f0f0f0 89%,#e2e2e2 100%); }
table.grid tbody tr:nth-child(even) { background:#f8f8f8; background:-moz-linear-gradient(top, #f8f8f8 0%, #f8f8f8 0%, #f8f8f8 89%, #f0f0f0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(0%,#f8f8f8), color-stop(89%,#f8f8f8), color-stop(100%,#f0f0f0)); background:-webkit-linear-gradient(top, #f8f8f8 0%,#f8f8f8 0%,#f8f8f8 89%,#f0f0f0 100%); background:linear-gradient(top, #f8f8f8 0%,#f8f8f8 0%,#f8f8f8 89%,#f0f0f0 100%); }
table.grid tbody tr:nth-child(even):hover { background:#eaeaea; background:-moz-linear-gradient(top, #eaeaea 0%, #eaeaea 0%, #eaeaea 89%, #e0e0e0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(0%,#eaeaea), color-stop(89%,#eaeaea), color-stop(100%,#e0e0e0)); background:-webkit-linear-gradient(top, #eaeaea 0%,#eaeaea 0%,#eaeaea 89%,#e0e0e0 100%); background:linear-gradient(top, #eaeaea 0%,#eaeaea 0%,#eaeaea 89%,#e0e0e0 100%); }

table.grid tbody td { padding:4px 12px 6px; line-height:1.5em; }
table.grid tbody td,
table.grid tbody tr td a { font-size:12px; color:#313131; text-decoration:none; }
table.grid tbody .ico_edit,
table.grid tbody .ico_delete { opacity:0.4; }
table.grid tbody a:hover .ico_edit, table.grid tbody a:hover .ico_delete { opacity:1; }
table.grid tbody .ico_edit { margin-bottom:-2px; }

table.grid tfoot td { font-size:12px; border-radius:0 0 5px 5px; }
table.grid tfoot td .paginationControl { color:#ffffff; cursor:default; text-align:center; line-height:26px; }
table.grid tfoot td .paginationControl a { color:#ffffff; text-decoration:none; }
table.grid tfoot td .paginationControl a:hover { text-shadow:0 0 3px #ffffff; }

table.grid tfoot td .paginationControl .first,
table.grid tfoot td .paginationControl .previous,
table.grid tfoot td .paginationControl .next,
table.grid tfoot td .paginationControl .last { display:block; padding:7px 10px; height:15px; background:url(../images/layout/general_icons_white.png) no-repeat; }
table.grid tfoot td .paginationControl .first { border-radius:0 0 0 5px; float:left; width:18px; background-position:-107px 7px; }
table.grid tfoot td .paginationControl .previous { float:left; width:12px; background-position:-149px 7px; }
table.grid tfoot td .paginationControl .next { float:right; width:12px; background-position:-185px 7px; }
table.grid tfoot td .paginationControl .last { border-radius:0 0 5px 0; float:right; width:18px; background-position:-221px 7px; }
table.grid tfoot td .paginationControl .first:hover,
table.grid tfoot td .paginationControl .previous:hover,
table.grid tfoot td .paginationControl .next:hover,
table.grid tfoot td .paginationControl .last:hover { background-color:rgba(0, 0, 0, 0.15); }

table.grid tfoot td .paginationControl .index { margin-right:50px; }
table.grid tfoot td .paginationControl .index
table.grid tfoot td .paginationControl .numbers { font-size:11px; }
table.grid tfoot td .paginationControl .numbers a,
table.grid tfoot td .paginationControl .numbers .current { padding:7px; }
table.grid tfoot td .paginationControl .numbers .current { padding-top:6px; font-size:14px; }

table.grid td.StatusName a {display:inline}
table.grid td.StatusName form {float:right;width:220px;}
table.grid td.StatusName form.status-label {display:none;}

dl.zend_form dt { float:left; clear:left; text-align:right; padding-bottom:6px; width:12%; }
dl.zend_form dt label { display:block; padding-top:5px; padding-right:16px; }
dl.zend_form dd { float:left; padding-bottom:10px; line-height:23px; width:32%; overflow:visible;}
dl.zend_form dd input[type=text],dl.zend_form dd input[type=password],
dl.zend_form dd textarea { width:100%; padding:3px; -webkit-box-shadow:inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05); box-shadow:inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05); border:1px solid #d1d1d1; border-radius:3px; }
dl.zend_form dd input[type=radio] { vertical-align:text-top; margin:2px 7px 2px 0; }
dl.zend_form dd textarea { max-width:100%; height:200px; }
dl.zend_form input[type=submit] { padding:4px 7px; min-width:102%; min-height:40px; cursor:pointer; }
dl.zend_form p.description { font-size:12px; color:rgba(0, 0, 0, 0.7); }
dl.zend_form button.reset { background:none repeat scroll 0 0 transparent; border:medium none; color:#498816; cursor:pointer; float:right; margin:0px; text-decoration:underline; position:absolute; top:-23px; right:0;}
dl.zend_form .form-column-1, dl.zend_form .form-column-2 { width:500px; float:left;}
dl.zend_form .form-column-1 dt, dl.zend_form .form-column-2 dt { float:left; clear:left; text-align:right; padding-bottom:6px; width:auto; font-weight:bold;}
dl.zend_form .form-column-1 dd, dl.zend_form .form-column-2 dd {width:95%; float:left; padding-bottom:10px; line-height:23px; overflow:visible; clear:both; position:relative;}
#productDescription dl.zend_form dt#submit-label { width:auto;}

dl.zend_form dd input[type=text].countable,dl.zend_form dd input[type=password].countable,
dl.zend_form dd textarea.countable { width:85%; }

dl.zend_form span.char_counter { margin-left:10px; }

table.right { float:right; width:564px; }
table.right td { vertical-align:top; }
table.right dl.zend_form dt { width:100px; }
table.right dl.zend_form dd { width:159px; }

#content #main > .container h1 { font-size:16px; font-weight:bold; margin-bottom:10px; }
#content #main > .container h2 { font-size:14px; color:black; font-weight:bold; margin-bottom:8px; }
#content #main > .container h3 { font-weight:bold; margin-top:14px; margin-bottom:4px; color:gray; }
#content #main > .container b { font-weight:bold }
#content #main > .container p { margin-top:5px; margin-bottom:5px }
#content #main > .container hr { height:0px; border:0px; border-top:2px dotted #e1e1e1; margin:30px; }
#content #main > .container ul { margin-bottom:16px; line-height:1.3em; list-style:circle inside; white-space:nowrap;}
#content #main > .container .small { font-size:80% }

#shortcuts { display:none; position:fixed; left:0; right:0; top:0; bottom:0; background-color:rgba(0, 0, 0, 0.7); z-index:9999; }
#shortcuts .wrapper { margin:0 auto; width:900px; padding-top:60px; padding-bottom:60px; color:#ffffff; text-shadow:0 0 10px rgba(255, 255, 255, 0.8); font-size:14px; text-align:center; line-height:2.8em; }
#shortcuts strong { font-weight:normal; font-variant:small-caps; }
#shortcuts i { font-style:italic; }

ul.errors,
div.error,
div.success,
div.notification { margin-top:5px; margin-bottom:5px; padding:3px 5px; color:#a33619; background-color:#ffeee9; border:1px solid #c65739; border-radius:3px; }
div.success { border-color:#67a532; color:#4d881b; background-color:#f2ffe8; }
div.notification { border-color:#aeaeae; color:#414141; background-color:#f8f8f8; }
dl.zend_form ul.errors { list-style:none; margin-top:3px; width:100%; padding:2px 3px; }
ul.errors:first-child,
dl.zend_form ul.errors:first-child,
div.error:first-child,
div.success:first-child,
div.notification:first-child { margin-top:0; }
ul.errors:last-child,
dl.zend_form ul.errors:last-child { margin-bottom:0; }
div.error:last-child,
div.success:last-child,
div.notification:last-child { margin-bottom:15px; }
ul.errors li { margin-bottom:4px; }
ul.errors li:last-child { margin-bottom:0; }
div.error,
div.success,
div.notification { position:relative; padding:7px 10px; }
div.error.minimized,
div.success.minimized,
div.notification.minimized { margin-left:99.5%; margin-bottom:-15px; margin-right:-40px; -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); transform:rotate(45deg); cursor:pointer; font-size:0; opacity:0.7; }
div.error .x,
div.success .x,
div.notification .x { display:block; position:absolute; right:0; top:0; padding:3px 7px; cursor:pointer; }

table.payment tr.details td pre { height:50px; overflow:hidden; }
table.payment tr.details td pre:hover { min-height:100px; height:auto; }

#guiMessage { position:fixed; width:60%; left:-60%; top:75px; z-index:1002; background:-moz-linear-gradient(left, rgba(219,219,219,0) 0%, rgba(219,219,219,1) 40%, rgba(219,219,219,1) 60%, rgba(219,219,219,0) 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,219,219,0)), color-stop(40%,rgba(219,219,219,1)), color-stop(60%,rgba(219,219,219,1)), color-stop(100%,rgba(219,219,219,0))); background:-webkit-linear-gradient(left, rgba(219,219,219,0) 0%,rgba(219,219,219,1) 40%,rgba(219,219,219,1) 60%,rgba(219,219,219,0) 100%); background:-o-linear-gradient(left, rgba(219,219,219,0) 0%,rgba(219,219,219,1) 40%,rgba(219,219,219,1) 60%,rgba(219,219,219,0) 100%); background:-ms-linear-gradient(left, rgba(219,219,219,0) 0%,rgba(219,219,219,1) 40%,rgba(219,219,219,1) 60%,rgba(219,219,219,0) 100%); background:linear-gradient(to right, rgba(219,219,219,0) 0%,rgba(219,219,219,1) 40%,rgba(219,219,219,1) 60%,rgba(219,219,219,0) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dbdbdb', endColorstr='#00dbdbdb',GradientType=1 ); }
#guiMessage.show { left:20%; }
#guiMessage.show.hide { left:100%; }
#guiMessage .text { padding:40px; font-size:16px; text-align:center; font-weight:bold; text-shadow:1px 1px 0 #ffffff; }

#raster #dashcaption { font-size:28px; text-align:center; color:#616161; line-height:54px; }
#raster #dashcaption img { vertical-align:text-bottom; margin:0 4px; }

a.action { display:block; line-height:30px; border:1px solid rgba(0, 0, 0, 0.35); padding:0 30px; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2); color:#333333; font-size:12px; text-decoration:none; cursor:pointer; text-align:center; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:rgb(249,249,249); background:-moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(239,239,239,1) 12%, rgba(248,248,248,1) 96%, rgba(231,231,231,1) 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(12%,rgba(239,239,239,1)), color-stop(96%,rgba(248,248,248,1)), color-stop(100%,rgba(231,231,231,1))); background:-webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(239,239,239,1) 12%,rgba(248,248,248,1) 96%,rgba(231,231,231,1) 100%); background:-o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(239,239,239,1) 12%,rgba(248,248,248,1) 96%,rgba(231,231,231,1) 100%); background:linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(239,239,239,1) 12%,rgba(248,248,248,1) 96%,rgba(231,231,231,1) 100%); outline:none; }
a.action:hover { border-color:rgba(0, 0, 0, 0.5); color:#000000; box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2); }

/* BEHAVIOR RULES */

section > header > nav li,
body > footer > nav li,
#content #main aside ul,
#content headline .actions .button,
nav.global.next,
nav.global.prev,
div.error .x,
div.success .x,
div.notification .x,
section > header #tray li,
#tabs li.current,
#tabs li a,
#raster .block { -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; user-select:none; }

/* EFFECTS */
a,
.button,
section > header nav > ul > li,
table.grid thead tr:first-child th > ul > li,
table.grid tbody .ico_edit,
table.grid tbody .ico_delete,
body > footer > nav > ul > li > ul > li:hover,
body > footer > nav > ul > li > ul > a:hover,
body > footer > .actions span,
body > footer > .actions a,
body > footer > nav > ul > li,
#content #main .container { -moz-transition:ease-in-out all .3s; -webkit-transition:ease-in-out all .3s; transition:ease-in-out all .3s; }
table.payment tr.details td pre { -moz-transition:all .3s; -webkit-transition:all .3s; transition:all .3s; }
div.error,
div.success,
div.notification,
#guiMessage { -moz-transition:ease-in-out all .8s; -webkit-transition:ease-in-out all .8s; transition:ease-in-out all .8s; }
#guiMessage:not(.show) { -moz-transition:none; -webkit-transition:none; transition:none; }

/* simulate button pressed action */

dl.zend_form button.reset:active {margin-top:1px;}

/*CMS*/
#page_content textarea:focus{
	border:1px solid #666;
	box-shadow:0px 0px 5px #666;
}
.cms-editorElementTypes { display:table; border:1px solid #ccc; border-top:0px; }
.cms-editorElementTypes li:before { content:"↑"; }
.cms-editorElementTypes li { cursor:pointer; float:left; display:block; padding:5px; border-right:1px solid #ccc; }
.cms-editor-options { clear:both; }
dl.zend_form .cms-editor { width:80%; min-width:300px; height:300px; position:relative; box-shadow:0px 0px 3px #ccc; border:1px solid #e0e0e0; }
dl.zend_form .cms-preview { width:80%; min-width:300px; height:300px; position:relative; box-shadow:0px 0px 3px #ccc; border:1px solid #e0e0e0; overflow:auto; }

.cms-editor-toptabs { display:table; width:100%; }
.cms-editor-toptabs div { padding:4px; border:1px solid #ccc; border-bottom:0px; width:100px; float:left; display:block; margin-right:10px; cursor:pointer; }
.cms-editor-toptabs div.active { background-color:#E8E8E8; box-shadow:0px 0px 4px #ccc; }

.failure{color:red;}
.success{color:#1aaa23;}
.paragraph{display: block;padding-bottom: 5px;}