// Clients
//
// Markup: organisms.clients.hbs
//
// Styleguide: organisms.clients

.clients{
    clear: both;
    @include sectionShadow;
    background: $_rgbWhite;
}

.clients__testimonials{
    @include pageWidth;
    padding-top: 80px;
    padding-bottom: 80px;

    text-align: center;
}

.clients__headline{
    margin-bottom: 50px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: $_fsLarge;
    line-height: 1.1em;
    color: $_rgbApple;
}

.clients__items{
    @include clearfix;
}

.clients__item{
    padding: 0 25px;
    width: 100%;
    display: inline-block;
    vertical-align: top;

    & + .clients__item{
        margin-top: 100px;
    }
}

.clients__item-image{
    @include responsiveImage;
    max-width: 130px;
    margin: 0 auto 60px auto;
}


.clients__item-quote{
    max-width: 510px;
    margin: 0 auto 30px auto;
    font-size: 22px;
    color: $_rgbSilverChalice;
}

.clients__item-owner{
    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 22px;
    color: $_rgbTundora;
}

@media (min-width: $_wLarge + 1px) {
    .clients__item{
        width: 50%;
        padding: 0 55px;

        & + .clients__item{
            margin-top: 0;
        }
    }
}

@media (max-width: $_wMedium) {
    .clients__headline{
        font-size: 40px;
    }
}