// Clients
//
// Markup: organisms.clients.hbs
//
// Styleguide: organisms.clients

.clients{
    @include sectionShadow;
    background: $_rgbWhite;
}

.clients__inner{
    @include pageWidth;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.clients__testimonials{
    padding: 80px ($_xGutter / 2) 100px;

    text-align: center;
}

.clients__image{
    display: none;
    width: 33.333%;
    background: url(../images/client/background.jpg);
    background-position: center;
    background-size: cover;
}

.clients__headline{
    margin-bottom: 110px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: $_fsLarge;
    line-height: $_lhLarge;
    color: $_rgbApple;
}

.clients__description{
    margin-bottom: 50px;
    color: $_rgbSilverChalice;
}

.clients__items{
    @include clearfix;
}

.clients__item{
    padding: 0 25px;
    float: left;
    width: 50%;

    .clients__item-image{
        @include responsiveImage;
        max-width: 130px;
        margin: 0 auto 15px auto;
    }

    .clients__item-name{
        margin: 10px 0;

        font-family: $_ffBrandonGrotesque-Bold;
        font-size: 18px;
        color: $_rgbTundora;
    }

    .clients__item-quote{
        font-size: 22px;
        color: $_rgbSilverChalice;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (min-width: $_wLarge) {
    .clients__testimonials{
        width: 66.666%;
    }

    .clients__items{
        padding-right: 60px;
    }

    .clients__image{
        display: block;
    }
}