<div class="clients">
    <div class="clients__inner">
        <div class="clients__testimonials">
            <h2 class="clients__headline">Das sagen unsere Kunden</h2>
            <p class="clients__description">Dass wir von der Qualität unserer Produkte absolut überzeugt sind, ist selbstverständlich. Von den heilsamen Auswirkungen guter Ernährung auf die Gesundheit unserer Haustiere waren wir aber selbst etwas überrascht. Lesen Sie hier Beispiele aus dem realen Leben, die belegen, wie PETS DELI zu guter Tiergesundheit beiträgt.</p>
            <div class="clients__items">
                <div class="clients__item">
                    <img src="../images/client/Toby.png">
                    <p>Toby</p>
                </div>
                <div class="clients__item">
                    <img src="../images/client/Gas.png">
                    <p>Gas</p>
                </div>
                <div class="clients__item">
                    <img src="../images/client/Julia.png">
                    <p>Julia</p>
                </div>
                <div class="clients__item">
                    <img src="../images/client/Matisse.png">
                    <p>Matisse</p>
                </div>
                <div class="clients__item">
                    <img src="../images/client/Romeo.png">
                    <p>Romeo</p>
                </div>
            </div>
        </div>
        <div class="clients__image">
        </div>
    </div>
</div>