<div class="clients">
    <div class="clients__inner">

        <div class="clients__testimonials">
            <h2 class="clients__headline">Das sagen unsere Kunden</h2>

            <div class="clients__items">

                <div class="clients__item">
                    <img class="clients__item-image" src="../images/client/Gas.png">
                    <h3 class="clients__item-name">Gas</h3>
                    <p class="clients__item-quote">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed mi libero, efficitur quis nulla non, luctus finibus tortor.</p>
                </div>

                <div class="clients__item">
                    <img class="clients__item-image" src="../images/client/Romeo.png">
                    <h3 class="clients__item-name">Romeo</h3>
                    <p class="clients__item-quote">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed mi libero, efficitur quis nulla non, luctus finibus tortor.</p>
                </div>

            </div>
        </div>

        <div class="clients__image"></div>

    </div>
</div>