#product-and-text, #text {
   width: 550px;
   margin: 80px auto 0 auto;
}

#product-and-text #product1 {
    height: 120px;
    width: 120px;
    float: left;
}

#product-and-text #text1 {
    height: 120px;
    width: 420px;
    float: left;
}

#text #text1 {
    height: 120px;
    width: 100%;
}
#text #text2 {
    height: 120px;
    width: 100%;
}
#text #text3 {
    height: 120px;
    width: 100%;
}
#text #text4 {
    height: 120px;
    width: 100%;
}

