{% extends '@Application/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block content %}

    <section
            spy-app="spyFormat, spyGrid, spyForm, spyLayout"
            ng-controller="FormController"
            class="spy-layout sparse"
            src="/acl/form/user"
            >
        <h3>User form</h3>

        <div class="spy-layout n2">
            <div spy-input-text="field.first_name" options="{ label : 'First Name' }"></div>
            <div spy-input-text="field.last_name" options="{ label : 'Last Name' }"></div>
            <div spy-input-text="field.username" options="{ label : 'E-Mail Address' }"></div>
            <div spy-input-password="field.password" options="{ label : 'Password' }"></div>
            <div spy-input-select="field.id_acl_group" options="{ label : 'Access Group' }"></div>
        </div>
        <div class="spy-layout buttons">
            <button class="button default" type="submit" ng-disabled="query" ng-click="update()">Update</button>
        </div>
    </section>

{% endblock %}