// Cart item
//
// Markup: molecules.cart-item.hbs
//
// Styleguide: molecules.cart-item

.cart-item{
    display: table-row;
}

.cart-item__left, .cart-item__right{
    display: table-cell;
    border-top: 1px solid $_rgbSilver;
    vertical-align: middle;
}

.cart-item__left{
    width: 99%;
}

.cart-item__right{
    border-left: 1px solid $_rgbSilver;
    width: 1%;
    white-space: nowrap;
}

.cart-item__image{
    display: inline-block;
    vertical-align: middle;

    img{
        @include responsiveImage;
        max-width: 95px;
    }
}

.cart-item__details{
    display: inline-block;
}



.cart-item__title{
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 24px;
    line-height: 28px;
    color: $_rgbApple;
    text-decoration: none;
}



.cart-item__content{
    font-family: $_ffBrandonGrotesque-Black;
}

.cart-item__weight{
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    color: $_rgbDoveGray;
}

.cart-item__flag{
    display: inline-block;
    margin-left: 15px;

    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: $_rgbChileanFire;
}



.cart-item__delete{
    display: inline-block;
    vertical-align: middle;
    color: $_rgbOsloGray;

    cursor: pointer;

    &:before{
        position: relative;
        top: 6px;
        content: '\0E012';
        font-family: $_ffPetsDeliIcons;
        font-size: 35px;
    }
}

.cart-item__quantity{
    margin: 0 0 25px;
}



.cart-item__price{
    padding: 10px 40px 10px 0;

    font-size: 32px;
    line-height: 1em;
    font-family: $_ffBrandonGrotesque-Bold;
    color: $_rgbOsloGray;
}

.cart-item__unit{
    font-size: 26px;
    line-height: 32px;
}