// Cart item
//
// Markup: molecules.cart-item.hbs
//
// Styleguide: molecules.cart-item

.cart-item{
    display: table-row;

    .stepper{
        margin: 0 0 0 43px;
    }
}

.cart-item__left, .cart-item__right{
    position: relative;
    display: table-cell;
    border-top: 1px solid $_rgbSilver;
    padding: 13px 0px;
    vertical-align: middle;
}

.cart-item__left{
    width: 99%;
    text-align: left;
}

.cart-item__left-inner{
    display: flex;
    align-items: center;
}

.cart-item__right{
    border-left: 1px solid $_rgbSilver;
    width: 1%;
    white-space: nowrap;
}

.cart-item__image{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);

    img{
        @include responsiveImage;
        max-width: 95px;
    }
}

.cart-item__details{
    padding: 21px 0;
    display: inline-block;
    margin-left: 155px;
    vertical-align: middle;

    text-align: left;
    white-space: normal;
}



.cart-item__title{
    margin-bottom: -10px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 24px;
    line-height: 28px;
    color: $_rgbApple;
    text-decoration: none;
}



.cart-item__content{
    font-family: $_ffBrandonGrotesque-Black;
}

.cart-item__weight{
    display: inline-block;

    font-size: 16px;
    line-height: 20px;
    color: $_rgbDoveGray;
}

.cart-item__flag{
    display: inline-block;
    margin-left: 15px;

    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: $_rgbChileanFire;
}



.cart-item__delete{
    flex-grow: 1;
    margin-right: 40px;
    display: inline-block;
    color: $_rgbOsloGray;
    vertical-align: middle;
    text-align: right;

    cursor: pointer;

    &:before{
        position: relative;
        top: 6px;
        content: '\0E012';
        font-family: $_ffPetsDeliIcons;
        font-size: 35px;
    }
}

.cart-item__quantity{
    margin: 0 0 25px;
}



.cart-item__price{
    display: inline-block;
    padding: 10px 20px 10px 0;
    width: 130px;
    text-align: right;

    font-size: 26px;
    line-height: 1em;
    font-family: $_ffBrandonGrotesque-Bold;
    color: $_rgbOsloGray;
}

.cart-item__unit{
    font-size: 26px;
    line-height: 32px;
}

@media (max-width: $_wLarge - 1px) {
    .cart-item{

        .stepper{
            width: 45px;
            height: 135px;
            margin: 0 30px;

            .stepper__label{
                display: none;
            }

            input{
                width: 45px;
                height: 135px;
                line-height: 135px;
                border-width: 2px;
            }

            .stepper__button--add{
                height: 45px;
                top: 0;
                border-width: 2px;
                border-bottom-width: 1px;
                border-top-right-radius: $_defaultBorderRadius;
                border-top-left-radius: $_defaultBorderRadius;
                border-bottom-right-radius: 0;
            }

            .stepper__button--remove{
                height: 45px;
                bottom: 0;
                border-width: 2px;
                border-top-width: 1px;
                border-top-left-radius: 0;
                border-bottom-right-radius: $_defaultBorderRadius;
                border-bottom-left-radius: $_defaultBorderRadius;
            }
        }
    }
}

@media (max-width: $_wMedium) {
    .cart-item__image{
        display: none;
    }

    .cart-item__details{
        margin: 0;
    }

    .cart-item__right{
        padding: 0 0 0 10px;
        white-space: normal;
    }

    .cart-item{
        .stepper{
            margin-bottom: 10px;
        }
    }

}