<div class="cart-item">
    <div class="cart-item__image">
        <img src="../images/cart/thumbnail.png">
    </div>
    <div class="cart-item__info">
        <div class="cart-item__breadcrumbs">
            <div class="cart-item__breadcrumb">Dogs</div>
            <div class="cart-item__breadcrumb">Packages</div>
        </div>
        <div class="cart-item__title">Starter Pack 10 Menu Boxes</div>
        <div class="cart-item__content">
            <div class="cart-item__weight">250g</div>
            <div class="cart-item__flag">Customized</div>
        </div>
    </div>
    <div class="cart-item__options">
        {{> atoms.button title="Edit"}}
        <div class="cart-item__delete"></div>
    </div>
    <div class="cart-item__quantity">
        <div class="cart-item__edit">
            <input class="js-stepper" type="number" value="1">
        </div>
    </div>
    <div class="cart-item__price"><span class="cart-item__unit">€</span>20.00</div>
</div>