/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

* {
    outline: none;
}

body {
    margin: $global-margin 0;
    overflow-x: hidden;
}

i {
    margin: 0 0.3rem;
}

.button.secondary,
.button.secondary:hover {
    color: $white;
}

.link {
    color: map-get($foundation-palette, primary);

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &:disabled,
    &:disabled:hover {
        color: $medium-gray;
        text-decoration: none;
        cursor: default;
    }
}

.__padding-top {
    padding-top: $global-padding;
}

.__no-margin-bottom {
    margin-bottom: 0;
}

.__secondary {
    color: $medium-gray;
}

.__success {
    color: map-get($foundation-palette, success);
}

a.disabled {
    pointer-events: none;
}
