/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

$__aside-width: 20rem;
$__aside-closing-bar-height: 3.5rem;



//1.Background
$bg-gray: #f5f5f5;
$bg-light-gray: #f6f6f6;
$btn-success: #db5e41;

//2.Shadows
$shadow-gray: #eaeaea;

//3.Fonts
$font-gray: #b2b2b2;
