/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

// foundation settings

@import '../../vendor/foundation/settings';

// base

@import 'settings';
@import 'functions';
@import 'base';
@import 'layout';
@import 'nojs';

// components

@import '../components/aside/aside';
@import '../components/carousel/carousel';
@import '../components/message/message';
@import '../components/suggestions/suggestions';
@import '../components/suggestions/suggestions-panel';
@import '../components/viewer/viewer';
@import '../components/active-filters/active-filters';
@import '../components/picture/picture';
@import '../components/add-to-wishlist/add-to-wishlist';
@import '../components/product-group/product-group';
