// Menu
//
// Markup: molecules.menu.hbs
//
// Styleguide: molecules.menu


.menu{
    position: fixed;
    z-index: 2;
    width: 100%;

    &.js-processed{
        transition: margin-top $_tMedium ease-in-out;
    }

    &.js-hor-trans{
        .menu__slider{
            transition: transform $_tMedium ease-in-out;
        }
    }

    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -45px;
        left: 0;
        height: 45px;
        width: 100%;
        background: $_rgbWhite;
    }
}

.menu__slider{
    width: 500%;
    position: relative;
    z-index: 1;
    @include clearfix;
}

.menu__inner{
    position: relative;
    z-index: 1;
    background: $_rgbWhite;
    width: 20%;
    float: left;

    // TODO: into variable + breakpoint
    max-height: calc(100vh - 103px);
    overflow-y: auto;
    overflow-x: hidden;
}

.menu--open{
    // #TODO:510 layer mixin
    &:after{
        content: '';
        z-index: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $_rgbBlack70;
    }
}

.menu__bottom{
    position: relative;
    z-index: 1;

    @include clearfix;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}