<div class="menu">

    {{> "atoms.close-button"}}

    <div class="menu__slider">

        <div class="menu__inner">
            {{> "atoms.menu-teaser-full" title="Hundeprodukte" button="Informationen zu Hundeprodukten" image="../images/menu/dog.png"}}
            <div class="menu__bottom">
                {{> "atoms.menu-teaser-small" title="Starter Paket" modifier_class="menu-teaser-small--half"}}
                {{> "atoms.menu-teaser-product"}}
                {{> "atoms.menu-teaser-small" title="Einzelne Menüs" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Beilagen" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Snacks" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Trockenfleisch" modifier_class="menu-teaser-small--quarter"}}
            </div>
        </div>

        <div class="menu__inner">
            {{> "atoms.menu-teaser-full" title="Katzenprodukte" button="Informationen zu Katzenprodukten" image="../images/menu/cat.jpg"}}
            <div class="menu__bottom">
                {{> "atoms.menu-teaser-small" title="Starter Paket" modifier_class="menu-teaser-small--half"}}
                {{> "atoms.menu-teaser-product"}}
                {{> "atoms.menu-teaser-small" title="Einzelne Menüs" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Beilagen" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Snacks" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Trockenfleisch" modifier_class="menu-teaser-small--quarter"}}
            </div>
        </div>

        <div class="menu__inner">
            {{> "atoms.menu-teaser-full" title="Warum?" button="Support Bereich" image="../images/menu/support_girl.jpg"}}
            <div class="menu__bottom">
                {{> "atoms.menu-teaser-small" title="How it works" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="FAQ" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="How to feed your pet" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Shipping" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Retail Stores" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Animal Moments" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Press and TV" modifier_class="menu-teaser-small--quarter"}}
                {{> "atoms.menu-teaser-small" title="Jobs" modifier_class="menu-teaser-small--quarter"}}
            </div>
        </div>

        <div class="menu__inner">
            {{> "atoms.menu-teaser-full" title="Fragen" button="Support Bereich" image="../images/menu/support_dog.jpg"}}

            <div class="menu__bottom">
                {{> "atoms.menu-teaser-small" title="Customer Service" modifier_class="menu-teaser-small--high menu-teaser-small--half"}}
                {{> "atoms.menu-teaser-small" title="Retail Store" modifier_class="menu-teaser-small--high menu-teaser-small--half"}}
            </div>
        </div>

        {{> "molecules.cart-layer"}}

    </div>
</div>