<div class="menu">
    {{> "atoms.close-button"}}
    <div class="menu__slider">
        <div class="menu__inner">
            <div class="menu__top">
                <div class="menu__top-inner" style="background-image: url(../images/menu/dog.png);">
                    <h2 class="page-title page-title--green">Dogs Products</h2>
                    <p class="subtitle">
                        Wisi eruditi id nam. Te pri oblique ullamcorper, magna persequeris has eu.
                    </p>
                </div>
            </div>
            <div class="menu__bottom">
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product.jpg);">Menu Boxes</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_2.jpg);">Packages</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_3.jpg);">Supplements</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_4.jpg);">Snacks</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_5.jpg);">Drymeat</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_2.jpg);">Packages</a>
            </div>
        </div>
        <div class="menu__inner">
            <div class="menu__top">
                <div class="menu__top-inner" style="background-image: url(../images/menu/dog.png);">
                    <h2 class="page-title page-title--green">Cats Products</h2>
                    <p class="subtitle">
                        Wisi eruditi id nam.
                    </p>
                </div>
            </div>
            <div class="menu__bottom">
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product.jpg);">Menu Boxes</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_2.jpg);">Packages</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_3.jpg);">Supplements</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_4.jpg);">Snacks</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_5.jpg);">Drymeat</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_2.jpg);">Packages</a>
            </div>
        </div>
        <div class="menu__inner">
            <div class="menu__top">
                <div class="menu__top-inner" style="background-image: url(../images/menu/dog.png);">
                    <h2 class="page-title page-title--green">Support</h2>
                    <p class="subtitle">
                        Wisi eruditi id nam. Te pri oblique ullamcorper, magna persequeris has eu.
                    </p>
                </div>
            </div>
        </div>
        <div class="menu__inner">
            <div class="menu__top">
                <div class="menu__top-inner" style="background-image: url(../images/menu/dog.png);">
                    <h2 class="page-title page-title--green">Contact</h2>
                    <p class="subtitle">
                        Wisi eruditi id nam. Te pri oblique ullamcorper, magna persequeris has eu.
                    </p>
                </div>
            </div>
            <div class="menu__bottom">
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product.jpg);">Menu Boxes</a>
                <a class="menu__bottom-box" href="#" style="background-image: url(../images/menu/product_2.jpg);">Packages</a>
            </div>
        </div>
        {{> "molecules.cart-layer"}}
    </div>
</div>