PROJECT NON STORE
{{ navBar('Options', '<ul class="nav navbar-nav"><li><a href="/cms/cms-page/add/" class="icon-plus">Add page</a></li></ul>') }}
{% set widget = widget('/cms/page-grid') %}
{{ panel('Cms pages', widget, {'noWrap': true}) }}
