/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

@keyframes fade {
  0% {
    opacity: 1;
    max-height: 8rem;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

.__message {
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
