<div class="product-accordion-item {{ item.modifier | default('')}}">
    <button class="product-accordion-item__header">
        <div class="product-accordion-item__limit">
            <div class="product-accordion-item__inner">
                <h2 class="product-accordion-item__title">
                    {{ item.title }}
                    <div class="product-accordion-item__toggle">
                        <div class="product-accordion-item__plus">+</div>
                        <div class="product-accordion-item__minus">–</div>
                    </div>
                </h2>
            </div>
        </div>
    </button>
    <div class="product-accordion-item__content">
        <div class="product-accordion-item__limit">
            <div class="product-accordion-item__inner">
                {% markdown %}
                    {{ item.content | nl2br }}
                {% endmarkdown %}
            </div>
        </div>
    </div>
</div>