<div class="product-accordion">
    {% for item in product.accordion %}
        {% include '@application/layout/content/product/details/product-accordion-item.twig' with {
            item: {
                title: item.key
            }
        } %}
    {% endfor %}
</div>