{% set initial = (pricings | first) %}

<div class="product-intro">
    <h1 class="product-info__title">{{ product.abstract_name }}</h1>
    <div class="product-info__subtitle">
        <span class="js-product-weight">{{ initial.weight }}</span>{{ ('unit.' ~ initial.unit | trim ) | trans }}</div>

    {% if product.short_description.markdown is defined %}
        <div class="product-info__description">
            {% markdown %}
                {{ product.short_description.markdown }}
            {% endmarkdown %}
        </div>
    {% endif %}
    <!-- <div class="product-info__additional">#(Fütterungsempfehlung: 2-3% des Körpergewichts pro Tag.)</div> -->
</div>