{% set data = {
    customize: 'Falls Ihr Tier einige Zutaten schlecht verträgt, können Sie die Auswahl hier anpassen.'
} %}

<div class="product-content">
    <h1 class="product-content__title">Inhalt</h1>

    {% if product.description.markdown is defined %}
        <div class="product-content__description">
            {% markdown %}
                {{ product.description.markdown }}
            {% endmarkdown %}
        </div>
    {% endif %}

    {% if options is not empty %}
        <div class="product-content__customize">
            {{ data.customize }}
            <button type="button" class="product-content__button button js-product-customize">Inhalt anpassen</button>
        </div>
    {% endif %}
</div>