<div class="product-intro">
    <h1 class="product-info__title">{{ product.abstract_name }}</h1>
    <div class="product-info__subtitle">#250gr</div>
    <div class="product-info__description">{{ product.short_description.markdown }}</div>
    <div class="product-info__additional">#(Fütterungsempfehlung: 2-3% des Körpergewichts pro Tag.)</div>
</div>
