{% set data = {
    description: '#Die verschiedenen Menüs enthalten Rind, Känguru, Huhn, Pute oder Rotbarschfilet. Als Beilagen sind vorgekochter und pürierter Brokkoli, Karotten, Kürbis, Kartoffeln oder gekochter Reis enthalten.
    Als Beilagen sind vorgekochter und pürierter Brokkoli, Karotten, Kürbis, Kartoffeln oder gekochter Reis enthalten. Die Obstkomponenten bestehen aus pürierter Mango oder pürierter Banane.',
    customize: 'Falls Ihr Hund einige Zutaten schlecht verträgt, können Sie die Auswahl hier anpassen'
} %}

<div class="product-content">
    <h1 class="product-content__title">Inhalt</h1>
    <div class="product-content__description">{{ data.description | nl2br}}</div>

    <!-- TODO: condition -->
    <button type="button" class="product-content__customize button js-product-customize">Inhalt anpassen</button>


    <div class="product-content__description">{{ data.customize }}</div>
</div>