<h5>{{ "customer.profile.delete" | trans }}</h5>
<hr>
<div class="row">
    <div class="small-12 columns">
        <label>{{ "customer.profile.delete.description" | trans }}</label>
    </div>
</div>

<div class="row align-right">
    <div class="small-12 medium-6 large-4 columns align-bottom">
        <a href="{{ url('customer/delete') }}" class="button alert expanded">{{ "customer.profile.delete" | trans }}</a>
    </div>
</div>

