// Footer
//
// Markup: organisms.footer.hbs
//
// Styleguide: organisms.footer

// TODO: cleanup
.footer{
    padding: 57px 0 32px;
    background: $_rgbWhite;
}

.footer__inner{
    @include pageWidth;
    text-align: center;
}

.footer__row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    @include clearfix;
    clear: both;

    h2{
        color: $_rgbApple;
        font-family: $_ffBrandonGrotesque-Black;
        font-size: 22px;
        line-height: 31px;
    }

    a{
        display: inline-block;
        margin-top: 10px;

        color: $_rgbSilverChalice;
        text-decoration: none;
        font-size: 18px;
        line-height: 26px;
    }
}

.footer__column{
    order: 1;
    width: 100%;
    margin: 0 auto 60px;
    float: left;
    text-align: left;
    max-width: 310px;
}

.footer__column--social{
    order: 0;
}

.footer__facebook{
    padding-bottom: 40px;

    a{
        color: transparent;
    }
}

.footer__logo{
    img{
        @include responsiveImage;
        max-width: 93px;
        display: inline-block;
    }
}

.footer__copyrights{
    margin-top: 10px;
}

.footer__copyright{
    color: $_rgbSilverChalice;
    font-size: $_fsTiny;
    font-family: $_ffBrandonGrotesque-Bold;

    & + .footer__copyright:before{
        content: '|';
        position: relative;
        top: -2px;
        display: inline-block;
        margin: 0 5px 0 3px;
    }
}

.footer__social{
    height: 70px;
    width: 70px;
    margin: 10px 5px 0;
    color: $_rgbSilverChalice;

    cursor: pointer;

    &:before{
        width: 100%;
    }
}

.footer__socials{
    white-space: nowrap;
}

.footer__social--facebook{
    @include pdif('facebook', 38px, 0);
}

.footer__social--twitter{
    @include pdif('twitter', 30px, 0);
}

.footer__social--instagram{
    @include pdif('instagram', 32px, 0);
}

.footer__social--youtube{
    @include pdif('youtube', 36px, 0);
}



.footer__copyright--upper{
    text-transform: uppercase;
}


@media (min-width: $_wMedium) {
    .footer__row{
        display: block;
    }

    .footer__column{
        width: 50%;
        max-width: none;
        text-align: center;
    }


    .footer__column--social{
        order: 1;
    }

    .footer__social{
        width: 44px;
        height: 44px;

        &:before{
            text-align: center;
        }
    }

    .footer__social--facebook{
        &:before{
            font-size: 23px;
        }
    }

    .footer__social--twitter{
        &:before{
            font-size: 21px;
        }
    }

    .footer__social--instagram{
        &:before{
            font-size: 20px;
        }
    }

    .footer__social--youtube{
        &:before{
            font-size: 22px;
        }
    }
}

@media (min-width: 850px) {
    .footer__column{
        width: 25%;
    }
}