{{> "organisms.communication"}}
{{> "atoms.payment"}}
{{> "organisms.newsletter"}}
<footer class="footer">
    <div class="footer__inner">
        <nav class="footer__row row">
            <div class="column small-3">
                <h2>Produkte</h2>
                <ul>
                    <li><a href="#">Hunde</a></li>
                    <li><a href="#">Katzen</a></li>
                </ul>
            </div>
            <div class="column small-3">
                <h2>Hilfe</h2>
                <ul>
                    <li><a href="#">Häufige Fragen</a></li>
                    <li><a href="#">Versand</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="column small-3">
                <h2>Über uns</h2>
                <ul>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Presse</a></li>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">AGB & Widerruf</a></li>
                </ul>
            </div>
            <div class="column small-3">
                <h2>Follow Us on</h2>
                <span class="footer__social footer__social--facebook"></span>
                <span class="footer__social footer__social--twitter"></span>
                <span class="footer__social footer__social--instagram"></span>
                <span class="footer__social footer__social--youtube"></span>
            </div>
        </nav>
        <div class="footer__row footer__row--top row">
            <div class="footer__social column small-5"></div>
            <div class="footer__logo column small-12 large-2">
                <img src="../images/logo/logo_header.png" alt="Pets Deli Logo" />
            </div>
            <div class="footer__payment column small-5"></div>
        </div>
        <div class="footer__copyrights">
            <span class="footer__copyright footer__copyright--upper">2015 Petsdeli</span>
            <span class="footer__copyright">Copyright</span>
        </div>
    </div>
</footer>