// teaser
//
// Markup: organisms.teaser.hbs
//
// Styleguide: organisms.teaser


.teaser{
    position: relative;
    height: 580px;
    width: 100%;
    float: left;
}

.teaser__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
}

.teaser__center{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate3d(0, -50%, 0);

    text-align: center;
    color: #FFF;
}

.teaser__content{
    padding-top: 60px;
    @include limitWidth();

    .button{
        margin-left: 11px;
        margin-right: 11px;
    }
}

.teaser__headline{
    margin-bottom: 60px;

    font-size: $_fsLarge;
    line-height: $_lhLarge;
    font-family: $_ffBrandonGrotesque-Black;
    text-align: center;
    color: $_rgbWhite;
}


@media (min-width: $_wMedium) {
    .teaser{
        width: 50%;
    }
}
