<div class="teaser">
    <div class="teaser__background" style="background: url({{image}})">
        <div class="teaser__center">
            <div class="teaser__content">
                <h2 class="teaser__headline">{{title}}</h2>
                <button class="button button--ghost button--white" type="button" name="button">Jetzt entdecken</button>
            </div>
        </div>
    </div>
</div>