// Product Card (wide)
//
// Markup: molecules.product-card-wide.hbs
//
// Styleguide: molecules.product-card-wide


.product-card-wide{
    padding: 8px 4px;
}

.product-card-wide__inner{
    position: relative;
    padding: 40px 70px 40px 0;
    @include cardShadow;
    @include clearfix;
    background: $_rgbWhite;
}


.product-card-wide__label{
    position: absolute;
    top: -10px;
    left: 0;
    padding: 9px 12px;
    width: 100%;
    max-width: 160px;
    background: $_rgbApple;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
    font-family: $_ffBrandonGrotesque-Bold;
    color: $_rgbWhite;
}

.product-card-wide__image{
    position: relative;
    float: left;
    width: 50%;

    img{
        @include responsiveImage;
        max-width: 300px;
    }
}

.product-card-wide__info{
    float: left;
    width: 50%;
    padding-left: ($_xSpacing / 2);
}

.product-card-wide__title{
    margin-bottom: 35px;

    text-align: right;
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 26px;
    line-height: 28px;
    color: $_rgbApple;
}


.product-card-wide__price-total{
    text-align: right;
    font-size: 28px;
    line-height: 33px;
    font-family: $_ffHelveticaNeue;
    color: $_rgbOsloGray;
}

.product-card-wide__price-relative{
    margin-bottom: 25px;

    font-size: $_fsSmall;
    text-align: right;
    font-family: $_ffHelveticaNeue;
    color: $_rgbSilverChalices2
}

.product-card-wide__add{
    float: right;
    padding-left: 22px;
    padding-right: 22px;
}