{% extends "@application/layout/layout.twig" %}

{% block content %}
    <article class="product product--justice-league">
        <section class="product__overview">
            <h1 class="product__name">Danke</h1>
            <h2 class="product__category">Dies ist ein DemoShop</h2>

            <p>Daher wird natürlich nichts verschickt!</p>
        </section>
        <section class="product__main-image">
            <img src="/images/yay.png" alt="" style="width: 100%;"/>
        </section>
    </article>
    {#<a href="https://projects.invisionapp.com/d/main#/console/2544044/70211543/preview">Have a look on invisionapp.com</a>#}
{% endblock %}
