{% extends "@application/layout/layout.twig" %}
{% block content %}

    {% include "@application/layout/header.twig" %}
    <div class="newsletter_message">
    {% for unsubscriptionResult in  unsubscriptionResults %}
        {% if unsubscriptionResult.isSuccess == true %}
            <div class="newsletter-success-headline">
                {{ 'newsletter.' ~ unsubscriptionResult.name ~ '.unsubscription.success.headline' | trans }}
            </div>
            <div class="newsletter-message-details">
                {{ 'newsletter.' ~ unsubscriptionResult.name ~ '.unsubscription.success.message' | trans }}
            </div>
        {% else %}
            <div class="newsletter-error-headline">
                {{ 'newsletter.' ~ unsubscriptionResult.name ~ '.unsubscription.error.headline' | trans }}
            </div>
            <div class="newsletter-message-details">
                {{ unsubscriptionResult.errorMessage | trans }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    {% include "@application/layout/footer.twig" %}
{% endblock %}
