<div class="checkout__step">

  <div class="checkout__step-headline">Verification and purchase confirmation</div>
  <div class="checkout__step-progress">Step 3/3</div>

  <div class="checkout__edit">
    <div class="checkout__cart">
      {{> "molecules.cart-item"}}
    </div>

    {{> "atoms.button" modifier_class="button--cta" title="Pay now"}}
  </div>

</div>
