.gallery-wrapper {
  .main-gallery {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 35px;
    ul {
      li {
        float: left;
        width: 100%;
        position: relative;
        display: none;
        &:first-child{
          display: block;
        }
        &:after {
          width: 18px;
          height: 18px;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          background: url(/images/bg-images/bg-enlarge.gif) no-repeat;
          cursor: pointer;
        }
        img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
        }
      }
    }
  }
  .gallery-description {
    color: $cGrey4;
    font-size: 10px;
    line-height: 1.2;
    margin: 0 0 5px;
    span {
      color: $cGrey5;
    }
  }
  .gallery-thumbnails {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 5px;
    ul {
      width: 9999px;
      float: left;
      li {
        float: left;
        margin: 0 3px;
        position: relative;
        border-top: 1px solid transparent;
        &.active,
        &:hover {
          border-top-color: $cBlue2;
          &:after,
          &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-bottom-color: $cWhite;
            border-width: 5px;
            margin-left: -5px;
          }
          &:before {
            border-bottom-color: $cBlue2;
            border-width: 6px;
            margin-left: -6px;
          }
        }
        a {
          display: block;
          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .gallery-wrapper {
    position: relative;
    .main-gallery {
      margin: 0;
      ul {
        li {
          &:after {
            display: none;
          }
        }
      }
    }
    .gallery-description {
      display: none;
    }
    .gallery-thumbnails {
      position: absolute;
      bottom: 14px;
      right: 11px;
      width: 100%;
      ul {
        width: auto;
        float: right;
        li {
          width: 11px;
          height: 11px;
          border: 0;
          &:after,
          &:before {
            display: none;
          }
          a {
            border: 1px solid $cBlue2;
            text-indent: -9999px;
            border-radius: 50%;
            display: block;
            height: 100%;
            box-sizing: border-box;
            img {
              display: none;
            }
          }
          &.active {
            a {
              background: $cBlue2;
            }
          }
        }
      }
    }
  }
}
