{% extends "@application/layout/layout.twig" %}

{% block content %}

    {% include "@application/layout/header.twig" %}

    {% if error  %}
        <b>{{ error }}</b>
    {% endif %}


    <div class="login-slider">

        <div class="login-slider__navigations">
            <div class="login-slider__inner">

                <div class="login-slider__navigation">Login</div>

            </div>
        </div>


        <div class="login-slider__contents">
            <div class="login-slider__inner">

                <div class="login-slider__content">
                    <form class="login-slider__form" action="{{ path('login_check') }}" method="post">

                        {% include   '@application/layout/common/forms/input.twig' with {
                            label: 'Ihre E-Mail Adresse',
                            name: '_username'
                        } %}

                        {% include   '@application/layout/common/forms/input-password.twig' with {
                            label: 'Ihr Passwort',
                            type: 'password',
                            name: '_password',
                            forgot: true
                        } %}

                       {% include '@application/layout/common/forms/button.twig' with {
                           title: 'Einloggen',
                           modifier: 'cta',
                           type: 'submit'
                       } %}

                    </form>
                </div>

            </div>
        </div>

    </div>

    {% include "@application/layout/footer.twig" %}

{% endblock %}

