{% extends "@application/layout/full.twig" %}

{% block content %}
    {% include "@application/partials/navbar.twig" with {'categories': categories } only %}

    {{ form_start(form, {attr: {class: 'customerLogin', novalidate: 'novalidate'}, action: path('login_check')}) }}
        {{ form_errors(form) }}
        <div class="row">
            <label>Username</label>
            <input type="text" name="_username" />
        </div>
        <div class="row">
            <label>Password</label>
            <input type="password" name="_password" />
        </div>
        <button type="submit">login</button>
    {{ form_end(form, {render_rest:false}) }}

{% endblock %}
