{% extends "@customer/security/customer.twig" %}

{% block modal %}
    <div class="modal">
        <h2>{{ 'customer.password.mail.sent.headline'|trans }}</h2>
        {% autoescape false %}
        <p>{{ 'customer.password.mail.sent.caption'|trans }}</p>
        {% endautoescape %}
        <button class="ok fullWidth" onclick="$('.modal').fadeOut(500).siblings().animate({opacity:1}, 500);">{{ 'modal.close'|trans }}</button>
    </div>
    <script>
        $(function() {
            $('.modal').siblings().css({opacity:0.3});
        });
    </script>
{% endblock %}