{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <link rel="stylesheet" href="/styles/customer.css" />

    <section id="customer" class="consumeHeight">
        <p>We send you an email with further instruction.</p>
    </section>
{% endblock %}
