{% extends "@customer/security/customer.twig" %}

{% block modal %}
    <div class="modal">
        <h2>{{ 'customer.password.mail.sent.headline'|trans }}</h2>
        <i class="fa" style="float:left; font-size:3em; margin:14px 20px 14px 0; color:#a8cf6a;">&#61528;</i>
        <p>{{ 'customer.password.mail.sent.caption'|trans }}</p>
        <button class="mod:green mod:thin mod:block" onclick="$('.modal').fadeOut(500).siblings().animate({opacity:1}, 500);">{{ 'modal.close'|trans }}</button>
    </div>
    <script>
        $(function() {
            $('.modal').siblings().css({opacity:0.3});
        });
    </script>
{% endblock %}