{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <h1>Register</h1>
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    {{ form_end(registerForm) }}
{% endblock %}