<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{{ title | trans }}{% endblock %}</title>

    {% block head_css %}
        <style>

        </style>
    {% endblock %}

</head>
<body class="registration">

<div class="row">
    Lorem ipsum
</div>

</body>

</html>
