// Checkbox
//
// Markup: atoms.checkbox.hbs
//
// Styleguide: atoms.checkbox
//
// Weight: -1


.checkbox{
    display: inline-block;
    padding: 5px;

    & + .checkbox{
        margin-left: 20px;
    }
}

.checkbox--large{
    .checkbox__label{
        padding-left: 50px;

        font-family: $_ffBrandonGrotesque-Regular;
        font-size: 14px;
        text-transform: none;
        color: $_rgbPaleSky;

        &:before, &:after{
            top: 5px;
            margin-top: 0;
        }
    }
}

.checkbox--right{
    .checkbox__label{
        padding-left: 0;
        padding-right: 50px;
        text-align: right;

        &:before, &:after{
            left: auto;
            right: 0;
        }
    }
}

.checkbox__input{
    position: absolute;
    opacity: 0;
    left: -1000em;

    &:checked + .checkbox__label{
        &:after{
            color: $_rgbBlack;
        }
    }
}

.checkbox--focussed{
    .checkbox__label{
        &:before{
            border-color: $_rgbTundora;
        }
    }
}

.checkbox__label{
    display: block;
    position: relative;
    padding-left: 40px;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 13px;
    color: $_rgbOsloGray;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;

    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -16px;
        content: '';
        width: 31px;
        height: 31px;
        display: block;
        border: 2px solid $_rgbAlto;
        border-radius: $_defaultBorderRadius;
        background: $_rgbWildSand;

        transition: border-color $_tShort ease-in-out;
    }

    &:after{
        position: absolute;
        left: 0;
        top: 50%;
        width: 31px;
        line-height: 31px;
        margin-top: -16px;
        content: '\E00F';
        font-family: $_ffPetsDeliIcons;
        color: transparent;
        font-size: 11px;
        text-align: center;

        transition: color $_tShort ease-in-out;
    }
}