// Press
//
// Markup: atoms.press.hbs
//
// Styleguide: atoms.press

.press{
    width: 100%;
    padding-bottom: 60px;
    text-align: center;
    background: $_rgbWhite;
}

.press__inner{
    @include pageWidth;
    display: flex;
    flex-wrap: wrap;
}

.press__item{
    display: flex;
    margin: 0 10px;
    height: 70px;
    color: $_rgbSilverChalice;
    align-content: center;
    align-items: center;
    flex-grow: 1;
}

.press__icon{
    width: 100%;
    text-align: center;

    svg{
        display: inline-block;

        .icon__background{
            fill: $_rgbSilverChalice;
        }
    }
}
