<div class="press">
    <div class="press__inner">
        <div class="press__item press__item--zdf"></div>
        <div class="press__item press__item--spiegel"></div>
        <div class="press__item press__item--bild"></div>
        <div class="press__item press__item--newyorktimes"></div>
        <div class="press__item press__item--bunte"></div>
        <div class="press__item press__item--ard"></div>
    </div>
</div>