<div class="filtered-products">
    <div class="filtered-products__filters">
        <div class="filtered-products__filter filtered-products__filter--active">All packages</div>
        <div class="filtered-products__filter">Subcategories</div>
        <div class="filtered-products__filter">Subcategories</div>
    </div>
    <div class="filtered-products__cards">
        {{> "molecules.product-card"}}
        {{> "molecules.product-card"}}
        {{> "molecules.product-card"}}
        {{> "molecules.product-card"}}
    </div>
</div>