<div class="product-label-group">
    {% for productLabelTransfer in productLabelTransferCollection %}
        {% include '@ProductLabel/partials/label.twig' with {
            productLabelTransfer: productLabelTransfer
        } %}
    {% endfor %}
</div>
