{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <div class="columns">
        <div class="callout">
            <h4>{{ spyCmsBlockPlaceholder('title') | raw }}</h4>
            {{ spyCmsBlockPlaceholder('description') | raw }}
        </div>
    </div>
{% endblock %}

