// Product content
//
// Markup: atoms.product-content.hbs
//
// Styleguide: atoms.product-content

.product-content{
    padding: 30px 0 0;
    border-bottom: 1px solid $_rgbSilver;
}

.product-content__title{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 22px;
    color: $_rgbApple;
}

.product-content__description{
    margin-bottom: 30px;
    font-size: 16px;
    color: $_rgbDoveGray;
}

.product-content__label{
    font-family: $_ffBrandonGrotesque-Bold;
}

.product-content__customize{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}