// Product content
//
// Markup: atoms.product-content.hbs
//
// Styleguide: atoms.product-content

.product-content{
    overflow: hidden;
    padding: 30px 0;
}

.product-content__title{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 22px;
    color: $_rgbApple;
}

.product-content__description,
.product-content__customize{
    position: relative;
    margin-bottom: 30px;

    font-size: 22px;
    color: $_rgbDoveGray;
}

.product-content__description{
    @include wysiwyg;
}

.product-content__label{
    font-family: $_ffBrandonGrotesque-Bold;
}

.product-content__button{
    padding-left: 38px;
    padding-right: 38px;

    display: block;
    margin: 19px 0 0 0;
}



@media (min-width: $_wLarge){
    .product-content__description,
    .product-content__customize{
        font-size: 16px;
    }
}


@media (min-width: 1250px) {

    .product-content__customize{
        padding-right: 204px;
    }

    .product-content__button{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
}