<div class="product-content">
    <h1 class="product-content__title">Inhalt</h1>
    <div class="product-content__description">Die verschiedenen Menüs enthalten Rind, Känguru, Huhn, Pute oder Rotbarschfilet. Als Beilagen sind vorgekochter und pürierter Brokkoli, Karotten, Kürbis, Kartoffeln oder gekochter Reis enthalten. <br> Als Beilagen sind vorgekochter und pürierter Brokkoli, Karotten, Kürbis, Kartoffeln oder gekochter Reis enthalten. Die Obstkomponenten bestehen aus pürierter Mango oder pürierter Banane.</div>
    <div class="product-content__customize button js-product-customize">Customize package</div>
    <div class="product-content__description">In case your dog is allergic you can customize the ingredients.</div>
</div>