<!DOCTYPE html>
<html lang="{{ app.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{{ page_title | default('Spryker Demoshop') | trans }}{% endblock %}</title>
    <meta name="description" content="{{ page_description | default('') | trans }}" />
    <meta name="keywords" content="{{ page_keywords | default('') | trans }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block page_meta %}{% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/demoshop/css/yves-demoshop-main.css" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include "@application/layout/partials/header.twig" with {'hideUserMenu': hideUserMenu|default(false)} %}

{% include "@application/layout/partials/flash-messages.twig" %}

{% block content %}{% endblock %}

{% include "@application/layout/partials/footer.twig" %}
{% include "@application/layout/partials/overlay.twig" %}

<script src="/assets/demoshop/js/yves-demoshop-main.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
