// Product Card
//
// Markup: molecules.product-card.hbs
//
// Styleguide: molecules.product-card

.product-card{
    position: relative;
    padding: 11px;

    &:after{
        content: '';
        position: absolute;
        top: 11px;
        left: 11px;
        z-index: -1;
        width: calc(100% - 22px);
        height: calc(100% - 22px);
        background: $_rgbWhite;
        @include cardShadow;
    }
}

.product-card__inner{
    text-decoration: none;
}

.product-card__image{
    position: relative;
    padding-bottom: 100%;

    img{
        position: absolute;
        @include responsiveImage;
    }
}

.product-card__label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 12px;
    background: $_rgbApple;

    font-family: $_ffBrandonGrotesque-Bold;
    color: $_rgbWhite;
    font-size: $_fsTiny;
    text-transform: uppercase;
}

.product-card__content{
    padding: 20px 30px 30px;
}

.product-card__infos{
    margin-bottom: 100px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 24px;
    color: $_rgbApple;
    line-height: 34px;
}

.product-card__footer{
    @include clearfix;
    position: absolute;
    width: calc(100% - 82px);
    bottom: 30px;
    left: 41px;
}


.product-card__pricing{
    display: inline-block;
    float: left;
}

.product-card__detail{
    width: 50%;
    float: right;
    text-align: right;
}

.product-card__pricing{

}

.product-card__price-total{
    font-family: $_ffHelveticaNeue;
    color: $_rgbOsloGray;
    font-size: $_fsDefault;
}

.product-card__price-relative{
    color: $_rgbSilverChalice;
    font-size: $_fsSmall;
}

.product-card__detail{
    .button{
        padding: 14px 10px 12px;
    }
}

