<div class="cart-layer">
    <div class="cart-layer__inner">

        {# populated by ajax request #}

    </div>
</div>

<script type="text/javascript">
    translator.addTranslation('error.cart-total-is-too-low', '{{ 'error.cart-total-is-too-low' | trans }}');
</script>
