{%
    set data = {
        menus: [
            {
                main: {
                    headline: 'Hundeprodukte',
                    image: '/images/menu/dog.png',
                    button: {
                        title: 'Informationen zu Hundeprodukten',
                        url: '/hunde-nahrung/'
                    }
                },
                product: {
                    url: '/hunde-nahrung/nahrungsergaenzung-fuer-hunde/starterpaket-hund-163.html',
                    image: '/images/menu/teaser_product.jpg',
                    label: 'Neu bei PETS DELI',
                    title: 'Starter Paket',
                    description: 'Probieren sie unser Starter-Paket',
                    price: '2000'
                },
                teasers: [
                    {
                        type: 'small',
                        modifier: 'half',
                        title: 'Starter Paket',
                        url: '/hunde-nahrung/'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Einzelne Menüs',
                        url: '/hunde-nahrung/hochwertige-hundefutter-menues.html'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Beilagen',
                        url: '/hunde-nahrung/nahrungsergaenzung-fuer-hunde.html'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Snacks',
                        url: '/hunde-nahrung/hundekekse.html'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Trockenfleisch',
                        url: '/hunde-nahrung/trockenfleisch-fuer-hunde.html'
                    }
                ]
            },

            {
                main: {
                    headline: 'Katzenprodukte',
                    image: '/images/menu/cat.jpg',
                    button: {
                        title: 'Informationen zu Katzenprodukten',
                        url: '/katzen-nahrung/'
                    }
                },
                product: {
                    url: '/katzen-nahrung/supplements-fuer-katzen/starterpaket-katze.html',
                    image: '/images/menu/teaser_product.jpg',
                    label: 'Neu bei PETS DELI',
                    title: 'Starter Paket',
                    description: 'Probieren sie unser Starter-Paket',
                    price: '1500'
                },
                teasers: [
                    {
                        type: 'small',
                        modifier: 'half',
                        title: 'Starter Paket',
                        url: '/katzen-nahrung/'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Einzelne Menüs',
                        url: '/katzen-nahrung/hochwertige-katzenfutter-menues.html'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Beilagen',
                        url: '/katzen-nahrung/supplements-fuer-katzen.html'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Snacks',
                        url: '/katzen-nahrung/katzensnacks.html'
                    },
                    {
                        type: 'small',
                        modifier: 'quarter',
                        title: 'Trockenfleisch',
                        url: '/katzen-nahrung/trockenfleisch-fuer-katzen.html'
                    }
                ]
            },
        ]
    }
%}


{#
{
    main: {
        headline: 'Warum?',
        image: '/images/menu/support_girl.jpg',
        button: {
            title: 'Informationen zu Hundeprodukten',
            url: '/hunde-nahrung/'
        }
    },
    teasers: [
        {
            type: 'small',
            modifier: 'quarter',
            title: 'How it works',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'quarter',
            title: 'FAQ',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'quarter',
            title: 'How to feed your pet',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'quarter',
            title: 'Shipping',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'quarter',
            title: 'Retail Stores',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'quarter',
            title: 'Animal Moments',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'quarter',
            title: 'Press and TV',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'quarter',
            title: 'Jobs',
            url: '/hunde-nahrung/'
        }
    ]
},

{
    main: {
        headline: 'Fragen',
        image: '/images/menu/support_dog.jpg',
        button: {
            title: 'Support Bereich',
            url: '/hunde-nahrung/'
        }
    },
    teasers: [
        {
            type: 'small',
            modifier: 'half',
            title: 'Customer service',
            url: '/hunde-nahrung/'
        },
        {
            type: 'small',
            modifier: 'half',
            title: 'Retail store',
            url: '/hunde-nahrung/'
        }
    ]
}
#}


<div class="menu">
    {% include '@application/layout/common/close-button.twig' %}

    <div class="menu__slider">

        {% for menu in data.menus %}
            <div class="menu__inner">
                {% include '@application/layout/header/menu-teaser-full.twig' with {
                    headline: menu.main.headline,
                    image: menu.main.image,
                    button: menu.main.button.title,
                    url: menu.main.button.url
                } %}

                <div class="menu__bottom">
                    {% if menu.product is defined %}
                        {% include '@application/layout/header/menu-teaser-product.twig' with { product: menu.product } %}
                    {%  endif %}

                    {% for teaser in menu.teasers %}
                        {% include '@application/layout/header/menu-teaser-' ~ teaser.type ~ '.twig' with {
                            modifier: teaser.modifier,
                            title: teaser.title,
                            url: teaser.url
                        } %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {% if app.request.attributes.get('_route') != 'checkout' %}
            {% include '@application/layout/header/cart-layer.twig' %}
        {% endif %}

    </div>
</div>
