.header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: $step*.5;
  background-color: $light-color;
  color: $dark-color;

  @include fixed-nav-shadow();

  @include bounce-transition(.3s, padding);

  .overlay-visible & {
    position: static;
  }

  .scrolled & {
    padding: 0 $step*.5;
  }

  .wrapper {
    position: relative;
  }

  @include media-query('medium') {
    height: $step*2.5;
    padding: $step*.5;

    // the dynamic elements (login button, search) are aligned right
    text-align: right;
    padding-right: $step*3.5;
  }

  button {
    height: 100%;
    padding: 2px $step*.5 0;
  }

  & > button, & > div:not(.shopping-cart) {
    margin-right: $step*.5;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .shop-logo {
    display: block;
    position: absolute;
    left: $step;
    top: 20px;
    height: $step*.75;
    width: 200px;
    padding: 0;
    color: transparent !important;

    background: url('/images/logo.png') no-repeat;
    background-size: contain;

    @include media-query('medium') {
      height: $step;
    }
  }

  .main-nav {
    display: none;
  }

  .header__search, .header__user {
    display: inline-block;
    height: 100%;
    text-align: right;
  }

}
