//style of category

div#left-col{
  float:left;
  width:45%;

}
div#category-container:after {
  display: block;
  content:"";
  clear:both;
}
div#right-col{
  height:100%;
  min-height:100%;
  float:right;
  width:50%;
}

.k-button.icon-trash {
  font-family:FontAwesome;
}
.k-button.icon-trash:hover {
  text-decoration:none;
}
.k-button.icon-trash .k-icon {
  display:none;
}

.k-button.icon-pencil {
  font-family:FontAwesome;
}
.k-button.icon-pencil:hover {
  text-decoration:none;
}
.k-button.icon-pencil .k-icon {
  display:none;
}

i.icon-eye-open:hover{
  text-decoration: none;
}