//style of category

div#left-col{
  float:left;
  width:45%;

}
div#category-container:after {
  display: block;
  content:"";
  clear:both;
}
div#products-container{
  height:100%;
  min-height:100%;
  float:right;
  width:50%;
}

