.zed\:header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1024;

  color: #ddd;

  background: #333;
  background-image: linear-gradient( 0deg, #3f4345, #373a3b 98%, #363737 );

  height: 40px;

  padding: 0 20px;

  text-shadow: 2px 2px 3px #1c1c1c;
}

@import 'header__welcome';
@import 'header__nav';
@import 'header__language-picker';
@import 'header__environment';
