.zed\:header__welcome {
  font-size: 11px;
  font-weight: 400;

  float: right;
  margin: 0;
  line-height: 15px;
  padding: 5px 0 5px 10px;

  b {
    display: block;
    font-weight: 400;
    color: #fff;
  }
}
