.zed\:header__environment {
  line-height: 40px;
  float: right;
  position: relative;

  margin-right: 10px;

  padding: 0 10px;

  &:before {
    @extend %header-menu-shadow-pseudo;
    right: 0;
  }

  &:after {
    left: 100%;
    @extend %header-menu-highlight-pseudo;
  }

  > i {
    font-size: 16px;
    margin-right: 5px;
  }

  > dl {
    display: none;

    position: absolute;
    top: 100%;
    right: 0;

    margin: 0;
    padding: 0 10px;

    background: #ccc;
    color: #222;

    text-shadow: none;
    white-space: nowrap;

    border: 2px solid #363737;
    border-top: 0;

    box-shadow: 0 5px 10px -5px #000;

    dt,
    dd {
      display: inline-block;
      vertical-align: middle;
    }

    dt {
      font-size: 12px;
      font-weight: 400;
      margin-right: 5px;
      color: #666;
    }

    dd + dt {
      &:before {
        content: ' - ';
        margin: 0 10px;
      }
    }
  }

  &:hover {
    > span {
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -5px;

        border:5px solid transparent;
        border-bottom-color: #ccc;
      }
    }

    > dl {
      display: block;
    }

  }
}
