.zed\:header__nav {
  line-height: 40px;
  margin-left: 20px;
  float: left;

  a {
    padding: 0 13px;
    display: block;
    font-size: 13px;

    color: #eee;

    &:hover {
      color: #fff;
    }
  }

  ul {
    padding: 0;
  }

  li {
    position: relative;

    &:hover {
      background: #202020;

      > ul {
        > li {
          display: block;
        }
      }
    }
  }

  > ul {
    position: relative;
    list-style: none;

    &:before {
      @extend %header-menu-shadow-pseudo;
      right: 100%;
    }

    &:after {
      left: 100%;
      @extend %header-menu-highlight-pseudo;
    }

    > li {
      float: left;

      &:hover {
        background-image: linear-gradient(
          #2d3032,
          #35393a 85%,
          #2b2f31
        );
      }

      &:hover,
      &.active {
        > a {
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background: #b23f23;
          }
        }
      }

      &.active {
        > a {
          &:before {
            content: '';
            top: 0;
            left: 50%;
            border: 6px solid transparent;
            border-top-color: #fff;
            border-bottom: 0;
            margin-left: -6px;
            position: absolute;
          }
        }
      }

      &:before {
        left: 0;
        @extend %header-menu-highlight-pseudo;
      }

      &:after {
        right: 0;
        @extend %header-menu-shadow-pseudo;
      }

      li {
        a {
          padding: 0 20px;
        }

        ul {
          top: 0;
          left: 100%;
          height: auto;
        }

        + li {
          &:before {
            content: '';
            top: -1px;
            left: 5px;
            right: 5px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #333;
            position: absolute;
          }
        }
      }
    }

    ul {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100%;

      list-style: none;

      background: #272727;

      > li {
        display: none;
      }

      ul {
        &:after {
          content: '';
          border: 2px solid transparent;
          border-left: 4px solid #999;
          position: absolute;
          top: 20px;
          margin-top: -2px;
          left: -10px;
          z-index: 2;
        }
      }

      a {
        white-space: nowrap;
      }
    }
  }
}
