// @include sprite-placeholders( 'flags/*.png' ) {
//   content: '';
//   display: inline-block;
// }

@import 'flag/*.png';
$flag-sprite-dimensions: true;
@include all-flag-sprites;

.zed\:header__language-picker {
  float: right;
  line-height: 40px;

  padding: 0 5px;

  > i {
    display: inline-block;
    vertical-align: middle;
  }

  &.has-more {
    position: relative;

    padding-right: 15px;

    border-top-color: #666;

    &:before {
      content: '';
      right: 5px;
      top: 50%;
      margin-top: -2px;

      border: 2px solid transparent;
      border-top-width: 4px;
      border-top-color: inherit;
      border-bottom: 0;

      position: absolute;
    }

    > ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #272727;
      // min-width: 100%;
      width: auto;

      line-height: 1;
      list-style: none;
      // padding: 5px;
      padding: 0;

      overflow: hidden;

      li {
        padding: 2px 5px;

        &:hover {
          background-color: #000;
        }
      }

      a {
        display: block;
        text-decoration: none;
      }
    }


    &:hover {
      border-top-color: #fff;

      > ul {
        display: block;
      }
    }
  }
}
