div.setup-core ul{
  list-style-type:none;
}

div.setup-core div.col1 {
  margin-left:20px;
  float: left;
}

div.setup-core div.col2 {
  margin-left:200px;
  float: left;
}

div.setup-core ul li a:hover {
  text-decoration: none
}
div.setup-core .console{
  background-color:#000;
  color:#FFF;
  font-family:monospace;
  font-size: 12px;
  padding:2px 0px 2px 5px;
  width:260px
}