{% if cart.promotionItems|length > 0 %}
    <div class="small-12 columns">
        <h1>Promotional products</h1>
        {% for promotionItem in promotionProducts %}
            {% include '@cart/cart/parts/cart-item.twig' with { cartItem: promotionItem, promotionItem: true } %}
        {% endfor %}
    </div>
{% endif %}
