body{
    font-family: $_ffBrandonGrotesque-Regular;
    font-size: $_fsDefault;
    line-height: $_lhDefault;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    *{
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}