/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

@import 'progress-bar';

.review-map-column {
  display: inline-block;
}

.review-map-rating-column {
  width: 70px;
}

.br-theme-css-stars .br-widget a {
  margin-top: -5px;
}
