/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

progress.rating-map {
  height: 11px;
  -webkit-appearance: none;
  background-color: $body-background;
  border: 1px solid $medium-gray;
  color: $medium-gray;
}

progress.rating-map::-webkit-progress-value {
  background-color: $medium-gray;
}

progress.rating-map::-webkit-progress-bar {
  background-color: $body-background; width: 100%;
  border: 1px solid $medium-gray;
}

progress.rating-map::-moz-progress-bar {
  background-color: $medium-gray;
}
