<span class="product-label__item-tag">
    <span class="fa fa-tag"></span>
    <span class="product-label__item-tag__content">
        <span class="product-label__item-tag__text">{{ productLabelTransfer.getName() }}</span>
    </span>
</span>
