{% extends "@application/layout/layout.twig" %}

{% block content %}
    <h1>{{ "customer.delete" | trans }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
