{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <h1>{{ "customer.profile" }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div>
        {% for address in addresses %}
            hello, world
        {% endfor %}
    </div>
{% endblock %}
