{% extends "@application/layout/layout.twig" %}


{% block content %}

    <div class="login-slider">

        <div class="login-slider__navigations">
            <div class="login-slider__inner">

                <div class="login-slider__navigation">{{ "customer.password.restore" | trans }}</div>

            </div>
        </div>


        <div class="login-slider__contents">
            <div class="login-slider__inner">

                <div class="login-slider__content">
                    {{ form_start(form, {
                        attr: {
                            class: 'login-slider__form'
                        }
                    }) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    </div>

{% endblock %}
