<div class="js-jquery-bar-rating-stars-read-only">
    <select>
        {% for i in 1..5 %}
            <option value="{{ i }}" {% if i == rating %} selected="selected" {% endif %}>{{ i }}</option>
        {% endfor %}
    </select>
</div>
