<div class="js-jquery-bar-rating-stars-read-only">
    <select data-current-rating="{{ rating }}">
        {% for i in 1..5 %}
            <option value="{{ i }}" >{{ i }}</option>
        {% endfor %}
    </select>
</div>
