// Text Input
//
// Below are the text-oriented form elements used on the site.
//
// #Styleguide: colors.text


// Single-Line Text Boxes
//
// Your standard, everyday text boxes.
//
// :hover    - Highlight the text box when hovering
// :focus    - Similar to `:hover`, however it should demand more attention than
//             when an input is simply hovered.
// :disabled - When disabled, the input's appearance should reflect as such.
//
// Markup: <input type="text" class="{{modifier_class}}" value="Text input"/>
//
// Weight: -1
//
// #Styleguide: colors.single-line


// Label/Text box Pairs
//
// All labelled text boxes should be included in a wrapper `<div>` element for
// both layout convenience and specific styling.
//
// Markup:
// <div class="mod-input text {{modifier_class}}">
//   <label>Text Label</label>
//   {{> "#colors.single-line" modifier_class=""}}
// </div>
//
// .disabled  - Use this class when the text input inside is expected to be
//              disabled.
// .invalid   - Use this class if the input has failed a validation check.
// .valid     - Use this class if the input has passed a validation check
//              (intended for live validation in particular).
//
// #Styleguide: colors.label-pairs
.mod-input {
  position:relative;
  display:block;

  &>label {
    width:45%; font-weight:bold;
  }

  &>input, &>label {
    display  : -moz-inline-stack;
    display  : inline-block;
    zoom     : 1;
    *display : inline;
  }

  &.disabled {
    color:#888;
    input {
      border-color:#ccc;
      background-color:#eee;
      color:#999;
    }
  }

  &.invalid {
    label {
      color:#911;
    }
    input {
      border-color:#e65;
      background-color:#fdd;
    }
  }
  &.valid {
    label {
      color:#191;
    }
    input {
      border-color:#6e5;
      background-color:#dfd;
    }
  }
}
