<div class="styleguide-iframe">
    <iframe width="100%" onload="javascript:resizeIframe(this);" srcdoc='
        <!DOCTYPE html>
        <html>
            <head>
                <link href="../css/styleguide.css" rel="stylesheet" type="text/css"/>
            </head>
            <body>

                <nav class="navbar">
                    <div class="navbar__top">
                        <div class="navbar__item">
                            <span class="navbar__label">Call us:</span>
                            <a class="navbar__phone" href="tel:+4930208984899">030 - 208 98 48 99</a>
                        </div>

                        <div class="navbar__item">
                            <span>Money back guarantee - Free shipping</span>
                        </div>
                    </div>

                    <div class="navbar__bottom">
                        <a class="navbar__logo" href="#">
                            <img src="../images/logo/logo_header.png" alt="Pets Deli Logo" />
                        </a>

                        <ul class="navbar__links">
                            <li class="navbar__link"><a href="#">Home</a></li>
                            <li class="navbar__link navbar__link--active"><a href="#">Dogs</a></li>
                            <li class="navbar__link"><a href="#">Cats</a></li>
                            <li class="navbar__link"><a href="#">Support</a></li>
                            <li class="navbar__link"><a href="#">Contact</a></li>
                            <li class="navbar__link navbar__link--login"><a href="#">Login</a></li>
                            <li class="navbar__link navbar__link--cart"><a href="#">Cart</a></li>
                        </ul>

                    </div>
                </nav>
            </body>
        </html>'>
    </iframe>
</div>