// Product features
//
// Markup: atoms.product-features.hbs
//
// Styleguide: atoms.product-features


.product-features{
    overflow: hidden;
    background: $_rgbWhite;
    padding: 0 ($_xSpacing / 2);

    clear: both;
}

.product-features__inner{
    @include pageWidth;
}

.product-features__title{
    margin-bottom: 10px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 22px;
    color: $_rgbApple;
}


.product-features__category{
    margin-top: 20px;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 20px;
    color: $_rgbDoveGray;
}

.product-features__list{
    margin: 25px 0 50px;
}

.product-features__item{
    margin-left: 30px;

    font-size: 22px;
    color: $_rgbDoveGray;
}

@media (min-width: 675px){
    .product-features__inner{
        padding-left: $_wGallerySmall;
    }
}

@media (min-width: $_wLarge){
    .product-features__item{
        font-size: 16px;
    }
}

@media (min-width: 1050px){
    .product-features__inner{
        padding-left: $_wGalleryBig;
        padding-right: $_wOptions;
    }
}
