.inline-block {
	display: inline-block;
}
.block {
	display: block;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-none {
	float: none;
}

.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}
.clear-none {
	clear: none;
}
