#catalog { padding:20px; }

#catalog #breadcrumbs { display:block; line-height:26px; }

#options:after { display:block; content:''; clear:both; }
#options .sortBy { float:left; }
#options .pagination { float:right; }

#catalog .sidebar { clear:left; margin:20px 0; padding:10px; border:1px solid #ddd; background:#fcfcfc; border-radius:3px; overflow-x:hidden; }
#catalog .filters { list-style:none; margin:0; padding:0; }
#catalog .filters li { margin-bottom:20px; }
#catalog .filters li:last-child { margin-bottom:0; }
#catalog .filters legend { font-size:80%; margin-bottom:6px; }
#catalog .filters legend.min { float:left; }
#catalog .filters legend.max { float:right; }
#catalog .filters h3 { font-size:14px; font-weight:bold; margin:0 0 10px; padding:0 0 2px; border-bottom:1px solid #eee; }
#catalog .filters select { display:block; width:100%; padding:4px 7px; border:1px solid #ddd; }
#catalog .filters .search { margin-bottom:2px; border-radius:0; box-shadow:none; border-color:#ddd; }
#catalog .filters .rangeSlider { display:none; }
#catalog .filters .rangeSliderContainer { position:relative; margin:6px 0 16px; clear:both; height:2px; background:#ddd; }
#catalog .filters .rangeSliderContainer .min,
#catalog .filters .rangeSliderContainer .max { position:absolute; top:-5px; display:block; width:10px; height:10px; margin-left:-5px; background:#777; z-index:2; cursor:pointer; }
#catalog .filters .rangeSliderContainer .min { left:0; }
#catalog .filters .rangeSliderContainer .max { left:100%; }
#catalog .filters .rangeSliderContainer .min:after,
#catalog .filters .rangeSliderContainer .max:after { position:absolute; content:''; bottom:-10px; width:0; height:0; border:5px solid transparent; border-top-color:#777; }
#catalog .filters .rangeSliderContainer .range { position:absolute; top:0; height:2px; margin-left:-5px; background:#aaa; z-index:1; }
#catalog .filters input.min,
#catalog .filters input.max { width:20%; }
#catalog .filters input.max { float:right; }
#catalog .filters label { display:block; margin-top:2px; }

#catalog .products { margin:20px 0 10px; padding:0 0 0 10px; list-style:none; }
#catalog .products:after { display:block; content:''; clear:left; }
#catalog .products li { width:33.3333%; float:left; }
#catalog .products li:nth-child(3n+1) { clear:left; }
#catalog .products li a { display:block; padding:10px; color:inherit; text-decoration:none; border:1px solid transparent; min-height:200px; border-radius:4px; }
#catalog .products li a:after { display:block; content:''; clear:both; }
#catalog .products li a:hover { border-color:#ddd; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.05); }
#catalog .products li h3 { margin:6px 0 3px; padding:0; font-size:18px; }
#catalog .products li h4 { margin:3px 0 6px; padding:0; font-size:14px; color:#777; font-style:italic; }
#catalog .products li img { display:block; width:100%; }
#catalog .products li .oldPrice { float:left; color:#aaa; text-decoration:line-through; }
#catalog .products li .price { float:right; font-weight:bold; }
#catalog .products li .oldPrice + .price { color:#e10000; }