#checkout { padding:20px; border-top:1px solid #ddd; }
#checkout .unnecessary { display:none; }
#checkout .clearRows { clear:left; }
#checkout h3 { margin:0 0 20px; padding:0 0 20px; font-size:20px; border-bottom:1px solid #eee; }
#checkout select { padding:3px; }

#checkout .address { padding:0 20px 0 0; }
#checkout .other { margin-bottom: 20px; }
#checkout .cart { padding:0 0 0 20px; }
#checkout .secondaryRow { padding:20px 0 0 0; margin-top:20px; }
#checkout .address.secondaryRow { display:none; }
#checkout .col { padding-bottom:12px; }
#checkout .col.first { padding-right:0.5em; }
#checkout .col.middle { padding:0 0.5em; }
#checkout .col.last { padding-left:0.5em; }

#checkout .row { padding-bottom:20px; line-height:16px; }
#checkout .row:after { display:block; content:''; clear:both; }
#checkout .row:last-child { padding-bottom:0; }

#checkout .row .details { clear:left; padding:10px; background:#f8f8f8; border:1px solid #e1e1e1; }
#checkout .row .details label { white-space:nowrap; }
#checkout .row .details .multiple { margin:3px 0 0; }
#checkout .row .details .multiple:after { display:block; content:''; clear:left; }
#checkout .row .details .multiple .col { padding:0 2px; }
#checkout .row .details .multiple .col:first-child { padding-left:0; }
#checkout .row .details .multiple .col:last-child { padding-right:0; }

#checkout .row input+label { margin-left:5px; }

#checkout label { font-size:0.9em; font-weight:300; }
#checkout label .fullWidth,
#checkout label+.fullWidth { margin-top:3px; }
#checkout input { font-size:1.1em; font-weight: 300; margin-top: 4px; }
#checkout input[type="checkbox"] { margin-right:6px; }

#checkout .cart .items { width:100%; margin-bottom:20px; }
#checkout .cart .items td { padding:5px 7px 15px; vertical-align:top; }
#checkout .cart .items tbody tr:first-child td { padding-top:0; }
#checkout .cart .items tbody tr:last-child td { padding-bottom:20px; border-bottom:1px solid #eee; }
#checkout .cart .items tfoot tr:first-child td { padding-top:20px; }
#checkout .cart .items tfoot td { padding-bottom:5px; }
#checkout .cart .items td:last-child { text-align:right; }
#checkout .cart .items td:first-child { padding-left:0; }
#checkout .cart .items td:last-child { padding-right:0; }
#checkout .cart .items h4 { margin:0 0 3px; padding:0; font-size:1em; }
#checkout .cart .items h5 { margin:3px 0 0; padding:0; font-size:0.9em; color:#777; font-style:italic; font-weight:normal; }
#checkout .cart .items .oldPrice { display:block; color:#aaa; text-decoration:line-through; font-size:0.8em; }
#checkout .cart .items .oldPrice + .price { color:#e10000; }
#checkout .cart .items .total { font-weight:bold; font-size:1.1em; }
#checkout .cart .items .total .hint { display:block; font-size:0.6em; font-weight:normal; margin-top:2px; color:#aaa; }
#checkout .cart .items .tax td { color:#aaa; }

#checkout .addressSummary { padding-right:20px; }
#checkout .paymentSummary { padding-left:20px; }
#checkout .cartSummary { padding-left:40px; }

#checkout .addressSummary .row,
#checkout .paymentSummary .row { line-height:1.5em; margin-bottom:20px; }

#checkout .step { display:none; }

#checkout .validationError { border-color:red; box-shadow:0 0 4px rgba(255, 0, 0, 0.3); }

#checkout #salesOrder_payment_method { margin-top:-10px; }
#checkout #salesOrder_payment_method > input { display:block; margin:11px 5px; float:left; clear:both; }
#checkout #salesOrder_payment_method > label { display:block; padding:10px; margin-left:0; }
#checkout #salesOrder_payment_method > input:checked + label { background:#e8e8e8; }
#checkout #salesOrder_payment_method > input[value="payment.payone.creditcard_pseudo"] + label { background:url(../images/payment/cc.png) right center no-repeat; }
#checkout #salesOrder_payment_method > input[value="payment.payone.paypal"] + label { background:url(../images/payment/paypal.png) right center no-repeat; }
#checkout #salesOrder_payment_method > input[value="payment.payone.prepayment"] + label { background:url(../images/payment/prepayment.png) right center no-repeat; }
#checkout #salesOrder_payment_method > input[value="payment.payone.direct_debit"] + label { background:url(../images/payment/ec.png) right center no-repeat; }
#checkout #salesOrder_payment_method > input[value="payment.payone.invoice"] + label { background:url(../images/payment/invoice.png) right center no-repeat; }

.success {
  margin: 0 auto;

  .badge {
    position: relative;
  }

  .badge:after {
    background-color: transparent;
    color: #84d95d;
    font-size: 80px;
    display: inline-block;
    content:"\e084";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: -30px;
    left: -65px;
    width: 60px;
    height: 60px;
  }

  .message {
    margin-left: 80px;
    background-color: #f1f1f1;
    color: #000000;
    padding: 5px 8px;
    padding-left: 30px;
    width: 550px;
    //width: 600px;
    border: 1px solid #777;
    position: relative;
    top: 55px;

	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	border-radius:8px;

    .bold {
      font-size: 18px;
      font-weight: bold;
    }
    .hint {
      margin-top: 8px;
      display: inline-block;
      font-weight: normal;
      font-style: italic;
      font-size: 12px;
    }
  }
}