#checkout { padding:20px; border-top:1px solid #ddd; }
#checkout .unnecessary { display:none; }
#checkout .clearRows { clear:left; }
#checkout h3 { margin:0 0 20px; padding:0 0 20px; font-size:20px; border-bottom:1px solid #eee; }

#checkout .address { padding:0 20px 0 0; }
#checkout .cart { padding:0 0 0 20px; }
#checkout .secondaryRow { padding:20px 20px 0 0; margin-top:20px; }
#checkout .address.secondaryRow { display:none; }
#checkout .col.first { padding-right:4px; }
#checkout .col.middle { padding:0 2px; }
#checkout .col.last { padding-left:4px; }
#checkout .col.first.middle { padding-left:0; }

#checkout .row { padding-bottom:20px; line-height:16px; }
#checkout .row:after { display:block; content:''; clear:both; }
#checkout .row:last-child { padding-bottom:0; }

#checkout .row .details { padding:20px 0; }
#checkout .row .details .multiple { margin:3px 0 0; }
#checkout .row .details .multiple:after { display:block; content:''; clear:left; }
#checkout .row .details .multiple .col { padding:0 2px; }
#checkout .row .details .multiple .col:first-child { padding-left:0; }
#checkout .row .details .multiple .col:last-child { padding-right:0; }

#checkout .addSpace { margin-right:3px; }

#checkout label { font-size:0.9em; }
#checkout label input { font-size:1.1em; }
#checkout label .fullWidth,
#checkout label+.fullWidth { margin-top:3px; }

#checkout .cart .items { width:100%; margin-bottom:20px; }
#checkout .cart .items td { padding:5px 7px 15px; vertical-align:top; }
#checkout .cart .items tbody tr:first-child td { padding-top:0; }
#checkout .cart .items tbody tr:last-child td { padding-bottom:20px; border-bottom:1px solid #eee; }
#checkout .cart .items tfoot tr:first-child td { padding-top:20px; }
#checkout .cart .items tfoot td { padding-bottom:5px; }
#checkout .cart .items td:last-child { text-align:right; }
#checkout .cart .items td:first-child { padding-left:0; }
#checkout .cart .items td:last-child { padding-right:0; }
#checkout .cart .items h4 { margin:0 0 3px; padding:0; font-size:1em; }
#checkout .cart .items h5 { margin:3px 0 0; padding:0; font-size:0.9em; color:#777; font-style:italic; font-weight:normal; }
#checkout .cart .items .oldPrice { display:block; color:#aaa; text-decoration:line-through; font-size:0.8em; }
#checkout .cart .items .oldPrice + .price { color:#e10000; }
#checkout .cart .items .total { font-weight:bold; font-size:1.1em; }
#checkout .cart .items .total .hint { display:block; font-size:0.6em; font-weight:normal; margin-top:2px; color:#aaa; }
#checkout .cart .items .tax td { color:#aaa; }

.addressResult { display:none; position:absolute; padding:10px; background:#fcfcfc; border:1px solid #ccc; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2); z-index:1; }
.addressResult:before { position:absolute; display:block; content:''; left:-20px; top:50%; margin-top:-10px; border:10px solid #fff; border-right-color:#ccc; z-index:1; }
.addressResult:after { display:block; content:''; clear:both; }
.addressResult h5 { margin:0 0 20px; font-size:15px; }
.addressResult table { width:100%; margin-bottom:20px; }
.addressResult td { padding:4px 7px; }
.addressResult .label { text-align:right; white-space:nowrap; }
.addressResult table .col + .col { padding-left:4px; }
.addressResult input.name { display:none; }

#checkout .addressSummary { padding-right:20px; }
#checkout .paymentSummary { padding-left:20px; }
#checkout .cartSummary { padding-left:40px; }

#checkout .addressSummary .row,
#checkout .paymentSummary .row { line-height:1.5em; margin-bottom:20px; }

#checkout .step { display:none; }
#checkout .step:first-child { display:block; }