@charset 'utf-8';

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/icon-font';

@import 'base/reset';
@import 'base/typography';
@import 'base/base';

@import 'components/cart';
@import 'components/spinner';
@import 'components/slider';
@import 'components/overlay';
@import 'components/login-form';
@import 'components/header-cart';
@import 'components/search';
@import 'components/catalog-filters';
@import 'components/main-nav';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/homepage';
@import 'layout/product';
@import 'layout/catalog';
@import 'layout/checkout';
@import 'layout/layout';

@import 'vendor/jquery-ui';
@import 'vendor/jquery-ui.structure';
@import 'vendor/jquery-ui.theme';
@import 'vendor/slick';
