#breadcrumbs {
  display: block;
  line-height: 26px;
  margin-bottom: 20px;
}

#product {
  padding: 20px;
  .assist {
    color: #777;
    font-size: 0.9em;

    .usps {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 2em;

      .glyphicon {
        margin-right: 10px;
      }
    }

    .social {
      margin-top: 20px;

      li {
        margin-right: 5px;
      }
    }
  }
  .pictures {
    padding: 0 27px 0 22px;
    .current {
      position: relative;
      border: 1px solid #ddd;
      .prev, .next {
        position: absolute;
        left: -14px;
        top: 50%;
        width: 40px;
        height: 40px;
        line-height: 42px;
        margin-top: -20px;
        background: #fff;
        color: #777;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      }
      .next {
        left: auto;
        right: -14px;
      }
      .zoom {
        position: fixed;
        width: 200px;
        height: 200px;
        z-index: 9;
        border-radius: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background: #fff no-repeat;
        cursor: none;
      }
    }
    img {
      display: block;
      width: 100%;
    }
    .list {
      margin: 10px -2px 0;
      padding: 0;
      list-style: none;
      li {
        padding: 2px;
        &:hover img {
          border-color: #aaa;
        }
      }
    }
    img {
      border: 1px solid #ddd;
      cursor: pointer;
    }
  }
  .item {
    h3 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 150%;
    }
    h4 {
      margin: 3px 0 15px;
      padding: 0;
      font-size: 14px;
      color: #777;
      font-style: italic;
    }
    .oldPrice {
      float: right;
      color: #aaa;
      text-decoration: line-through;
      font-size: 1.4em;
      margin: 0 0 2px;
    }
    .price {
      font-size: 1.9em;
      margin: 0 0 2px;
    }
    .oldPrice + .price {
      color: #e10000;
    }
    .hint {
      font-size: 0.9em;
      color: #aaa;
    }
    form {
      margin-top: 15px;
    }
    .submit {
      margin-top: 5px;
    }
    .unavailable {
      margin-top: 15px;
      color: #777;
      font-style: italic;
    }
  }
  hr {
    margin: 0 0 40px;
    padding: 40px 0 0;
  }
  .superDescription h4, .itemDescription h4, .specs h4 {
    margin: 0 0 1em;
    padding: 0;
  }
  .superDescription {
    padding-right: 20px;
  }
  .itemDescription {
    margin-bottom: 10px;
    padding: 5px 0;
    border-right: 1px solid #f8f8f8;
    border-left: 1px solid #f8f8f8;
    font-style: italic;
  }
  .specs {
    padding-left: 20px;
  }
  .superDescription p, .itemDescription p {
    text-align: justify;
    margin: 1em 0;
    line-height: 135%;
  }
  .specs ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6em;
  }
  .attributes {
    list-style: none;
    border: 1px solid #ccc;
    width: 100%;
    tr {
      color: #000000;
      &:nth-child(2n) {
        background-color: #f1f1f1;
      }
      &:nth-child(2n+1) {
        background-color: #FFFFFF;
      }
    }
    td {
      padding: 5px;
      .product_attribute {
        font-weight: bold;
        width: 30%;
      }
      .meassurement {
        font-style: italic;
      }

    }
  }
}