form {
  .field {
    input, select {
      border: 1px solid #ccc;
      max-width: 400px;
      width: 100%;
    }
  }
}

.custom-form {
  label {
    display: block;
  }

  input[type="submit"] {
    width: auto;
  }

  input, select {
    border: 1px solid #ccc;
    max-width: 400px;
    width: 100%;
  }
}
