.panel {
  background: #f5f5f5;
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 15px;

  .panel-heading {
    padding: 5px;
    background: #f9f9f9;
  }
  .panel-body {
    padding: 5px;
    background: #fff;
    overflow: hidden;

    p {
      margin-bottom: 5px;
    }

    h3 {
      font-size: 22px;
      margin: 0;
    }

    h4 {
      font-size: 18px;
      margin: 0;
    }
  }
}

