$boderColor: #cdcdcd;

.table {
  border: 1px solid $boderColor;
  margin-bottom: 15px;
  width: 100%;

  caption {
    background: #f5f5f5;
    text-align: left;
    padding: 5px;
    border: 1px solid $boderColor;
    border-bottom: 0;
  }

  &.border-bottom {
    border: 0;
    border-top: 1px solid $boderColor;

    th, td {
      border: 0;
      border-bottom: 1px solid $boderColor;
    }
  }

  th, td {
    border: 1px solid $boderColor;
    border-bottom: 0;
    padding: 4px;
    text-align: left;

    &.text-left {
      @include text-align(left);
    }

    &.text-center {
      @include text-align(center);
    }

    &.text-right {
      @include text-align(right);
    }
  }

}
