<div class="header__cart js-shopping-cart">
    <a href="#" class="cart__toggle js-cart-toggle">{{ 'cart.cart'|trans }}</a>
    <a href="#" class="cart__close js-cart-close">Close</a>
    <div class="cart__contents">
        <div id="cart-overlay"></div>
    </div>
</div>
