<h5>Categories</h5>
<ul class="menu vertical">
    <li><a href="/category/1">Category 1</a></li>
    <li>
        <ul class="menu vertical nested">
            <li><a href="/category/1/subcategory/11">SubCategory 11</a></li>
            <li><a href="/category/1/subcategory/12">SubCategory 12</a></li>
        </ul>
    </li>
    <li><a href="/category/2">Category 2</a></li>
    <li>
        <ul class="menu vertical nested">
            <li><a href="/category/2/subcategory/21">SubCategory 21</a></li>
            <li><a href="/category/2/subcategory/22">SubCategory 22</a></li>
            <li><a href="/category/2/subcategory/23">SubCategory 23</a></li>
        </ul>
    </li>
    <li><a href="/category/3">Category 3</a></li>
    <li><a href="/category/4">Category 4</a></li>
    <li>
        <ul class="menu vertical nested">
            <li><a href="/category/4/subcategory/41">SubCategory 41</a></li>
            <li><a href="/category/4/subcategory/42">SubCategory 42</a></li>
            <li><a href="/category/4/subcategory/43">SubCategory 43</a></li>
            <li><a href="/category/4/subcategory/44">SubCategory 44</a></li>
        </ul>
    </li>
</ul>
