<nav class="navbar navbar-spryker navbar-fixed-top">
    <div class="container-fluid navigation-bar">
        <div class="navbar-header">
            <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand2 shop-logo" title="{ 'global.spryker.shop' | trans }"></a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
            <div class="text-center">
                <div class="pull-right header-nav-placeholder">
                    <div class="header-cart pull-right"><a href=""><i class="fa fa-shopping-cart fa-inverse"></i></a></div>
                    <div class="js-search pull-right">
                        <form action="/search">
                            <button class="btn js-search-button"><i class="fa fa-search"></i></button>
                            <input type="text" class="search--box js-search-box" name="q" />
                        </form>
                    </div>
                </div>
                <a href="" class="header-categories-dropdown"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
    <div class="header-categories container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="/de/meere"><img src="/images/nav/sealife.jpg" alt=""></a></li>
                    <li><a href=""><img src="/images/nav/wildlife.jpg" alt=""></a></li>
                    <li><a href=""><img src="/images/nav/waldnwiese.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>



{% for i in 1..60 %}
    <p class="asd">&nbsp;</p>
{% endfor %}

