<nav class="navbar navbar-fixed-top navbar-spryker">
    <div class="container-fluid navigation-bar">
        <div class="navbar-header">
            <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand2 shop-logo" title="{ 'global.spryker.shop' | trans }"></a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
            <div class="text-center">
                <div class="pull-right header-nav-placeholder">
                    <div class="header-cart pull-right"><a href=""><i class="fa fa-shopping-cart fa-inverse"></i></a></div>
                    <div class="js-search pull-right">
                        <form action="/search">
                            <button class="btn js-search-button"><i class="fa fa-search"></i></button>
                            <input type="text" class="search--box js-search-box" name="q" />
                        </form>
                    </div>
                </div>
                <a href="#" id="nav-categories" class="header-categories-dropdown"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
</nav>
