{% import '@application/layout/macros.twig' as navigation %}

<div class="header-categories container-fluid" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for category in categories %}
                    {{ navigation.categoryItem(category.name, category.url, category.image) }}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
