{% if availableLanguages is defined and availableLanguages|length > 0 %}
    <form method="GET" action="" data-component="language-switch">
        <select name="" onchange="this.form.action='/' + this.value;this.form.submit()">
            {% for availableLanguage in availableLanguages %}
                <option value="{{ availableLanguage }}" {{ (availableLanguage == currentLanguage) ? 'selected' : ''}}>{{ availableLanguage }}</option>
            {% endfor %}
        </select>
    </form>
{% endif %}


