<div class="callout">
    <h5>{{ 'navigation.menu.categories' | trans }}</h5>

    {{ spyNavigation('MAIN_NAVIGATION', '@application/layout/navigation/main-mobile.twig') }}

    <ul class="menu vertical">
        <li><hr/></li>
        <li class="row align-middle">
            <a class="shrink columns" href="/cart"><i class="fa fa-shopping-cart"></i>Cart</a>
            <span class="columns text-right collapse">
                    {% if app['cart.quantity'] > 0 %}
                        <span class="warning badge">{{ app['cart.quantity'] }}</span>
                    {% endif %}
                </span>
        </li>
        {% include '@application/layout/partials/customer-navigation.twig' %}
    </ul>
</div>
