{# TODO: not used any more #}
<div class="callout">
    <div class="row">
        <div class="large-12 columns show-for-large">
            <ul class="menu align-right">
                {% include '@application/layout/partials/language-navigation.twig' %}
                {% if app['cart.quantity'] > 0 %}
                    <li><span class="warning badge float-left">{{ app['cart.quantity'] }}</span></li>
                {% endif %}
                <li><a href="{{ url('cart') }}"><i class="fa fa-shopping-cart"></i>{{ 'global.cart' | trans }}</a></li>
                {% include '@application/layout/partials/customer-navigation.twig' %}
            </ul>
        </div>

        <div class="small-12 columns hide-for-large">
            {% include '@application/layout/partials/search-form.twig' %}
        </div>
    </div>
</div>

<div class="callout">
    <div class="row">
        <div class="large-12 columns show-for-large">
            <ul class="menu">
                {% include '@application/layout/partials/category-items.twig' %}
            </ul>
        </div>
    </div>
</div>

