<a href="https://twitter.com/sprysys?lang=de" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
<a href="https://www.xing.com/companies/sprykersystemsgmbh" target="_blank"><i class="fa fa-xing fa-2x"></i></a>
<a href="https://www.linkedin.com/company/spryker-systems-gmbh" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
<a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
