<div class="suggestions" data-component="suggestions">
    <form class="suggestions__search-form" action="/search">
        <div class="input-group __no-margin-bottom">
            <input type="text" class="input-group-field suggestions__input suggestions__input--shadow js-input-shadow" autocomplete="off">
            <input name="q" type="text" class="input-group-field suggestions__input js-input" placeholder="{{ 'global.search' | trans }}" value="{{ app.request.get('q') }}" autocomplete="off">
            <div class="input-group-button suggestions__submit">
                <button type="submit" class="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="suggestions__panel-container js-panel"></div>
</div>
