{% if productGroupItems|length %}
    <div class="callout">
        <h5>{{ 'product.groups' | trans }}</h5>
        {{ spyProductGroupItems(product.idProductAbstract, '@ProductGroup/partials/product-group-items.twig') }}
    </div>
{% endif %}
