{% if productGroupItems|length %}
    <div class="callout">
        <h5>{{ 'product.groups' | trans }}</h5>
        <ul class="simple menu">
            {% for productGroupItem in productGroupItems %}
                <li><a href="{{ productGroupItem.url }}">{{ productGroupItem.sku }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
