{% if product.superAttributes|length > 0 %}
    <p>
    <form method="GET" data-component="product-variants">
        <h5>{{ 'product.variants' | trans }}</h5>
        {% for attributeName,attributes in product.superAttributes %}
            {% include '@Product/product/partials/variant.twig' with {
                attributeFieldName: 'attribute[' ~ attributeName ~ ']'
            } %}
        {% endfor %}
    </form>
    </p>
{% endif %}
