{% extends "@application/layout/layout.twig" %}

{% block content %}
<div class="container">
    <div class="row cms-page">
        <div class="col-xs-12 col-md-12">
            <h1>Error</h1>
        </div>

        Whoops something went wrong!
    </div>
</div>
{% endblock %}
