{% extends "@application/layout/layout.twig" %}

{% block content %}
    <br /><br /><br /><br />

    <h1>Payment</h1>

    {{ form_start(paymentForm) }}
        {{ form_widget(paymentForm.paymentSelection) }}

        {% for paymentMethodSubForm in paymentMethodsSubForms %}
            {% include "@" ~ paymentMethodSubForm ~ ".twig" with {'form': paymentForm} %}
        {% endfor %}
    {{ form_end(paymentForm) }}

    <a href="{{ previousStepUrl }}">Back</a>
{% endblock %}
