{% extends "@application/layout/layout.twig" %}

{% block content %}
    <br /><br /><br /><br />

    <h1>Payment</h1>

    {{ form_start(form) }}
        {{ form_widget(form.paymentId) }}

        {% for paymentMethodSubForm in paymentMethodsSubForms %}
        {% include "@" ~ paymentMethodSubForm ~ ".twig" %}
        {% endfor %}
    {{ form_end(form) }}

    <a href="{{ previousStepUrl }}">Back</a>
{% endblock %}
