{% extends "@application/layout/layout.twig" %}

{% block content %}
    <br /><br /><br /><br />

    <h1>Shipment</h1>

    {{ form_start(shipmentForm) }}
    {{ form_widget(shipmentForm.shipmentSelection) }}

    {% for shipmentMethodSubForm in shipmentMethodsSubForms %}
        {% include "@" ~ shipmentMethodSubForm ~ ".twig" with {'form': shipmentForm} %}
    {% endfor %}
    {{ form_end(shipmentForm) }}

    <a href="{{ previousStepUrl }}">Back</a>
{% endblock %}
