{% extends "@application/layout/full.twig" %}

{% block content %}
    This page should look like this:
    <a href="https://projects.invisionapp.com/d/main#/console/2544044/70211543/preview">Have a look on invisionapp.com</a>
{% endblock %}
