{% extends "@application/layout/layout.twig" %}

{% block content %}

    {% include "@application/layout/header.twig" %}

    <div class="order-success{% if form is defined %} order-success--register{% endif %}">
        <div class="order-success__inner">

            <div class="order-success__content">
                <h1 class="order-success__headline">Vielen Dank für Ihren Einkauf!</h1>
                <p class="order-success__details">
                    Ihre Bestellnummer lautet: <span class="order-success__number">{{ order.order_reference }}</span>
                </p>
                <a class="order-success__button button button--wide" href="/">Weiter einkaufen</a>
            </div>


            {% if form is defined %}
                {% include "@customer/customer/create-password.twig" %}
            {% endif %}

            <div class="order-success__image">
                <img src="{{ random(['/images/checkout/checkout-dog.jpg', '/images/checkout/checkout-cat.jpg']) }}" alt="Tierbild" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // TODO: abstract into module, remove inline
        (function () {
            var purchase, products;

            purchase = window.dataLayer[1].page.purchase;
            products = window.dataLayer[1].page.products;

            var data = {
                'ecommerce': {
                    'purchase': {
                      'actionField': {
                        'id': purchase.id,
                        'affiliation': 'Online Store',
                        'revenue': purchase.revenue,
                        'tax': purchase.tax,
                        'shipping': dataLayer[1].page.purchase.shipping ? dataLayer[1].page.purchase.shipping : 0,
                        'coupon': dataLayer[1].page.purchase.coupon ? dataLayer[1].page.purchase.coupon : ''
                      },
                      'products': []
                    }
                }
            };

            if (dataLayer[1].page.purchase.shipping) {

            }

            for (var i = 0; i < products.length; i++) {
                var product = products[i];

                data.ecommerce.purchase.products.push({
                      'name': product.name,
                      'id': product.id,
                      'price': product.price,
                      'brand': product.brand,
                      'category': '',
                      'variant': '',
                      'quantity': product.quantity
                });
            }

            console.info(data);
            window.dataLayer.push(data);
        }());
    </script>

    {% include "@application/layout/footer.twig" %}

{% endblock %}
