{% extends "@application/layout/reduced.twig" %}

{% block content %}
    <section class="consumeHeight">
        We received your Order and will now NOT process it!
        <br/>
        Number : {{ order.incrementId }}
    </section>
{% endblock %}
