{% extends "@application/layout/layout.twig" %}

{% block content %}

    {% include "@application/layout/header.twig" %}

    <div class="order-success{% if form is defined %} order-success--register{% endif %}">
        <div class="order-success__inner">

            <div class="order-success__content">
                <h1 class="order-success__headline">Vielen Dank für Ihren Einkauf!</h1>
                <p class="order-success__details">
                    Ihre Bestellnummer lautet: <span class="order-success__number">{{ order.customer.customer_reference }}</span>
                </p>
                <a class="order-success__button button button--wide" href="/">Weiter einkaufen</a>
            </div>


            {% if form is defined %}
                {% include "@customer/customer/create-password.twig" %}
            {% endif %}

            <div class="order-success__image">
                <img src="{{ random(['/images/checkout/checkout-dog.jpg', '/images/checkout/checkout-cat.jpg']) }}" alt="Tierbild" />
            </div>
        </div>
    </div>

    {% include "@application/layout/footer.twig" %}

{% endblock %}
