// Plus
//
// Markup: organisms.plus.hbs
//
// Styleguide: organisms.plus

.plus{
    padding: 50px 0;
    background: $_rgbWhite;
    clear: both;
}

.plus__inner{
    @include clearfix;
    @include pageWidth;

    text-align: center;
}

.plus__item{
    padding: 0 24px;

    & + .plus__item{
        margin-top: 50px;
    }
}

.plus__image{
    margin-bottom: 20px;

    img{
        @include responsiveImage
        max-width: 147px;
        margin: 0 auto;
    }
}

.plus__description{
    max-width: 330px;
    margin: 0 auto;

    color: $_rgbSilverChalice;
}

@media (min-width: 600px) {
    .plus__item{
        width: 50%;
        display: inline-block;
        margin-top: 0 !important;
        vertical-align: top;

        &:last-child{
            margin-top: 50px !important;
        }
    }

    .plus__description{
        max-width: 300px;
    }
}


@media (min-width: 900px) {
    .plus{
        padding: 70px 0;
    }

    .plus__item{
        width: 33.333%;

        &:last-child{
            margin-top: 0 !important;
        }
    }

    .plus__label{
        margin-bottom: 40px;
    }
}