<div class="plus">
    <div class="plus__inner">
        <div class="plus__item">
            <div class="plus__figure">100%</div>
            <div class="plus__label">Lebensmittelqualität</div>
            <div class="plus__description">
                Alle Zutaten und Produkte von uns besitzen Lebensmittelqualität, um ihnen das Höchstmaß an Qualität bieten zu können.
            </div>
        </div>
        <div class="plus__item">
            <div class="plus__figure">100%</div>
            <div class="plus__label">Naturnah und artgerecht</div>
            <div class="plus__description">
                Wir verwenden ausschließlich natürliche Zutaten und verzichten gänzlich auf tierische Nebenerzeugnisse und Abfallprodukte.
            </div>
        </div>
        <div class="plus__item">
            <div class="plus__figure">0%</div>
            <div class="plus__label">Tricks</div>
            <div class="plus__description">
                Für unsere Produkte verwenden wir ausnahmslos reines Muskelfleisch, frische Zutaten und keinerlei tierische Nebenerzeugnisse oder künstliche Zusätze - 100% Transparenz.
            </div>
        </div>
    </div>
</div>