{% extends '@Gui/Layout/layout.twig' %}

{% set section_title = ('Products List (Mock Data)' | trans) %}

{% block action %}
    {{ backActionButton('/product', 'List Products' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: ('Product form' | trans) } %}

        {% block widget_content %}

        <form class="json-form" method="post" action="/product/index/save/{{ idAbstractProduct }}">
            <textarea class="json-form__data" name="json" id="productJson" rows="100">{{ json }}</textarea>

            <button class="json-form__button btn btn-sm btn-primary" type="submit">
                {{ 'Submit' | trans }}
            </button>
        </form>

        {% endblock %}

    {% endembed %}

{% endblock %}
