<div class="product-card-wide">
   <div class="product-card-wide__inner">
       <div class="product-card-wide__image">
           <div class="product-card-wide__label">Snacks</div>
           <img src="../images/product/cookies.jpg" />
       </div>
       <div class="product-card-wide__info">
           <div class="product-card-wide__title">Bio Cookie</div>
           <div class="product-card-wide__price-total">€4.00</div>
           <div class="product-card-wide__price-relative">250ml (€2.80 / 100g)</div>
           <div class="product-card-wide__add button button--cta">In den Warenkorb</div>
       </div>
   </div>
</div>