{% if product.concrete_products is defined %}
    {% set productConcrete = product.concrete_products | first %}

    <div class="product-card">
        <div class="product-card__inner">
            <div class="product-card__image">
                <div class="product-card__label">#Most popular</div>
                <img src="../images/product/small_1.jpg" />
            </div>
            <div class="product-card__content">
                <div class="product-card__infos">
                    <div class="product-card__info">
                        {{ product.abstract_name }}
                    </div>
                </div>
                <div class="product-card__footer">
                    <div class="product-card__pricing">
                        <div class="product-card__price-total">
                            {% if productConcrete.prices is defined %}
                                {{ productConcrete.prices.DEFAULT | price }}
                            {% else %}
                                {{ product.valid_price | price }}
                            {% endif %}
                        </div>
                        <div class="product-card__price-relative">
                            {% if productConcrete.attributes.weight is defined %}
                                {{ productConcrete.attributes.weight }} (€1,4 / 100g)
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-card__detail">
                        {% include '@application/layout/common/forms/button.twig' with {
                            title: 'Zum Produkt',
                            url: product.abstract_attributes.url
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}