{% for payment in cart.payments %}
    {% if payment.giftCard is not null %}
        <li>
            <div class="row">
                <div class="small-8 columns">
                    {{ payment.giftCard.name }}
                    <small><a href="{{ url('cart/voucher/remove', {'code': payment.giftCard.code}) }}"><span class="fa fa-remove"></span> {{ 'cart.voucher.remove' | trans }}</a></small>
                </div>
                <div class="small-4 columns text-right">- {{ payment.giftCard.value | money }}</div>
            </div>
        </li>
    {% endif %}
{% endfor %}
