{% set productImage = cartItem.images | first %}

{% if productImage is not empty %}
    <div class="cart-item__image-container small-3 large-2 columns">
        <img class="thumbnail cart-item__image" src="{{ productImage.externalUrlLarge }}"/>
    </div>
{% else %}
    <div class="small-3 large-2 columns text-center">
        <small>{{ 'global.no_image_available' | trans }}</small>
    </div>
{% endif %}
