{% set data = {
    headline: 'Das sagen unsere Kunden',
    clients: [
        {
            image: '/images/client/aimee.jpg',
            quote: '“Wir haben alle möglichen (billigen und teuren) Trocken- und Naßfuttervarianten ausprobiert, aber irgendwie hat mich nie etwas richtig überzeugt. Es gab immer wieder unschöne Nebeneffekte: Durchfall, Verstopfungen, Probleme mit ihrem Fell, Vitalitätsverlust oder Geruch - mit PETS DELI haben wir endlich das perfekte Futter gefunden und Aimée sah noch nie besser aus!”',
            owner: 'Kristina Seemayer mit Hündin Aimée'
        },
        {
            image: '/images/client/barry.jpg',
            quote: '“Unser Pudel Barry ist ein sehr mäkeliger Fresser, aber bei PETS DELI frisst er jedes mal mit Genuss seinen Napf leer und auch wir riechen das Futter gerne - Endlich haben wir das richtige Futter für Barry gefunden!”',
            owner: 'Pia Retterath mit Pudel Barry'
        }
    ]
} %}

<div class="clients">

    <div class="clients__testimonials">
        <h2 class="clients__headline">{{ data.headline }}</h2>

        <div class="clients__items">

            {% for client in data.clients %}
            <div class="clients__item">
                <img class="clients__item-image" src="{{ client.image }}">
                <p class="clients__item-quote">{{ client.quote }}</p>
                <p class="clients__item-owner">{{ client.owner }}</p>
            </div>
            {% endfor %}

        </div>
    </div>

</div>