{% set data = {
    headline: 'Unsere Starter Pakete',
    facts: [
        'Für jedes Alter',
        'Für jede Rasse'
    ],
    images: {
        left: '/images/frontpage/featured-products/dog.jpg',
        right: '/images/frontpage/featured-products/cat.jpg'
    }
} %}


<div class="featured-products">

    <div class="featured-products__inner">
        <img class="featured-products__background featured-products__background--left" src="{{ data.images.left }}">
        <img class="featured-products__background featured-products__background--right" src="{{ data.images.right }}">

        <div class="featured-products__intro">
            <h2 class="featured-products__headline">{{ data.headline }}</h2>
            <div class="featured-products__facts">
                {% for fact in data.facts %}
                    <span class="featured-products__fact">{{ fact }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="featured-products__products">
            {% include "@application/layout/content/product/product-card.twig" with {
                product: {
                    abstract_name: 'PETS DELI MIXFLOCKEN 250G',
                    valid_price: 350,
                    url: 'http://www.de.pets-deli.dev/pets-deli-mixflocken-250g'
                }
            } %}

            {% include "@application/layout/content/product/product-card.twig" with {
                product: {
                    abstract_name: 'PETS DELI LEINÖL 250ML',
                    valid_price: 700,
                    url: 'http://www.de.pets-deli.dev/pets-deli-leinoel-250ml'
                }
            } %}
        </div>
    </div>
</div>