{% set data = {
    headline: 'Unsere Starter Pakete',
    facts: [
        'F端r jedes Alter',
        'F端r jede Rasse'
    ],
    images: {
        left: '/images/frontpage/featured-products/dog.jpg',
        right: '/images/frontpage/featured-products/cat.jpg'
    }
} %}


<div class="featured-products">

    <div class="featured-products__inner">

        {% include '@application/layout/common/lazy-image.twig' with {
            src: data.images.left,
            class: 'featured-products__background featured-products__background--left',
            label: 'Produktabbildung'
        } %}

        {% include '@application/layout/common/lazy-image.twig' with {
            src: data.images.right,
            class: 'featured-products__background featured-products__background--right',
            label: 'Produktabbildung'
        } %}


        <div class="featured-products__intro">
            <h2 class="featured-products__headline">{{ data.headline }}</h2>
            <div class="featured-products__facts">
                {% for fact in data.facts %}
                    <span class="featured-products__fact">
                        <span class="featured-products__fact-inner">
                            {{ fact }}
                        </span>
                    </span>
                {% endfor %}
            </div>
        </div>


        <div class="featured-products__products">
            {% include "@application/layout/content/product/product-card.twig" with {
                product: {
                    abstract_name: 'Starter-Paket f端r Hunde',
                    concrete_products: [{
                        prices: {
                            DEFAULT: 2000
                        },
                        attributes: {
                            weight_unit: 'kg',
                            weight: 2.5
                        }
                    }],
                    abstract_attributes: {
                        url: '/hunde-nahrung/hochwertige-hundefutter-menues/starterpaket-hund-163.html',
                        media: [
                            {
                                url: 'pets-deli-starter-paket-f%C3%BCr-hunde-(10x-men%C3%BCboxen)-4911190.jpg'

                            }
                        ]
                    }
                }
            } %}

            {% include "@application/layout/content/product/product-card.twig" with {
                product: {
                    abstract_name: 'Starter-Paket f端r Katzen',
                    concrete_products: [{
                        prices: {
                            DEFAULT: 1500
                        },
                        attributes: {
                            weight_unit: 'kg',
                            weight: 1.5
                        }
                    }],
                    abstract_attributes: {
                        url: '/katzen-nahrung/hochwertige-katzenfutter-menues/starterpaket-katze.html',
                        media: [
                            {
                                url: 'pets-deli-starter-paket-f%C3%BCr-katzen-(10x-men%C3%BCboxen)-4921191.jpg'

                            }
                        ]
                    }
                }
            } %}
        </div>

    </div>
</div>