<div class="teaser">
    <div class="teaser__background" style="background: url({{ image }})">
        <div class="teaser__center">
            <div class="teaser__content">
                <h2 class="teaser__headline">{{ title }}</h2>


                <a href="{{ button.url }}" class="button button--ghost button--white">
                    {{ button.title }}
                </a>
            </div>
        </div>
    </div>
</div>