// Hero
//
// Markup: organisms.hero.hbs
//
// Styleguide: organisms.hero


.hero{
    position: relative;
    height: calc(100vh - 118px);
    overflow: hidden;
}

.hero__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
}

.hero__center{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    transform: translate3d(0, -50%, 0);

    text-align: center;
    color: #FFF;
}

.hero__content{
    padding: 0 14px;
}

.hero__headline{
    margin-bottom: 25px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 46px;
    line-height: 1em;
    color: $_rgbWhite;

    text-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.hero__description{
    font-family: $_ffBrandonGrotesque-Black;
    font-size: 18px;
    color: $_rgbWhite;

    text-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.hero__scroll{
    bottom: -48px;
    left: 50%;
    margin-left: -48px;

    width: 96px;
    height: 96px;
    border-radius: 50%;

    @include pdif('arrow-down', 19px, 11px);
    position: absolute;
    color: $_rgbWhite;
    background: $_rgbApple;

    cursor: pointer;

    &:before{
        width: 100%;
        margin-top: -28px;
        text-align: center;
    }
}



@media (min-width: $_wLarge) {
    .hero{
        height: calc(100vh - 103px);
    }

    .hero__headline{
        font-size: 60px;
        text-shadow: none;
    }

    .hero__description{
        font-size: 33px;
        text-shadow: none;
    }
}

@media (max-width: 400px) {
    .hero__headline{
        margin-bottom: 15px;

        font-size: 40px;
    }
}