<div class="hero">
    <div class="hero__background" style="background-image: url(/images/hero/background.jpg);"></div>
    <div class="hero__center">
        <div class="hero__content">
            <h1 class="hero__headline">Gesunde Nahrung <br> für Hunde und Katzen</h1>
            <p class="hero__description">
                100% Lebensmittelqualitat. <br> 100% Naturnah und artgerecht. <br> 0% Tricks
            </p>
        </div>
    </div>
    <div class="hero__scroll js-scroll-button" data-scroll-target="plus-section"></div>
</div>