// Newsletter
//
// Markup: organisms.newsletter.hbs
//
// Styleguide: organisms.newsletter

.newsletter{
    padding: 40px 0 35px;
    background: $_rgbAlabaster;
}

.newsletter__inner{
    @include pageWidth;
}

.newsletter__headline{
    margin-bottom: 20px;

    font-family: $_ffBrandonGrotesque-Black;
    color: $_rgbApple;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
}

.newsletter__description{
    @include limitWidth(600px);
    margin-bottom: 25px;

    color: $_rgbOsloGray;
    text-align: center;
    font-size: 16px;
}

.newsletter__form{
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    .input{
        flex-grow: 1;
        margin-right: 5px;
    }

    .input__text{
        background: $_rgbWhite;
    }

    .button{
        margin-top: 18px;
    }
}

.newsletter__top{
    display: flex;
}

.newsletter__bottom{
    margin-top: 15px;
    text-align: left;
}

@media (min-width: $_wLarge) {
    .newsletter__content{
        position: absolute;
        right: 13%;
        width: 37%;
        padding: 0;
    }
}
