<div class="newsletter">
    <div class="newsletter__inner">
        <h2 class="newsletter__headline">PETS DELI Newsletter</h2>
        <p class="newsletter__description">
            Erhalten Sie wöchtlich wertvolle Tipps und Beratung rund um ihr Haustier, mit den Themen Gesundheit, Ernährung, Spaß&Spiel und vielem mehr.
        </p>
        <form class="newsletter__form">
           {{> "atoms.input" placeholder="Ihre E-Mail-Adresse..."}}
           <button type="button" class="button button--cta">Abonnieren</button>
        </form>
    </div>
</div>