// Cart layer
//
// Markup: molecules.cart-layer.hbs
//
// Styleguide: molecules.cart-layer
//
// Weight: -2

.cart-layer{
    position: relative;
    width: 20%;
    float: left;
    @include sectionShadow;

    &.js-processed{
        transition: margin-top $_tMedium ease-in-out;
    }

    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: -45px;
        left: 0;
        height: 45px;
        width: 100%;
        background: $_rgbWhite;
    }
}

.cart-layer__inner{
    position: relative;
    z-index: 1;
    background: $_rgbWhite;
    max-height: calc(100vh - 120px);
    overflow: auto;
}

.cart-layer--open{
    &:after{
        content: '';
        z-index: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $_rgbBlack70;
    }
}

.cart-layer__headline{
    margin: 30px 95px 25px 25px;

    font-family: $_ffBrandonGrotesque-Black;
    font-size: 45px;
    line-height: 1em;
    color: $_rgbApple;
    text-align: center;
}

.cart-layer__items{
    //@include pageWidth;
    display: table;
    width: 100%;

    border-bottom: 1px solid $_rgbSilver;
}

.cart-layer__upsell{
    float: left;
    width: 50%;
}

.cart-layer__amount{
    padding: 50px 40px;
    float: left;
    width: 50%;
    text-align: right;
}

.cart-layer__total{
    padding-bottom: 30px;

    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 30px;
    color: $_rgbDoveGray;
    text-transform: uppercase;

    em{
        padding-left: 25px;
        font-style: normal;
        font-size: 40px;
        white-space: nowrap;
    }
}

.cart-layer__empty{
    @include pdif('cart-empty', 55px, 0);
    width: 100%;
    margin-bottom: 100px;
    padding: 85px 0 20px 0;

    font-size: 22px;
    text-align: center;
    color: $_rgbSilverChalice;

    border-top: 1px solid $_rgbSilver;
    border-bottom: 1px solid $_rgbSilver;

    &:before{
        position: absolute;
        left: 50%;
        top: 53px;
        margin-left: -18px;
    }
}



// TODO: invert

@media (max-width: $_wMedium) {
    .cart-layer__amount{
        padding: 17px;

        .button{
            width: 100%;
        }
    }
}


@media (min-width: $_wMedium) {
    .cart-layer__headline{
        margin: 27px;
        font-size: 50px;
    }
}

@media (max-width: $_wLarge) {
    .cart-layer__upsell{
        display: none;
    }

    .cart-layer__amount{
        width: 100%;
    }
}

@media (max-width: 420px) {
    .cart-layer__headline {
        margin: 17px 95px 14px 25px;
        font-size: 35px;
    }

    .cart-layer__amount {
        padding: 10px 10px 30px;
    }

    .cart-layer__total {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .cart-layer__total em {
        font-size: 25px;
    }
}

@media (max-width: 350px) {
    .cart-item__left-inner{
        display: block;
    }
}