<div class="cart-layer">
   {{> atoms.close-button}}
   <div class="cart-layer__inner">
       <h2 class="cart-layer__headline">Cart</h2>
       <div class="cart-layer__items">
           {{> molecules.cart-item}}
           {{> molecules.cart-item}}
       </div>
       <div class="cart-layer__upsell">
           {{> molecules.product-card-wide}}
       </div>
       <div class="cart-layer__amount">
           <div class="cart-layer__total">Total €20.00</div>
           <div>{{> "atoms.button" modifier_class="button--cta" title="Proceed to checkout"}}</div>
       </div>
   </div>
</div>