<div class="row">
    {% if products is defined %}
        {% for product in products %}
            <div class="small-12 medium-6 large-4 xlarge-3 columns">
                {% include "@catalog/catalog/partials/product.twig" with {
                    detailsUrl: product.url,
                    name: product.abstract_name,
                    priceValue: product.price,
                    imageUrl: (product.images|length ? product.images.0.external_url_small : '')
                } %}
            </div>
        {% endfor %}
    {% endif %}
</div>
