/**
 * This file is part of the Spryker Demoshop.
 * For full license information, please view the LICENSE file that was distributed with this source code.
 */

ul.product-group {
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
    margin-left: 0;
    margin-right: 0.2rem;

    a {
      display: inline-block;
      border: 1px solid $light-gray;
      min-height: 2em;
      min-width: 2.5em;
      padding: 0.3em;
      font-size: 0.6rem;
      text-align: center;
      color: #fefefe;
    }

    &:first-child a {
      border: 2px solid $secondary-color;
    }
  }
}
