// Client
//
// Markup: molecules.client.hbs
//
// Styleguide: molecules.client

.client{
    text-align: center;
}

.client__portrait{
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;

    background-position: center !important;
    background-size: cover !important;

    &:after{
        content: '';
        position: absolute;
        top: 74px;
        left: 50%;
        margin-left: -9px;
        width: 18px;
        height: 2px;
        background: $_rgbAlto;
    }
}

.client__quote{
    margin-bottom: 15px;

    color: $_rgbDoveGray;
    font-size: 16px;
    line-height: 28px;
}

.client__name{
    font-family: $_ffBrandonGrotesque-Bold;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;

    &:before{
        content: '–';
    }
}